<div class="container" *ngIf="this.fieldType === SINGLE_LINE_TEXT">
  <mat-form-field fxFlex color="accent">
    <input matInput placeholder="{{fieldNameAlt}}" value="{{fieldValue}}" appFocus [(ngModel)]="fieldValue"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="updateField()">SAVE</button>
</div>

<div class="container" *ngIf="this.fieldType === DATE">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Birthday (DD/MM/YYYY)" [(ngModel)]="fieldValue">
    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
    <mat-datepicker touchUi="true" #picker [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" style="width: 100%">
    <mat-form-field fxFlex="8">
        <input matInput maxlength="2" size="2" placeholder="DD">
    </mat-form-field>
    <mat-form-field fxFlex="10">
        <input matInput maxlength="2" size="2" placeholder="MM">
    </mat-form-field>
    <mat-form-field fxFlex="20">
        <input matInput maxlength="4" size="4" placeholder="YYYY">
    </mat-form-field>
  </div> -->
  <button mat-raised-button color="primary" (click)="updateField()">SAVE</button>
</div>

<div class="container a" *ngIf="this.fieldType === ADDRESS">
  <form [formGroup]="aForm">
    <mat-form-field class="fw-ff" color="primary">
      <input matInput placeholder="Street" formControlName="street">
    </mat-form-field>
    <mat-form-field class="fw-ff" color="primary">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start start">
      <mat-form-field color="primary">
        <mat-select placeholder="State" formControlName="state" name="state">
          <mat-option *ngFor="let state of states" [value]="state.abbrev">{{ state.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="primary">
        <input matInput placeholder="Zip" formControlName="zip">
      </mat-form-field>
    </div>
    <mat-error *ngIf="aForm.invalid"></mat-error>
  </form>
  <button mat-raised-button color="primary" (click)="updateField()" [disabled]="aForm.invalid">SAVE</button>
</div>

<div class="container p" *ngIf="this.fieldType === PASSWORD">
  <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>email</mat-icon><span>{{emailForPw}}</span></div>
  <form [formGroup]="pwForm">
    <mat-form-field fxFlex color="accent">
      <input matInput placeholder="Old {{fieldNameAlt}}" formControlName="oldPassword" type="password">
    </mat-form-field>
    <mat-form-field fxFlex color="accent">
      <input matInput placeholder="New {{fieldNameAlt}}" formControlName="newPassword" type="password">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="updatePassword()" [disabled]="pwForm.invalid">SAVE</button>
</div>

<div class="container n" *ngIf="this.fieldType === PHONE">
  <div class="send-v animated" [class.expanded]="step === 1" [class.fadeOut]="step === 2">
    <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>phone</mat-icon><span>{{ fieldValue | phoneNumber}}</span></div>
    <form [formGroup]="pnForm" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex color="accent">
        <span matPrefix style="margin-left: 0px">+1 &nbsp;</span>
        <input matInput placeholder="New Phone Number" formControlName="phoneNumber">
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="pnForm.invalid" (click)="sendVCode()">SEND VERIFICATION CODE</button>
    </form>
  </div>
  <div class="verify" [class.expanded]="step === 2">
    <form [formGroup]="vForm" fxLayout="column" fxLayoutAlign="start stretch">
      <span>Enter Verification Code</span>
      <div class="verify-row" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <mat-form-field color="accent" fxFlex *ngFor="let x of [1,2,3,4,5,6]" fxFlex="calc((100% / 6) - 16px)">
          <input matInput [formControlName]="x" [name]="x" maxlength="1" appTabInput type="tel" class="single">
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" [disabled]="vForm.invalid" (click)="verifyCode()">VERIFY</button>
      <span (click)="verificationTransition(1)">Resend code to <span class="blue">{{ pnForm.value.phoneNumber | phoneNumber }}</span>?</span>
    </form>
    <div id="recaptcha-container" fxLayout="row" fxLayoutAlign="end center"></div>
  </div>
</div>

