@import './../../../../app-theme';

.container {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.container.a {
    .fw-ff {
        width: 100%;
    }
}

.container.p {
    span {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 12px;
        font-size: 16px;
    }
}

.container.n {
    height: calc(100vh - 112px);
    span {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 12px;
        font-size: 16px;
    }
    .send-v {
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease;
    }
    .send-v.expanded {
        height: 150px;
    }
    .verify {
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease;

        span {
            font-size: 12px;

            .blue {
                color: blue;
                margin-left: 0px;
            }
        }
    }
    .verify.expanded {
        height: 200px;
    }
}

.mat-input-element.single {
    text-align: center;
}

:host /deep/ .mat-calendar-header {
    background-color: mat_color($primary);
}

#recaptcha-container {
    position: absolute;
    bottom: -56px;
}

@media screen and (min-width: 960px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 24px;
        background-color: #fff;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    .container.n {
        height: auto;
    }
}