@import '../../../app-theme';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ededed;
    height: 200px;
    min-height: 200px;
    img {
        max-height: 150px;
        width: auto;
    }
}

:host /deep/ mat-progress-bar {
    width: 100%;
    height: 4px;
}

a {
    color: mat_color($accent);
}

.container {
    padding: 16px;
    height: calc(100vh - 264px);
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
    }

    .mat-raised-button {
        width: 100%;
    }
}
.container-dense {
    padding: 16px;
}

.mat-form-field {
    width: 100%;
}

.mat-icon-button {
    position: absolute !important;
    top: 8px;
    left: 16px;
    mat-icon {
        color: mat_contrast($primary, 500);
    }
}

.mat-input-element {
    text-align: center;
    font-size: 24px;
}

small {
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
}


.container-large {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-card {
        width: 400px;
        max-width: 100%;
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
        img {
            max-height: 150px;
            width: auto;
            display: block;
            margin: 0 auto;
            padding: 8px;
        }
        .mat-icon-button {
            position: absolute !important;
            top: 8px;
            left: 16px;
            mat-icon {
                color: rgba(0,0,0,0.87);
            }
        }

        .mat-raised-button {
            float: right;
        }
    }
    .header-large {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pull-right {
        width: 448px;
        max-width: 100%;
        margin: 16px 0;
        text-align: right;
        font-size: 14px;
        a {
            text-decoration: none;
            color: mat_color($accent);
        }
    }
}
