<div fxHide.gt-sm>
  <div class="header mat-elevation-z4">
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <img [src]="(bSettings | async)?.logo || placeholder">
  </div>
  <div style="width: 100%;" *ngIf="verifying"><mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar></div>
  <div class="container">
    <div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center stretch">
      <div fxFlex>
        <h1>Enter Confirmation Code</h1>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="verificationForm" validate fxLayout="column" fxLayoutAlign="start stretch">

        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" #one name="1" maxlength="1" matInput appNextInput formControlName="one">
            </mat-form-field>
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" #two name="2" maxlength="1" matInput appNextInput formControlName="two">
            </mat-form-field>
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" #three name="3" maxlength="1" matInput appNextInput formControlName="three">
            </mat-form-field>
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" #four name="4" maxlength="1" matInput appNextInput formControlName="four">
            </mat-form-field>
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" #five name="5" maxlength="1" matInput appNextInput formControlName="five">
            </mat-form-field>
            <mat-form-field fxFlex="calc((100% / 6) - 16px)" color="accent">
              <input type="tel" name="6" maxlength="1" matInput appNextInput formControlName="six">
            </mat-form-field>
          </div>
        </div>

        <div fxFlex>
          <button type="submit" mat-raised-button color="accent">CONTINUE</button>
        </div>
        
      </form>
      <div fxFlex>
        <small>Please enter the verification number sent to <br><a>+1 (541) 556 - 2536</a>. Didn’t get a code? <a>Resend</a></small>
      </div>
    </div>
  </div>
</div>


<div fxHide.sm fxHide.xs class="container-large">
  <mat-card>
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" [formGroup]="verificationForm" validate>
      <div class="header-large" fxFlex>
        <img [src]="(bSettings | async)?.logo || placeholder">
      </div>
      <div fxFlex>
        <h1>Enter Confirmation Code</h1>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="1" maxlength="1" matInput appNextInput formControlName="one" appFocus>
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="2" maxlength="1" matInput appNextInput formControlName="two">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="3" maxlength="1" matInput appNextInput formControlName="three">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="4" maxlength="1" matInput appNextInput formControlName="four">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="5" maxlength="1" matInput appNextInput formControlName="five">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input type="tel" name="6" maxlength="1" matInput appNextInput formControlName="six">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <button type="submit" mat-raised-button color="accent" [disabled]="verificationForm.invalid">CONTINUE</button>
      </div>
    </form>
  </mat-card>
  <div class="pull-right">
    Didn't get a code? <a routerLink=".">Resend</a>
  </div>
</div>