<!--
<div class="status-bar" fxLayout="row">
  <div fxFlex="33%" class="left">
    <div class="inner">

    </div>
  </div>
  <div fxFlex="33%" class="center">
    <div class="inner">

    </div>
  </div>
  <div fxFlex="33%" class="right">
    <div class="inner">

    </div>
  </div>
</div>
-->

<div class="bar-two">
  <div class="left state" [class.active]="state === 'new' || state === 'pending' || state === 'ready'"></div>
  <div class="center state" [class.active]="state === 'pending' || state === 'ready'"></div>
  <div class="right state" [class.active]="state === 'ready'"></div>
</div>
