.status-bar {
    width: calc(100% - 48px);
    height: 36px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 24px;

    .left {
        z-index: 1;
        flex: 1 1 33%;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        overflow: hidden;
        position: relative;
        .inner {
            transform: skew(-45deg);
            width: calc(100% + 24px);
            height: 100%;
            background: #F44336;
            position: absolute;
            left: -24px;
        }
    }
    .center {
        z-index: 2;
        flex: 1 1 33%;
        overflow: hidden;
        .inner {
            transform: skew(-45deg);
            width: 100%;
            height: 100%;
            background: #FF9800;
        }
    }
    .right {
        z-index: 3;
        flex: 1 1 33%;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        overflow: hidden;
        position: relative;
        .inner {
            transform: skew(-45deg);
            width: calc(100% + 24px);
            height: 100%;
            background: #4CAF50;
            position: absolute;
        }
    }
}

.bar-two {
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100% - 48px);
    height: 24px;
    padding: 0px 24px;

    .state {
        flex: 1 1 30%;
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
        background-color: transparent;
    }

    .left {
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        z-index: 3;
        border-left: 4px solid #F44336;
        border-top: 4px solid #F44336;
        border-bottom: 4px solid #F44336;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -15px;
            top: -4px;
            height: 28px;
            width: 26px;
            /* -webkit-transform: rotate(45deg); */
            /* transform: rotate(45deg); */
            border-top: 4px solid #F44336;
            border-right: 6px solid #F44336;
            transform: skew(-45deg);
        }

        &.active {
            background-color: #F44336;
            &::after {
                background-color: #F44336;
            }
        }
    }
    .center {
        z-index: 2;
        position: relative;
        border-top: 4px solid #FF9800;
        border-bottom: 4px solid #FF9800;
        flex: 1 1 35%;

        &::after {
            content: '';
            position: absolute;
            right: -15px;
            top: -4px;
            height: 28px;
            width: 26px;
            /* -webkit-transform: rotate(45deg); */
            /* transform: rotate(45deg); */
            border-top: 4px solid #FF9800;
            border-right: 6px solid #FF9800;
            transform: skew(-45deg);
        }

        &.active {
            background-color: #FF9800;
            &::after {
                background-color: #FF9800;
            }
        }
    }
    .right {
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        z-index: 1;
        border-right: 4px solid #4CAF50;
        border-top: 4px solid #4CAF50;
        border-bottom: 4px solid #4CAF50;
        position: relative;
        flex: 1 35%;

        &.active {
            background-color: #4CAF50;
            &::after {
                background-color: #4CAF50;
            }
        }
    }
}