@import '../../../app-theme';

.container {
    padding:24px;

    .content {

        .constraint {
            // max-width: 1024px;
            // margin: 0 auto;

            .orders {

                .active-header, .past-header {
                    padding: 0px 12px;
                    mat-icon {
                        font-size: 28px;
                        height: 28px;
                        width: 28px;
                    }
                    span {
                        font-size: 28px;
                        font-weight: 300;
                    }

                }
                .active-orders {

                    .order {
                        border-radius: 4px;
                        background-color: #fff;
                        margin: 0px 12px 8px 12px;
                        overflow: hidden;

                        .order-header {
                            padding: 24px;
                            height: 64px;

                            .order-id {
                                font-weight: 400;
                                font-size: 18px;
                            }
                            button {
                                margin-right: -8px;
                            }
                            mat-icon {
                                color: rgba(0,0,0,0.8);
                            }
                        }
                        .order-details {
                            padding: 0px 24px 12px 24px;

                            .details {

                                .title {
                                    font-size: 14px;
                                    color: rgba(0,0,0,0.70);
                                    font-weight: 400;
                                }
                                .amount {
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                            }
                        }
                        .order-status {
                            padding: 36px 24px 24px 24px;

                            .dot {
                                height: 24px;
                                width: 24px;
                                border-radius: 50%;
                                background-color: #bdbdbd;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: 0.3s ease;

                                mat-icon {
                                    color: mat_contrast($accent, 500);
                                    font-size: 16px;
                                    height: 16px;
                                    width: 16px;
                                }
                            }
                            .status {
                                font-size: 12px;
                            }
                            .path {
                                height: 1px;
                                background-color: rgba(0, 0, 0, 0.30);
                            }
                            .state {
                                position: relative;

                                .status {
                                    position: absolute;
                                    bottom: 0;
                                    width: calc((100vw * 0.33) - 48px);
                                    text-align: center;
                                    margin-bottom: 28px;
                                }
                            }

                            .new.active {
                                .dot {
                                    background-color: #F44336;
                                }
                            }
                            .pending.active {
                                .dot {
                                    background-color: #FF9800;
                                }
                            }
                            .ready.active {
                                .dot {
                                    background-color: #4CAF50;
                                }
                            }
                        }
                        .order-actions {
                            padding: 16px 24px 24px 24px;

                            span {
                                font-size: 12px;
                                color: rgba(0,0,0,0.70);
                            }
                        }
                    }
                }

                .past-orders {

                    .order {
                        background-color: #fff;
                        border-radius: 4px;
                        margin: 0px 12px 8px 12px;
                        overflow: hidden;

                        .order-header {
                            padding: 24px 24px 16px 24px;

                            .order-id {
                                font-weight: 300;
                                font-size: 18px;
                            }

                            .order-status {
                                border-top-left-radius: 2em;
                                border-bottom-left-radius: 2em;
                                border-top-right-radius: 2em;
                                border-bottom-right-radius: 2em;
                                color: #4CAF50;
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }
                        .order-details {
                            padding: 0px 24px 24px 24px;

                            .top {

                                .details {

                                    .title {
                                        font-size: 14px;
                                        color: rgba(0,0,0,0.70);
                                        font-weight: 400;
                                    }
                                    .amount {
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }

                            }
                            .bottom {

                                .created {
                                    font-size: 12px;
                                    color: rgba(0,0,0,0.70);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-orders {
    height: calc((100vh - 64px) - 48px);
    
    span {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.44);
    }
}

.svg-status {
    .svg-row {

        #pill {
            padding: 8px;
            height: 100%;
            width: calc(100% - 36px);
        }
        .state {
            stroke-width: 4px;
            fill-opacity: 0;
            stroke-dashoffset: 800;
            stroke-dasharray: 800;
            transition: 1s ease;
            transition-delay: 2s;
            animation: strokefill 3s ease-in-out 1s forwards;
        }
        .svgnew {
            stroke: #F44336;
            fill: #F44336;
        
            &.active {
                fill-opacity: 1;
            }
        }
        .svgpending {
            stroke: #FF9800;
            fill: #FF9800;
        
            &.active {
                fill-opacity: 1;
            }
        }
        .svgready {
            stroke: #4CAF50;
            fill: #4CAF50;
        
            &.active {
                fill-opacity: 1;
            }
        }
    }

    .steps-row {
        padding: 24px 0px 8px 0px;
        width: calc(100% - 48px);
        position: relative;

        span {
            font-size: 12px;
            color: rgba(0,0,0,0.7);
        }
    }
}

app-status-bar {
    width: 100%;
}

@keyframes fill {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 800;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes strokefill {
    to { stroke-dashoffset: 0; }
}

.container.auth {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .order {
        max-width: calc(50% - 24px);
    }
}