<div class="container" *ngIf="authFlag">
  <div class="content">
    <div class="constraint">
      <div class="orders" fxLayout="column" fxLayoutGap="24px" *ngIf="activeOrders.length > 0 || pastOrders.length > 0">

        <!-- BEGIN ACTIVE ORDERS -->
        <div class="active-header" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex>Active Orders</span>
          <mat-icon>query_builder</mat-icon>
        </div>
        <div class="active-orders" fxLayout="row wrap">

          <div class="order mat-elevation-z1" 
            *ngFor="let order of activeOrders; let i = index"
            fxFlex.lt-md="100%"
            fxFlex.gt-sm="calc(50% - 24px)"
            fxLayout="column"
            (click)="goto(order.id)">

            <div class="order-header" fxLayout="row" fxLayoutAlign="start center">
              <span class="order-id" fxFlex>Order #{{ order.id.substring(0,5) }}</span>
              <button mat-icon-button color="default"><mat-icon>arrow_forward</mat-icon></button>
            </div>

            <div class="order-details" fxLayout="row">
              <div class="items details" fxLayout="column" fxFlex fxLayoutGap="4px">
                <span class="title">Items</span>
                <span class="amount">{{ order.products.length }}</span>
              </div>
              <div class="total details" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="4px">
                <span class="title">Total</span>
                <span class="amount">{{ '$' + order.total }}</span>
              </div>
            </div>

            <div class="svg-status" fxLayout="column" fxLayoutAlign="center center">

              <app-status-bar [state]="order.status"></app-status-bar>
              <div class="steps-row" fxLayout="row">
                <div fxFlex="33%" fxLayout="row" fxLayoutAlign="start center">
                  <span style="padding-left: 18px">Received</span>
                </div>
                <div fxFlex="33%" fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <span>Prepping</span>
                </div>
                <div fxFlex="33%" fxLayout="row" fxLayoutAlign="end center">
                  <span style="padding-right: 18px">Ready</span>
                </div>
              </div>
              <!-- 
              <div class="svg-row" fxLayout="row" fxLayoutAlign="center center">
                <svg id="pill" width="450px" height="24px" viewBox="0 0 450 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g>
                      <path class="svgnew state" [class.active]="(order.status === 'new' || order.status === 'pending' || order.status === 'ready')"
                        d="M17.3847864,0 L170,0 L130,24 L17.3847864,24 C3.57766775,24 1.69088438e-15,18.627417 0,12 C-1.69088438e-15,5.37258302 3.57766775,1.21743675e-15 17.3847864,0 Z" id="Rectangle"></path>
                      <polygon class="svgpending state" [class.active]="(order.status === 'pending' || order.status === 'ready')"
                        points="170 0 320 0 280 24 130 24"></polygon>
                      <path class="svgready state" [class.active]="(order.status === 'ready')"
                      d="M297.267605,7.10542736e-15 L450,-3.55271368e-15 L410,24 L297.267605,24 C283.460486,24 280,18.627417 280,12 C280,5.37258302 283.460486,8.32286413e-15 297.267605,7.10542736e-15 Z" id="Rectangle-Copy" transform="translate(365.000000, 12.000000) rotate(-180.000000) translate(-365.000000, -12.000000) "></path>
                    </g>
                  </g>
                </svg>
              </div>
              -->

            </div>

            <!--
            <div class="order-status" fxLayout="row" fxLayoutAlign="center center">
              <div class="new state" fxLayout="column" fxLayoutAlign="center center" 
                [class.active]="order.status === 'new' || order.status === 'pending' || order.status === 'ready'">
                <div class="dot">
                  <mat-icon *ngIf="order.status === 'new' || order.status === 'pending' || order.status === 'ready'">check</mat-icon>
                </div>
                <div class="status"><span>Received</span></div>
              </div>
              <div class="path" fxFlex></div>
              <div class="pending state" fxLayout="column" fxLayoutAlign="center center" 
                [class.active]="order.status === 'pending' || order.status === 'ready'">
                <div class="dot">
                  <mat-icon *ngIf="order.status === 'pending' || order.status === 'ready'">check</mat-icon>
                </div>
                <div class="status"><span>Prepping</span></div>
              </div>
              <div class="path" fxFlex></div>
              <div class="ready state" fxLayout="column" fxLayoutAlign="center center" 
                [class.active]="order.status === 'ready'">
                <div class="dot">
                  <mat-icon *ngIf="order.status === 'ready'">check</mat-icon>
                </div>
                <div class="status"><span>Ready</span></div>
              </div>
            </div>
            -->

            <div class="order-actions" fxLayout="row" fxLayoutAlign="end center">
              <span>{{ order.createdAt | date: 'mediumDate' }}</span>
            </div>
          </div>

        </div>
        <!-- END ACTIVE ORDERS -->

        <!-- BEGIN PAST ORDERS -->
        <div class="past-header" fxLayout="row" fxLayoutAlign="start center" *ngIf="pastOrders.length > 0">
          <span fxFlex>Past Orders</span>
          <mat-icon>restore</mat-icon>
        </div>
        <div class="past-orders" fxLayout="row wrap">
          <div class="order mat-elevation-z1"
            *ngFor="let order of pastOrders; let i = index"
            fxFlex.lt-md="100%"
            fxFlex.gt-sm="calc(50% - 24px)"
            fxLayout="column"
            (click)="goto(order.id)">
            <div class="order-header" fxLayout="row" fxLayoutAlign="start center">
              <span fxFlex class="order-id">Order #{{ order.id.substring(0,5) }}</span>
              <span class="order-status" [style.color]="order.status === 'complete' ? '#4CAF50' : '#F44336'">{{ order.status | uppercase }}</span>
            </div>
            <div class="order-details" fxLayout="column" fxLayoutGap="16px">
              <div class="top" fxLayout="row">
                <div class="items details" fxLayout="column" fxFlex fxLayoutGap="4px">
                  <span class="title">Items</span>
                  <span class="amount">{{ order.products.length }}</span>
                </div>
                <div class="total details" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="4px">
                  <span class="title">Total</span>
                  <span class="amount">{{ '$' + order.total }}</span>
                </div>
              </div>
              <div class="bottom" fxLayout="row" fxLayoutAlign="end center">
                <span class="created">{{ order.createdAt | date: 'mediumDate' }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAST ORDERS -->

      </div>
      <div class="no-orders" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" *ngIf="activeOrders.length < 1 && pastOrders.length < 1">
        <span>No Orders</span>
        <button mat-button color="accent" routerLink="./../menu">ORDER NOW</button>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container auth" *ngIf="!authFlag" fxLayout="row" fxLayoutAlign="center start">
  <div class="not-logged-in">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>vpn_key</mat-icon>
      <span>Not Logged In</span>
    </div>
  </div>
</div>
<app-bottom-sheet class="animated slideInUp" *ngIf="!authFlag" [returnPath]="path"></app-bottom-sheet>
-->
