@import '../../../../app-theme';

.container {
    padding: 0px;
    overflow-x: hidden;

    .content {

        .constraint {
            max-width: 600px;
            margin: 0 auto;
        }

        .header-past {
            height: 200px;
            position: relative;
            width: 100%;
    
            .back, .front {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .back {
                z-index: 0.1;
                background-color: rgba(0,0,0,0.25);

                .icon {
                    height: 96px;
                    width: 96px;
                    border-radius: 50%;
                    background-color: mat_color($primary);

                    mat-icon {
                        color: mat_contrast($accent, 500);
                        height: 56px;
                        width: 56px;
                        font-size: 56px;
                    }
                }
            }
            .front {
                z-index: 0.2;
                // background-color: rgba(0,0,0,0.25);
            }
            button {
                position: absolute;
                right: 16px;
                bottom: -24px;
                z-index: 0.3;
            }
        }
    }
}

.order-details {
    padding: 24px;

    .header-live {

        .title {
            font-size: 28px;
            font-weight: 300;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                display: inline-block;
                height: 1em;
                width: 60%;
                border-bottom: 1px solid;
                margin-top: 16px;
            }
        }
        .id {
            font-size: 16px;
            color: rgba(0,0,0,0.70);
        }
    }
}

.order-info {
    padding: 0px 4px;
    margin-bottom: 36px !important;
    margin-top: 8px;

    .summary {
        font-size: 20px;
        font-weight: 300;
    }

    .details {

        .title {
            font-size: 12px;
            color: rgba(0,0,0,0.70);
            font-weight: 400;
        }
        .amount {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.tim-status {
    height: 40px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    .bar {
        flex: 1;
        position: relative;
        &:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &:last-child {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        &.new {
            border: 4px #F44336 solid;
            border-right: 0;
            flex: 0.5;
            &:after {
                content: " ";
                position: absolute;
                display: block;
                width: 80%;
                height: 100%;
                top: -4px;
                right: -1px;
                z-index: 1;
                -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
                -webkit-transform: skew(-30deg, 0deg);
                transform: skew(-30deg, 0deg);
                border-top: 4px #F44336 solid;
                border-bottom: 4px #F44336 solid;
            }
            &.active {
                background-color: #F44336;
                &:after {
                    background: #F44336;
                }
            }
        }
        &.pending {
            border: 4px #FF9800 solid;
            border-left: 0;
            border-right: 0;
            &:after {
                content: " ";
                position: absolute;
                display: block;
                width: 80%;
                height: 100%;
                top: -4px;
                right: -1px;
                z-index: 1;
                -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
                -webkit-transform: skew(-30deg, 0deg);
                transform: skew(-30deg, 0deg);
                border-top: 4px #FF9800 solid;
                border-bottom: 4px #FF9800 solid;
            }
            &.active {
                background-color: #FF9800;
                &:after {
                    background: #FF9800;
                }
            }
        }
        &.complete {
            border: 4px #4CAF50 solid;
            border-left: 0;
            flex: 0.7;
            &.active {
                background-color: #4CAF50;
            }
        }
    }
}

.status {
    margin-top: 24px;
}

.desc {
    .status-text {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
}

svg {
    padding: 8px;
}

.nick-status {
    position: relative;

    .elev {
        width: calc(100% - 16px);
        height: calc(100% - 32px);
        position: absolute;
        top: 16px;
        left: 8px;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        background: #fafafa;
        z-index: -1;
        animation: lift 1s ease 1s forwards;
        animation-delay: 3s;
    }
}

.state {
    stroke-width: 4px;
    fill-opacity: 0;
    stroke-dashoffset: 800;
    stroke-dasharray: 800;
    transition: 1s ease;
    transition-delay: 2s;
    animation: strokefill 3s ease-in-out 1s forwards;
}

.svgnew {
    stroke: #F44336;
    fill: #F44336;

    &.active {
        fill-opacity: 1;
    }
}
.svgpending {
    stroke: #FF9800;
    fill: #FF9800;

    &.active {
        fill-opacity: 1;
    }
}
.svgready {
    stroke: #4CAF50;
    fill: #4CAF50;

    &.active {
        fill-opacity: 1;
    }
}

.past-status {
    position: relative;

    .desc {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        color: #fff;
    }

    .past-status {
        position: relative;
    
        .past {
            stroke: #4CAF50;
            fill: #4CAF50;
            animation: fill 3s ease-in-out 1s forwards;
        }
        .past.rejected {
            stroke: #F44336;
            fill: #F44336;
            animation: fill 3s ease-in-out 1s forwards;
        }
    
        .elev {
            width: calc(100% - 16px);
            height: calc(100% - 32px);
            position: absolute;
            top: 16px;
            left: 8px;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
            background: #fafafa;
            z-index: -1;
            animation: lift 1s ease 1s forwards;
            animation-delay: 3s;
        }
    }
}


.state-text {
    text-align: center;
    font-size: 12px;
    position: relative;
    left: -8px;
}

.item-row-two {
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    padding: 16px 16px 16px 16px;

    .remove {
        position: absolute;
        top: 12px;
        right: 12px;

        mat-icon {
            height: 16px;
            width: 16px;
            font-size: 16px;
            color: #4b4b4b;
            background-color: #ffffff;
            border-radius: 50%;
            padding: 4px;
        }
    }

    .top {

        .name {
            font-size: 16px;
            font-weight: 400;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .type {
            font-size: 12px;
            font-weight: 400;
            color: rgba(0,0,0,0.70);
        }

    }
    .bottom {
        margin-top: 8px;

        .pricing {

            .price {
                padding: 6px 12px;
                background: linear-gradient(to right, mat_color($accent, 400), mat_color($accent, 300));
                color: mat_contrast($accent, 400);
                border-top-left-radius: 2em;
                border-bottom-left-radius: 2em;
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;

                .number {
                    font-size: 12px;
                }
                .unit {
                    font-size: 10px;
                }
            }

        }

    }
}

@keyframes fill {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 800;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes strokefill {
    to { stroke-dashoffset: 0; }
}

@keyframes lift {
    to { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media screen and (min-width: 600px) {
    .elev {
        display: none;
    }
}

/* .order-status {
    margin-top: 24px;

    .state {

        .dot {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            // animation: spin 4s linear infinite;

            mat-icon {
                color: mat_contrast($accent, 500);
                font-size: 20px;
                height: 20px;
                width: 20px;
            }
        }
        .status {

        }
    }
    .new {
        .dot {
            border: 3px dotted #F44336;
        }
    }
    .pending {
        .dot {
            border: 3px dotted #FF9800;
        }
    }
    .ready {
        .dot {
            border: 3px dotted #4CAF50;
        }    
    }
    .new.active {
        .dot {
            background-color: #F44336;
            animation: none;
        }
    }
    .pending.active {
        .dot {
            background-color: #FF9800;
            animation: none;
        }
    }
    .ready.active {
        .dot {
            background-color: #4CAF50;
        }
    }
    .path {
        height: 36px;
        border-left: 1px solid rgba(0,0,0,0.54);
        margin-left: 20px;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        padding-left: 34px;

        span {
            opacity: 0;
        }
    }
    .path.active {
        height: 96px;

        span {
            opacity: 1;
        }
    }
    .path.last {
        border: none;
    }
    .path.last.active {
        height: auto;
    }
}

.d-order-status {

    .status-bar {
        height: 50px;
        width: 100%;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        overflow: hidden;
        border-right: 1px solid #4CAF50;

        .state {
            //transform: skewX(30deg);
            
        }

        .new {
            position: relative;

            &:after {
                content: " ";
                position: absolute;
                display: block;
                width: calc(100% + 9px);
                height: 100%;
                top: 0;
                left: -9px;
                z-index: -1;
                transform-origin: none;
                transform: skewX(30deg);
                background-color: #F44336;
            }
        }
        .pending {
            background-color: rgba(255, 153, 0, 0.10);
            transform: skewX(30deg);
            z-index: 1;
        }
        .ready {
            position: relative;

            &:before {
                content: " ";
                position: absolute;
                display: block;
                width: calc(100% + 9px);
                height: 100%;
                top: 0;
                left: -1px;
                z-index: -1;
                transform-origin: none;
                transform: skewX(30deg);
                background-color: rgba(76, 175, 79, 0.10);
            }
        }
    }
} */