<div class="container" *ngIf="order">
  <div class="content">

    <!-- <div class="header-past" *ngIf="!isLiveOrder()">
      <div class="back" fxLayout="row" fxLayoutAlign="center center">
        <div class="icon mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>store</mat-icon>
        </div>
      </div>
      <div class="front"></div>
      <button mat-fab color="accent"><mat-icon>star_full</mat-icon></button>
    </div> -->

    <div class="constraint">
      <div class="order-details" fxLayout="column" fxLayoutGap="24px">

        <div class="header-live" fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex><span class="title">Order Status</span></div>
          <span class="id"># {{ order.xid.substring(0,5) }}</span>
        </div>

        <div fxLayout="column" fxLayoutGap="8px" class="status" *ngIf="isLiveOrder()">
          <div class="desc" fxLayout="row" fxLayoutAlign="center center">
            <span class="status-text">{{ currentStatus }}</span>
          </div>

          <div class="nick-status" fxLayout="row" fxLayoutAlign="center center">
            <svg id="pill" width="450px" height="50px" viewBox="0 0 450 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g>
                  <path class="svgnew state" [class.active]="(order.status === 'new' || order.status === 'pending' || order.status === 'ready')"
                    d="M25,0 L170,0 L130,50 L25,50 C11.1928813,50 1.69088438e-15,38.8071187 0,25 L0,25 C-1.69088438e-15,11.1928813 11.1928813,2.53632657e-15 25,0 Z" id="Rectangle"></path>
                  <polygon class="svgpending state" [class.active]="(order.status === 'pending' || order.status === 'ready')"
                    points="170 0 320 0 280 50 130 50"></polygon>
                  <path class="svgready state" [class.active]="(order.status === 'ready')"
                    d="M305,2.84217094e-14 L450,2.84217094e-14 L410,50 L305,50 C291.192881,50 280,38.8071187 280,25 L280,25 C280,11.1928813 291.192881,3.0958036e-14 305,2.84217094e-14 Z" id="Rectangle-Copy" transform="translate(365.000000, 25.000000) rotate(-180.000000) translate(-365.000000, -25.000000) "></path>
                </g>
              </g>
            </svg>
            <div class="elev"></div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" style="padding: 0px 8px;">
            <span fxFlex class="state-text">Received</span>
            <span fxFlex class="state-text">Prepping</span>
            <span fxFlex class="state-text">Ready</span>
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="8px" class="past-status" *ngIf="!isLiveOrder()">
          <div class="desc" fxLayout="row" fxLayoutAlign="center center">
            <span class="status-text">{{ order.canceled ? 'CANCELED' : order.status | uppercase }}</span>
          </div>

          <div class="past-status" fxLayout="row" fxLayoutAlign="center center">
            <svg id="pill" width="450px" height="50px" viewBox="0 0 450 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g>
                  <path class="past state" [class.rejected]="order.status === 'rejected'"
                    d="M25,0 L170,0 L130,50 L25,50 C11.1928813,50 1.69088438e-15,38.8071187 0,25 L0,25 C-1.69088438e-15,11.1928813 11.1928813,2.53632657e-15 25,0 Z" id="Rectangle"></path>
                  <polygon class="past state" [class.rejected]="order.status === 'rejected'"
                    points="170 0 320 0 280 50 130 50"></polygon>
                  <path class="past state" [class.rejected]="order.status === 'rejected'"
                    d="M305,2.84217094e-14 L450,2.84217094e-14 L410,50 L305,50 C291.192881,50 280,38.8071187 280,25 L280,25 C280,11.1928813 291.192881,3.0958036e-14 305,2.84217094e-14 Z" id="Rectangle-Copy" transform="translate(365.000000, 25.000000) rotate(-180.000000) translate(-365.000000, -25.000000) "></path>
                </g>
              </g>
            </svg>
            <div class="elev"></div>
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="16px" *ngIf="order.products.length > 0">
          <div class="order-info" fxLayout="row" fxLayoutAlign="start end">
            <div class="summary" fxFlex="60%"><span>Order Summary</span></div>
            <div class="items details" fxLayout="column" fxFlex="20%" fxLayoutGap="4px">
              <span class="title">Items</span>
              <span class="amount">{{ order.products.length }}</span>
            </div>
            <div class="total details" fxLayout="column" fxFlex="20%" fxLayoutAlign="end end" fxLayoutGap="4px">
              <span class="title">Total</span>
              <span class="amount">{{ '$' + order.total }}</span>
            </div>
          </div>
          <div class="item-row-two mat-elevation-z1" *ngFor="let item of order.products; let i = index; let l = last"
            fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="top" fxLayout="column" fxFlex="100%">
              <span class="name">{{ item?.name }}</span>
              <span class="type">FLOWER</span>
            </div>
            <div class="bottom" fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
              <div class="quantity">
                <span>{{ item.quantity + 'x' }}</span>
              </div>
              <div class="pricing" fxFlex fxLayout="row" fxLayoutAlign="end center">
                <div class="price" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                  <span class="number">{{ '$' + item?.price }}</span>
                  <span class="unit">{{ item?.unit | uppercase }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="row" *ngIf="isLiveOrder()">
          <button mat-button color="accent" style="width: 100%" (click)="cancelOrder(order.xid)">CANCEL ORDER</button>
        </div>
        
      </div>
    </div>
  </div>
</div>

        <!-- Start Material Status --
        <div class="order-status" fxLayout="column">

          <div class="new state" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"
            [class.active]="order.status === 'new' || order.status === 'pending' || order.status === 'ready'">
            <div class="dot"><mat-icon *ngIf="order.status === 'new' || order.status === 'pending' || order.status === 'ready'">check</mat-icon></div>
            <div class="status">Received</div>
          </div>

          <div class="path" [class.active]="order.status === 'new'">
            <span>Your order has been received and is being processed!</span>
          </div>

          <div class="pending state" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"
            [class.active]="order.status === 'pending' || order.status === 'ready'">
            <div class="dot"><mat-icon *ngIf="order.status === 'pending' || order.status === 'ready'">check</mat-icon></div>
            <div class="status">Prepping</div>
          </div>

          <div class="path" [class.active]="order.status === 'pending'">
            <span>Your order is now being filled and should be ready shortly!</span>
          </div>

          <div class="ready state" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"
            [class.active]="order.status === 'ready'">
            <div class="dot"><mat-icon *ngIf="order.status === 'ready'">check</mat-icon></div>
            <div class="status">Ready</div>
          </div>

          <div class="path last" [class.active]="order.status === 'ready'">
            <span>Your order is ready for pickup!</span>
          </div>

        </div>
        <!-- End Material Order Status -->

        <!-- Start Dominos Status --
        <div class="d-order-status" fxLayout="column" fxLayoutAlign="center center">
          <div class="desc"></div>
          <div class="status-bar" fxLayout="row">
            <div class="new state" fxFlex="30%"></div>
            <div class="pending state" fxFlex="40%"></div>
            <div class="ready state" fxFlex="30%"></div>
          </div>
        </div>
        <!-- End Dominos Status -->
        
        <!-- <div class="tim-status">
          <div class="bar new active"></div>
          <div class="bar pending active "></div>
          <div class="bar complete"></div>
        </div> -->

