@import '../../../app-theme';

mat-card {
    mat-select {
        width: 100%;
        display: inline-block;
        padding-top: 1em;
        margin-bottom: 16px;
    }
    mat-card-actions {
        text-align: right;
        display: flex;
        justify-content: center;
    }
    mat-form-field {
        width: 100%;
    }
}

#logo-row {
    padding-left: 10px;
    padding-bottom: 0px;
    text-align: left;

    img {
        height: 10px;
        width: 10px;
    }
    span { 
        font-size: 12px;
        margin-left: 6px;
    }
}

.day {
    min-width: 50px;
}

.policies {
    background-color: #fff;
    margin: 12px 0px;
    padding: 12px 0px;
    border-radius: 2px;
    min-height: 44px;

    .terms, .privacy {
        text-align: center;
        a {
            font-size: 12px;
            color: #000;
        }
    }
}

