<div class="container" fxLayout="column" fxLayoutGap="8px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap.gt-sm="24px">
  <mat-card fxFlex fxFlex.gt-sm="calc(70% - 24px)" *ngIf="flag">
    <mat-card-title>Support Request</mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <form [formGroup]="sForm" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex color="accent">
            <input matInput placeholder="Name" formControlName="name" maxlength="100">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input matInput placeholder="Phone" formControlName="phone" maxlength="15">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input matInput placeholder="Email" formControlName="email" maxlength="50">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <input matInput placeholder="Subject" formControlName="subject" maxlength="40">
          </mat-form-field>
          <mat-form-field fxFlex color="accent">
            <textarea matInput matTextareaAutosize maxlength="300" placeholder="Description" formControlName="desc" style="min-height: 60px"></textarea>
            <mat-hint align="end">{{sForm.value.desc.length || 0}} / 300</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Priority" color="accent" formControlName="priority">
              <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                {{ priority.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div fxFlex>
            <mat-select placeholder="Classification" color="accent" formControlName="">
              <mat-option *ngFor="let classification of classifications" [value]="classification.value">
                {{ classification.label }}
              </mat-option>
            </mat-select>
          </div> -->
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center" id="logo-row" fxFlex>
        <img src="./../../../assets/svg/k5.svg" style="height: 30px; width: 30px;"><span>Powered by K5 Technologies</span>
      </div>
      <button mat-button color="accent" (click)="resetForm()">RESET</button>
      <button mat-raised-button color="accent" [disabled]="sForm.invalid" (click)="sendSupportRequest()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>

  <div fxFlex fxFlex.gt-sm="calc(30% - 24px)" fxLayout="column">
    <mat-card *ngIf="hours.length > 0" class="animated fadeIn" class="light-themed">
      <mat-card-title>Support Hours</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let day of hours">
          <span class="day">{{ day.day | titlecase }}</span> 
          <span>{{ (day.openTime | date: 'shortTime') + ' - ' + (day.closeTime | date: 'shortTime')}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <div class="policies mat-elevation-z1" fxLayout="row" fxLayoutAlign="start center">
      <div class="terms" fxFlex><a routerLink="../../terms">Terms of Service</a></div>
    </div>
  </div>
</div>