@import './../../../../app-theme';

.feature {
    height: calc(100vh * 0.35);
    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    background-color: #bdbdbd;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    background-color: #eeeeee;

    mat-icon {
        height: 72px;
        width: 72px;
        font-size: 72px;
        color: mat_color($accent, 300);
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sale-banner {
        position: absolute;
        bottom: 16px;
        left: 16px;
        padding: 4px 12px;
        background-color: mat_color($accent);
        color: #fff;
        border-radius: 4px;

        span {
            font-size: 12px;
        }
    }
}

.container {
    padding: 16px;

    .vendor {
        font-size: 14px;
        color: rgba(0,0,0,0.65);
    }
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 8px 0 8px 0;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 0 12px 0;
    }
    p {
        font-size: 14px;
        line-height: 19px;
        color: rgba(0,0,0,0.54);
        margin: 24px 0px 32px 0px;
    }
}
.actions {
    width: calc(100% - 0px);
    padding: 8px;
    background-color: #fafafa;

    .info-box {
        padding: 0px 16px;
        min-height: 40px;
        // background-color: #e3e3e3;
        border-radius: 2px;
    }
    .label {
        font-size: 10px;
        font-weight: 600;
    }
    .info {
        font-size: 18px;
        font-weight: 300;
        color: mat_color($accent);
    }
}

.selection-row {
    width: calc(100% - 0px);
    padding: 24px 0px;
    background-color: #fafafa;
    border-top: 1px solid rgba(0,0,0,0.24);
    // box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .online-order {
        margin-top: 12px;
    }
}

.image-large {
    height: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        min-height: 400px;
        object-fit: cover;
    }

    .sale-banner {
        position: absolute;
        top: 16px !important;
        left: 16px;
        padding: 4px 12px;
        background-color: mat_color($accent);
        color: #fff;
        border-radius: 4px;

        span {
            font-size: 12px;
        }
    }
}

.content-large {

    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 0 0 8px 0;
    }

    .pricing-large {
        padding: 8px 0px;
    
        .price {
            padding: 8px 0px;
            transition: 0.3s ease;
            border-radius: 4px;
            // border: 1px solid mat_color($accent, 300);
            margin: 0px 4px 8px 4px;
            background-color: rgba(0,0,0,0.04);
            color: rgba(0,0,0,0.85);

            .last {
                margin-right: 8px;
            }
    
            .amount {
                span {
                    font-size: 16px;
                }    
            }
            .unit {
                text-align: center;
                span {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
        .price.selected {
            background-color: mat_color($accent);
            color: mat_contrast($accent, 500);
        }
    }
}

.large-view {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding-bottom: 24px;

    .view-photo {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 24px;
        z-index: 4;
        transition: 0.3s ease;
    }
}

.header-large {
    background-size: cover;
    background-position: center center;
    z-index: 1;
    transition: 0.3s ease;
    width: 100%;
    height: 325px;
    // filter: blur(5px);
    position: relative;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: linear-gradient(135deg, mat_color($accent, 300), mat_color($accent, 500));
        opacity: 0.48;
    }
}

.container-large {
    // padding: 24px;
    width: 100%;
    z-index: 3;
    transition: 0.3s ease;
    position: relative;
    // margin: 72px auto 0 auto;

    &.cover {
        // margin: -120px auto 0 auto;
    }

    &.hide {
        transform: translateY(100%);
    }

    mat-card {
        max-width: 750px;
        width: 100%;
        position: relative;
        margin: -96px auto 0 auto;

        &.narrow {
            max-width: 500px !important;
        }
    }

    .vendor {
        font-size: 14px;
        color: rgba(0,0,0,0.65);
    }
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 8px 0 8px 0;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 0 12px 0;
    }
    p {
        font-size: 14px;
        line-height: 19px;
        color: rgba(0,0,0,0.54);
    }
    .info-box-large {
        padding: 0px 16px;
        min-height: 40px;
        // background-color: #e3e3e3;
        border-radius: 2px;

        .label {
            font-size: 10px;
            font-weight: 600;
        }
        .info {
            font-size: 18px;
            font-weight: 300;
            color: mat_color($accent);
        }
    }
    .order-row-large {
        margin: 16px 0px 24px 0px;;
    }
}

.pricing {
    padding: 8px 0px;

    .price {
        padding: 8px 0px;
        transition: 0.3s ease;
        border-radius: 4px;
        // border: 1px solid mat_color($accent, 300);
        margin: 8px 8px;
        background-color: rgba(0,0,0,0.04);
        color: rgba(0,0,0,0.85);

        &.single {
            max-width: calc(33% - 16px);
        }

        .amount {
            span {
                font-size: 16px;
            }    
        }
        .unit {
            text-align: center;
            span {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
    .price.selected {
        background-color: mat_color($accent);
        color: mat_contrast($accent, 500);
    }
}

@media screen and (min-width: 960px) {
    .actions {
        // width: calc(100% - 280px);
        // left: 280px;
    }
}