<div fxHide.gt-sm *ngIf="item$">
  <div class="feature mat-elevation-z2">
    <cl-image [public-id]="item$.photoUrl" type="fetch" *ngIf="item$?.photoUrl">
      <cl-transformation [attr.width]="getScreenWidth()" crop="fill" gravity="auto"></cl-transformation>
    </cl-image>
    <mat-icon *ngIf="!item$.photoUrl">photo</mat-icon>
    <div class="sale-banner mat-elevation-z1" *ngIf="item$?.onSale">
      <span>SALE</span>
    </div>
  </div>
  <div class="container">

    <span class="vendor">{{ item$?.vendor | title }}</span>
    <h1>{{ item$?.name | title }}</h1>

    <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center center" class="actions">
      <div fxFlex fxFlexAlign="center" *ngIf="item$.thc && isDispensary">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box">
          <span fxFlex class="label">THC</span>
          <span fxFlex class="info">{{ item$?.thc }}%</span>
        </div>    
      </div>
      <div fxFlex fxFlexAlign="center" *ngIf="item$.abv && isGrowler">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box">
          <span fxFlex class="label">ABV</span>
          <span fxFlex class="info">{{ item$?.abv }}%</span>
        </div>    
      </div>
      <div fxFlex fxFlexAlign="center" *ngIf="item$.cbd && isDispensary">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box">
          <span fxFlex class="label">CBD</span>
          <span fxFlex class="info">{{ item$?.cbd }}%</span>
        </div>
      </div>
      <div fxFlex fxFlexAlign="center" *ngIf="item$.ibu && isGrowler">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box">
          <span fxFlex class="label">IBUs</span>
          <span fxFlex class="info">{{ item$?.ibu }}</span>
        </div>
      </div>
      <div fxFlex fxFlexAlign="center" *ngIf="item$.type">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box">
          <span fxFlex class="label">TYPE</span>
          <span fxFlex class="info">{{ item$?.type | title }}</span>
        </div>
      </div>
    </div>

    <p>{{ item$?.description }}</p>

    <!-- [fxFlex]="sortedPrices.length > 1 ? '100%' : '30%'" |  -->
    <div class="selection-row">

      <div class="pricing" 
        fxLayout="row wrap" [fxLayoutAlign]="sortedPrices.length < 2 ? 'start center' : 'center center'">
        <div class="price" fxLayout="column" fxLayoutAlign="center center"
          *ngFor="let price of sortedPrices; let i = index; let l = last;"
          fxFlex="calc(33% - 16px)"
          [class.selected]="i === selected"
          [class.single]="sortedPrices.length < 2"
          [class.mat-elevation-z1]="i === selected"
          (click)="selected = i">
          <div class="amount">
            <span>{{ '$' + price.price }}</span>
          </div>
          <div class="unit">
            <span>{{ price.name | uppercase }}</span>
          </div>
        </div>
      </div>

      <div class="online-order" fxLayout="row" fxLayoutGap="8px" *ngIf="hasOnlineOrdering">
        <div class="quantity" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <button mat-icon-button color="default" (click)="quantity = quantity - 1" [disabled]="quantity < 2"><mat-icon>remove</mat-icon></button>
          <span>{{ quantity }}</span>
          <button mat-icon-button color="default" (click)="quantity = quantity + 1"><mat-icon>add</mat-icon></button>
        </div>
        <button fxFlex mat-button color="accent" (click)="addItemToCart(item$)" [disabled]="quantity < 1">ADD TO CART</button>
      </div>

    </div>

    <div style="height: 0px"></div>

  </div>
</div>

<div fxHide.lt-md *ngIf="item$" class="large-view">
  <div class="header-large" *ngIf="headerImage" [style.background-image]="headerImage">
    <div class="overlay"></div>
  </div>
  <!-- <div class="blur" [class.hide]="view"><div class="inner-blur"></div></div> -->
  <div class="container-large" [class.cover]="headerImage" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px" [class.hide]="view">
    <mat-card [class.narrow]="!item$.photoUrl">
      <div fxLayout="row" fxLayoutGap="24px">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="item$.photoUrl">
          <cl-image [public-id]="item$.photoUrl" type="fetch">
            <cl-transformation width="375" crop="fill" gravity="auto"></cl-transformation>  
          </cl-image>
        </div>
        <div fxFlex fxLayout="column">
          <div>
            <span class="vendor">{{ item$?.vendor | title }}</span>
            <h1>{{ item$?.name | title }}</h1>
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="actions-large">
              <div fxFlex="33%" fxFlexAlign="center" *ngIf="item$.thc">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box-large">
                  <span fxFlex class="label">THC</span>
                  <span fxFlex class="info">{{ item$?.thc + '%' }}</span>
                </div>    
              </div>
              <div fxFlex="33%" fxFlexAlign="center" *ngIf="item$.cbd">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box-large">                
                  <span fxFlex class="label">CBD</span>
                  <span fxFlex class="info">{{ item$?.cbd + '%' }}</span>
                </div>
              </div>
              <div fxFlex="33%" fxFlexAlign="center" *ngIf="item$.type">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="info-box-large">
                  <span fxFlex class="label">TYPE</span>
                  <span fxFlex class="info">{{ item$?.type | title }}</span>
                </div>
              </div>
            </div>
            <p>{{ item$?.description }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div style="height: 1px; width: 100%;background: rgba(0,0,0,0.35)"></div>
          </div>
          <div>
            <div class="content-large">
              <h1 *ngIf="hasOnlineOrdering">Order</h1>
              <div class="pricing-large" 
                fxLayout="row wrap"
                [fxLayoutAlign]="sortedPrices.length > 1 ? 'center start' : 'start center'">
                <div class="price" fxLayout="column" fxLayoutAlign="center center"
                  *ngFor="let price of sortedPrices | slice:0:5; let i = index"
                  fxFlex="calc(50% - 8px)"
                  [class.selected]="i === selected"
                  [class.mat-elevation-z1]="i === selected"
                  (click)="selected = i">
                  <div class="amount">
                    <span>{{ '$' + price.price }}</span>
                  </div>
                  <div class="unit">
                    <span>{{ price.name | uppercase }}</span>
                  </div>
                </div>
              </div>

              <div class="order-row-large" fxLayout="row" fxLayoutAlign="start center" *ngIf="hasOnlineOrdering">
                <div class="quantity-row" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                  <button mat-icon-button color="accent" (click)="quantity = quantity - 1" [disabled]="quantity < 2"><mat-icon>remove</mat-icon></button>
                  <span>{{ quantity }}</span>
                  <button mat-icon-button color="accent" (click)="quantity = quantity + 1"><mat-icon>add</mat-icon></button>
                </div>
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
                  <button mat-raised-button color="accent" (click)="addItemToCart(item$)">ADD TO CART</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-card>
  </div>
</div>
