<mat-card fxLayout="row" [class.first]="index === 0">

  <div class="img" fxFlex="125px">
    <cl-image [public-id]="item.photoUrl" type="fetch" style="max-height: 140px">
      <cl-transformation width="125" height="140" crop="fill" gravity="auto"></cl-transformation>
    </cl-image>
    <div class="item-letter">
      <div class="letter-circle mat-elevation-z1" *ngIf="item.noPhoto">
        <span>{{ item.letter | uppercase }}</span>
      </div>
    </div>
    <div class="banner" *ngIf="item.banner">
      <span>{{ item.category | uppercase }}</span>
    </div>
  </div>
  
  <div class="details" fxFlex fxLayout="column" fxLayoutGap="8px">
    <span class="name">{{ item.name | title }}</span>
    <span class="vendor" *ngIf="item.vendor">{{ item.vendor | title }}</span>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="thc" *ngIf="item.thc">THC: {{ item.thc }}</span>
      <span class="cbd" *ngIf="item.cbd">CBD: {{ item.cbd }}</span>
      <span class="thc" *ngIf="item.abv">ABV: {{ item.abv }}</span>
      <span class="cbd" *ngIf="item.ibu">IBUs: {{ item.ibu }}</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start end">
      <span class="type" fxFlex>{{ item.type | title }}</span>
      <div class="price-chip" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="4px">
        <span [innerHTML]="item.variations | variations:item.saleVariations:item.onSale"></span>
        <!--
        <div class="original" [class.strike]="item.onSale">{{ (item.onSale ? item?.displayedPrice[0]?.price : item?.variations[0]?.price) | currency:'USD':'symbol':'1.0-2' }}</div>
        <div *ngIf="item.onSale">{{ item?.saleVariations[0]?.price | currency:'USD':'symbol':'1.0-2' }}</div>
        <span class="unit">{{ (item.onSale ? item?.displayedPrice[0]?.name : item?.variations[0]?.name) | uppercase }}</span>
        -->
      </div>
    </div>
  </div>

  <div class="ribbon" *ngIf="item.onSale"><span>ON SALE</span></div>
</mat-card>
