@import '../../../app-theme';

mat-card {
    height: 140px;
    padding: 0px !important;
    position: relative;
}

.img {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-letter {
        height: 140px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,0.14);
        position: absolute;
        top: 0;
        left: 0;

        .letter-circle {
            height: 64px;
            width: 64px;
            border-radius: 50%;
            background: rgba(255,255,255,1);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid mat_color($primary);

            span {
                font-size: 24px;
                color: rgba(0,0,0,0.85);
            }
        }
    }

    .banner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.54);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;

        span {
            font-size: 10px;
            color: #fff;
        }
    }
}

.details {
    padding: 16px;
    max-width: calc(100% - 125px);
    overflow: hidden;

    .name {
        max-width: 100%;
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .vendor {
        font-size: 12px;
    }

    .thc, .cbd, .type {
        font-size: 12px;
        color: rgba(0,0,0,0.85);
    }

    .type {
        height: 26px;
        display: flex;
        align-items: center;
    }
}

.price-chip {
    padding: 6px 12px;
    background: linear-gradient(to right, mat_color($accent, 400), mat_color($accent, 300));
    color: mat_contrast($accent, 500);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    font-size: 12px;

    .unit {
        font-size: 10px;
        padding: 0;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
    }

    span {
        &.strike {
            text-decoration: line-through;
            opacity: 0.7;
        }
    }

    .original {
        &.strike {
            text-decoration: line-through;
            opacity: 0.7;
        }
    }
}

:host /deep/ .strike {
    text-decoration: line-through;
    opacity: 0.7;
}

:host /deep/ .unit {
    font-size: 10px;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;

    span {
        font-size: 9px;
        font-weight: bold;
        color: mat_contrast($accent, 600);
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(mat_color($accent, 500) 0%, mat_color($accent, 800) 100%);
        box-shadow: 0 3px 10px -5px #000000;
        position: absolute;
        top: 19px;
        left: -21px;

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid mat_color($accent, 900);
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid mat_color($accent, 900);
        }
        &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid mat_color($accent, 900);
            border-bottom: 3px solid transparent;
            border-top: 3px solid mat_color($accent, 900);
        }
    }
}