<router-outlet></router-outlet>
<!-- <div class="tabs-container">

  <div class="feature mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="(bSettings | async)?.logo || placeholder">
  </div>

  <mat-tab-group [selectedIndex]="step">

    <!-- Number Step --
    <mat-tab label="{{ steps[0]| uppercase }}">
      <div class="number" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
        <span class="step-header">Enter your Phone Number</span>
        <form [formGroup]="phoneForm" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" style="width: calc(100% - 16px)" fxLayoutGap="8px"> 
            <mat-form-field color="accent" style="width: 56px; text-align: center; font-size: 24px;" disabled>
              <mat-select formControlName="code">
                <mat-option [value]="code">+1</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" fxFlex style="font-size: 24px;">
              <input matInput placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          
          <button mat-raised-button color="accent" (click)="canLeave()" [disabled]="phoneForm.invalid">CONTINUE</button>
        </form>
      </div>
    </mat-tab>

    <!-- Confirm Step --
    <mat-tab label="{{ steps[1]| uppercase }}">
      <div class="confirm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span class="step-header">Enter the Verification Code</span>
        <form [formGroup]="confirmForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" class="verify-row">
            <mat-form-field color="accent" *ngFor="let x of [1,2,3,4,5,6]" fxFlex="calc((100% / 6) - 16px)">
              <input matInput [formControlName]="x" [name]="x" maxLength="1" appTabInput class="single">
            </mat-form-field>
          </div>
          <button mat-raised-button color="accent" (click)="verifyCode()" [disabled]="confirmForm.invalid">CONTINUE</button>
        </form>
      </div>
    </mat-tab>

    <!-- Info Step --
    <mat-tab label="{{ steps[2]| uppercase }}">
      <div class="info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span class="step-header">Complete your account</span>
        <form [formGroup]="infoForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <mat-form-field color="accent" class="reg-field">
            <input matInput formControlName="displayName" placeholder="Full Name">
          </mat-form-field>
          <mat-form-field color="accent" class="reg-field">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <span class="bday-header">Birthday</span>
          <div class="bday-row" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="8px">
            <div class="bday-field month">
              <!-- <span>{{ month }}</span>
              <mat-icon>date_range</mat-icon>
              <span class="label">Month</span> --
              <mat-form-field class="bday-field month">
                <mat-select placeholder="Month" formControlName="month">
                  <mat-option *ngFor="let m of months" [value]="m.value">
                    {{ m.key }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="bday-field day">
              <!-- <span>{{ day }}</span>
              <mat-icon>date_range</mat-icon>
              <span class="label">Day</span> --
              <mat-form-field class="bday-field day">
                <mat-select placeholder="Day" formControlName="day">
                  <mat-option *ngFor="let d of days" [value]="d">
                    {{ d }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="bday-field year">
              <!-- <span>{{ year }}</span>
              <mat-icon>date_range</mat-icon>
              <span class="label">Year</span> --
              <mat-form-field class="bday-field year">
                <mat-select placeholder="Year" formControlName="year">
                  <mat-option *ngFor="let y of years" [value]="y">
                    {{ y }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="accent" (click)="getBday();" [disabled]="infoForm.invalid">CONTINUE</button>
        </form>
      </div>
    </mat-tab>

    <!-- Prefs Step --
    <mat-tab label="{{ steps[3]| uppercase }}">
      FOUR  
    </mat-tab>

  </mat-tab-group>

  <div id="recaptcha-container"></div>

  <!-- <div class="tab-stepper" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button style="padding-left: 0px" *ngIf="step > 0" (click)="previous()"><mat-icon>chevron_left</mat-icon>PREVIOUS</button>
    <div fxFlex></div>
    <button mat-button style="padding-right: 0px" *ngIf="step < 3" (click)="next()">NEXT<mat-icon>chevron_right</mat-icon></button>
  </div> --
</div> -->
