@import '../../app-theme';

/*body {
    background-color: #FAFAFA;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: mat_color($primary);
    color: mat_contrast($primary, 500);
    height: 200px;
    min-height: 200px;
    img {
        max-width: 300px;
        height: auto;
    }
}

a {
    color: mat_color($accent);
}

.container {
    padding: 16px;
    height: calc(100vh - 264px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-dense {
    padding: 16px;
}

.mat-form-field {
    width: 100%;
}

.mat-raised-button {
    width: 100%;
}

.mat-icon-button {
    position: absolute !important;
    top: 8px;
    left: 16px;
    mat-icon {
        color: mat_contrast($primary, 500);
    }
} */

.tabs-container {
    position: relative;
    height: 100vh;

    .feature {
        height: calc(100vh / 3);
        background-color: #ededed;
        position: relative;

        img {
            max-height: 70%;
            width: auto;
        }
    }

    .tab-stepper {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: mat_color($primary);
        height: 48px;
        
        .mat-button {
            color: #fff;
        }
    }

    

    mat-tab-group {

        .step-header {
            font-size: 24px;
        }

        .number {
            padding-top: 24px;
            
             span {
             }

             form {
                 width: 100%;

                 mat-form-field {
                     width: calc(100% - 24px);

                     .mat-form-field-prefix {
                         padding-right: 12px;
                     }
                     
                     input {
                         width: 100%;
                     }
                 }
                 button {
                     width: calc(100% - 24px);
                 }
             }
        }

        .confirm {
            padding-top: 24px;

            form {
                width: calc(100vw - 24px);

                .verify-row {
                    width: 100%;
                }
            }

            button {
                width: calc(100vw - 16px)
            }

        }

        .info {
            padding-top: 24px;

            form {

                mat-form-field.reg-field {
                    width: calc(100vw - 24px);

                    input {
                        width: 100%;
                    }
                }

                .bday-header {
                    font-size: 16px;
                    color: rgba(0,0,0,0.56);
                    width: 100%;
                    text-align: left;
                }
                .bday-row {
                    height: 45px;

                    .bday-field {
                        width: calc((100vw / 3) - 14px);
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        mat-icon {
                            position: absolute;
                            right: 4px;
                            font-size: 16px;
                            height: 16px;
                            width: 16px;
                        }

                        .label {
                            position: absolute;
                            left: 4px;
                            font-size: 12px;
                            color: rgba(0,0,0,0.40);
                        }
                    }
                }

                button {
                    width: calc(100% - 24px);
                }
            }
        }
    }
}

:host /deep/ .mat-tab-header {
    display: none;
}
:host /deep/ .mat-tab-body {
    height: calc((100vh - (100vh / 3)) - 16px);
}

.mat-input-element.single {
    text-align: center;
}

:host /deep/ .mat-form-field-wrapper {
    max-width: 100%;
}