<h2 matDialogTitle>
  Locations
</h2>
<mat-dialog-content>
  <p *ngFor="let option of data?.items">
    {{ option.name | title }}
    <mat-checkbox [(ngModel)]="option.follows"></mat-checkbox>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent">CANCEL</button>
  <button mat-raised-button [mat-dialog-close]="data?.items" color="accent">SAVE</button>
</mat-dialog-actions>
