<div id="bottom-sheet-container">
  <div id="bs-inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <!-- <img *ngIf="(bSettings | async) as settings" [src]="settings?.logo"> -->
    <mat-icon color="accent">{{ config.icon }}</mat-icon>
    <span class="link">{{ config.link }}</span>
    <span>{{ config.text ? config.text : baseText }}</span>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
      <button mat-button color="accent" (click)="gotoLogin()">Sign In</button>
      <button mat-raised-button color="accent" (click)="gotoLogin()">Sign Up</button>
    </div>
  </div>
</div>
