#bottom-sheet-container {
    background-color: #fff;
    // box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding-top: 24px;
    padding-bottom: 32px;

    img {
        max-width: 250px;
        max-height: 125px;
    }

    mat-icon {
        height: 72px;
        width: 72px;
        font-size: 72px;
    }

    .link {
        font-size: 28px;
        font-weight: 300;
    }

    #bs-inner {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    img {
        max-width: 250px;
        height: auto;
    }
}