<mat-nav-list>
  <a mat-list-item routerLink="home" routerLinkActive="active" *ngIf="showHome">
    <mat-icon mat-list-icon>home</mat-icon>
    <span matLine>Home</span>
  </a>
  <a mat-list-item routerLink="menu" routerLinkActive="active">
    <mat-icon mat-list-icon>list</mat-icon>
    <span matLine>Products</span>
  </a>
  <!-- <a mat-list-item routerLink="messages" routerLinkActive="active">
    <mat-icon mat-list-icon>email</mat-icon>
    <span matLine>Messages</span>
  </a> -->
  <a mat-list-item routerLink="articles" routerLinkActive="active" *ngIf="showArticles">
    <mat-icon mat-list-icon>description</mat-icon>
    <span matLine>Articles</span>
  </a>
  <a mat-list-item routerLink="activity" routerLinkActive="active">
    <mat-icon mat-list-icon>timeline</mat-icon>
    <span matLine>Activity</span>
  </a>
  <a mat-list-item routerLink="rewards" routerLinkActive="active">
    <mat-icon mat-list-icon>insert_emoticon</mat-icon>
    <span matLine>Rewards</span>
  </a>
  <a mat-list-item (click)="handleLocationsNavLink()" routerLinkActive="active">
    <mat-icon mat-list-icon>place</mat-icon>
    <span matLine>{{ totalLocations > 1 ? 'Locations' : 'Location' }}</span>
  </a>
  <a mat-list-item routerLink="support" routerLinkActive="active">
    <mat-icon mat-list-icon>help</mat-icon>
    <span matLine>Help</span>
  </a>
  <a mat-list-item routerLink="settings" routerLinkActive="active">
    <mat-icon mat-list-icon>settings</mat-icon>
    <span matLine>Settings</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="handleSignBtn()">
    <mat-icon mat-list-icon>input</mat-icon>
    <span matLine>{{ signBtnText }}</span>
  </a>
</mat-nav-list>
