.dead {
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;

    .card {
        width: 100%;
        background-color: #fff;padding: 24px;

        .title {
            font-size: 72px;
        }
        .subtitle {
            font-size: 18px;
            text-align: center;
        }
        button {
            height: 64px;
            width: 64px;
        }
        mat-icon {
            font-size: 48px;
            height: 48px;
            width: 48px;
            color: rgba(0,0,0,0.65);
        }
        .icon-text {
            font-size: 14px;
            color: rgba(0,0,0,0.65);
        }
    }
}