<div class="dead">
  <div class="card mat-elevation-z1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <span class="title">404</span>
    <span class="subtitle">This is not the page you are looking for.</span>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px" routerLink="../home">
      <mat-icon>home</mat-icon>
      <span class="icon-text">Go Home</span>
    </div>
  </div>
</div>
