@import '../../../../app-theme';

.feature {
    height: calc(100vh / 3);
    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-bottom: 16px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    button {
        position: absolute;
        top: 8px;
        right: 56px;
    }

    h1 {
        font-size: 102px;
        line-height: 112px;
        margin: 0;
        text-align: center;        
        font-family: 'Roboto', sans-serif;
        color: #FFF;
        font-weight: 300;
    }

    span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 16px;
        padding-bottom: 16px;
        display:block;
        width: 100%;
        text-align: start;
        font-size: 36px;
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        color: #FFF;
        background: linear-gradient(transparent, #000);
    }
}

.actions {
    padding: 8px 0 16px;
    position: relative;

    span, a {
        color: mat_color($accent);
        font-size: 14px;
    }
    .action-icon {
        color: mat_color($accent);
        font-size: 18px;
        height: 18px;
        width: 18px;
    }
    a {
        text-decoration: none;
    }
}

.list {
    p {
        font-size: 14px;
    }
    mat-icon {
        color: mat_color($accent);
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

.rate {
    padding: 16px;
    mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
        color: rgba(0,0,0,0.54);
        transition: 0.2s ease;
    }
}

.no-padding {
    padding: 0;
}

.image-large {
    // height: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: 50% 50%;
}

.content-large {
    padding: 48px;
}

.container-large {
    padding: 24px;
    mat-card {
        mat-card-title {
            .mat-raised-button {
                float: right;
            }
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 32px;
        margin: 0 0 24px 0;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 0 12px 0;
    }
    p {
        font-size: 14px;
        line-height: 19px;
        color: rgba(0,0,0,0.54);
    }
    .review {
        h3 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
        p {
            color: rgba(0,0,0,0.87);
            font-size: 14px;
            line-height: 22px;
            margin: 8px 0;
        }
        small {
            color: rgba(0,0,0,0.54);
        }
    }
    .more-reviews {
        float: right;
        font-size: 14px;
        color: mat_color($accent); 
    }

    .rating-number {
        color: mat_color($accent);
        font-size: 24px;
    }
    .reviews-number {
        line-height: 24px;
        margin-left: 8px;
        color: rgba(0,0,0,0.54);
    }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 8px;
}

.x-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.y-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.static-map {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }

    agm-map {
        height: 100%;
        width: 100%;
    }
}

.hours mat-icon {
    color: mat_color($accent);
    font-size: 16px;
    height: 16px;
    width: 16px;
}
.day {
    width: 80%;
}

:host /deep/ .mat-expansion-panel {
    background: transparent;
}

:host /deep/ .mat-expansion-panel-header {
    padding-left: 20px;
    padding-right: 20px;
}
:host /deep/ .mat-expansion-panel-header-title {
    flex-grow: 0;
    margin-right: 20px;
}
:host /deep/ .mat-expansion-panel-header-description {
    color: rgba(0, 0, 0, 0.87)
}

.reviews-cont {
    margin: 16px 0px;

    .summary {

        span {
            width: calc(100% - 16px);
            padding-left: 16px;
        }

        .stars {

            .average {
                font-size: 84px;
                text-align: center;
                padding: 0px;
                font-weight: 100;
                color: mat_color($accent);
            }

            mat-icon {
                color: mat_color($accent, 300);
            }
        }
    }
    .reviews {
        width: 100%;
        margin-top: 16px;

        .review {
            width: 100%;

            .avatar {
                width: 64px;
                display: flex;
                justify-content: center;

                div {
                    height: 48px;
                    width: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: mat_color($accent);
                    background-size: cover;
                    background-position: center center;

                    span {
                        color: #fff;
                        font-size: 24px;
                        font-weight: 100;
                    }
                }
            }
            .body {

                .name {
                    font-size: 16px;
                }
                .text {
                    font-size: 14px;
                    line-height: 1.5;
                }

                .author-rating {
                    padding-right: 8px;

                    .star {
                        height: 16px;
                        width: 16px;
                        font-size: 16px;
                    }
                }

            }
            .rating {
                width: 64px;
                display: flex;
                justify-content: center;
                align-items: center;

                .number {
                    font-size: 24px;
                }

            }
        }
    }
}

.view-large {
    
    .header {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center center; 

        agm-map {
            height: 100%;
            width: 100%;
        }
    }

    .body {
        z-index: 1;
        max-width: 500px;
        margin: -100px auto 0 auto;
        padding-bottom: 24px;

        &.cover {
            margin: -100px auto 0 auto;
        }

        .card {
            max-width: 500px;
            margin: 0 auto;
            background: #fff;

            .inner {
                width: 100%;
                
                .loc-map{
                    width: 100%;
                    height: 300px;
                    background-size: cover;
                    background-position: center center;

                    agm-map {
                        height: 100%;
                        width: 100%;
                    }
                }
                .loc-details {

                    .loc-actions {
                        margin-top: 16px;

                        .loc-action {
                            button {
                                height: 56px;
                                width: 56px;

                                mat-icon {
                                    height: 36px;
                                    width: 36px;
                                    font-size: 36px;
                                    line-height: 36px;
                                }
                            }
                            .action {
                                color: rgba(0,0,0,0.65);
                                font-size: 12px;
                            }
                        }
                    }
                    .list {
                        margin-top: 16px;
                    }
                }
            }
        }

        .reviews-card {
            margin-top: 24px;
            width: calc(100% - 0px);
            background: #fff;
            padding: 24px;

            .total-reviews {
                .avg {
                    font-size: 56px;
                    color: mat_color($accent);
                    font-weight: 300;
                }
                .avg-stars {
                    mat-icon {
                        font-size: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .review {
                margin-top: 24px;

                .avatar {
                    min-width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center center;
                }

                .author {
                    font-size: 16px;
                }

                .desc {
                    font-size: 14px;
                    line-height: 1.4;
                    color: rgba(0,0,0,0.70);
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .static-map {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .header {
        margin-bottom: 0 !important;
    }
    .body {
        margin: 8px auto 0 auto !important;
        max-width: calc(100% - 16px) !important;
        padding-bottom: 8px !important;
    }
}