<!-- 
<div fxHide.gt-sm *ngIf="(business | async) as location">
  <div class="feature mat-elevation-z2">
    <cl-image [public-id]="location.photoUrl" type="fetch">
        <cl-transformation [attr.width]="getScreenWidth()" crop="fill" gravity="auto"></cl-transformation>
    </cl-image>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="actions">
    <div fxFlex fxFlexAlign="center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon fxFlex class="action-icon">call</mat-icon>
        <span fxFlex><a href="tel:{{location?.phoneNumber}}">CALL</a></span>
      </div>
    </div>
    <div fxFlex fxFlexAlign="center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon fxFlex class="action-icon">public</mat-icon>
        <span fxFlex><a href="{{location?.website}}">WEBSITE</a></span>
      </div>
    </div>
    <div fxFlex fxFlexAlign="center" [routerLink]="['./../../../consumer', id, 'menu']">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon fxFlex class="action-icon">local_offer</mat-icon>
        <span fxFlex>MENU</span>
      </div>
    </div>
  </div>

  <div class="list">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <p matLine> You were here {{ lastCheckin | date }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <p matLine> {{ location?.address }} {{ location?.address2 }} {{ location?.city }}, {{ location?.state }} {{ location?.zip }} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <div class="hours">
    <mat-expansion-panel [expanded]="!lat && !lon">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon mat-list-icon>access_time</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
              <span>{{ days[day] | title }}</span>: {{ location?.hours[days[day]].open ? 'Open' : 'Closed'}} {{ location?.hours[days[day]].open ? (openToday | date: 'shortTime') + ' - ' + (closeToday | date: 'shortTime') : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px" style="padding-left: 32px;">
          <div *ngFor="let hours of hoursWithDates; let i = index" fxLayout="row" fxLayoutAlign="start center" class="day">
            <span style="width: 40px">{{ days[i] | title }}</span>
            <span fxFlex>{{ hours.open ? 'Open' : 'Closed' }}</span>
            <span>{{ hours.open ? (hours.openTime | date: 'shortTime') + ' - ' + (hours.closeTime | date : 'shortTime') : ''}}</span>
          </div>
        </div>
      </mat-expansion-panel>
  </div>

  <div class="static-map" id="map" *ngIf="lat && lon">
    <agm-map [latitude]="lat" [longitude]="lon" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false">
      <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
    </agm-map>
  </div>

  <div class="reviews-loader" fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingReviews" style="height: 200px">
    <mat-progress-spinner color="primary" mode="indeterminate" ></mat-progress-spinner>
  </div>

  <div class="reviews-cont" fxLayout="column" *ngIf="placeDetails">
    <div class="summary" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
      <span>Review Summary</span>
      <div class="stars" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px">
        <span class="average">{{ placeDetails.result.rating }}</span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
          <mat-icon *ngFor="let x of [1,2,3,4,5]" class="star">{{ getStar(x) }}</mat-icon>
        </div>
      </div>
    </div>
    <div class="reviews" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
      <div class="review" fxLayout="row" fxLayoutAlign="start start" *ngFor="let review of placeDetails.result.reviews; let l = last">
        <div class="avatar">
          <div class="mat-elevation-z1" [style.background-image]="sanitizeReviewImageStyle(review.profile_photo_url)"><span></span></div>
        </div>
        <div class="body" fxFlex fxLayout="column" fxLayoutGap="8px">
          <div class="author" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <span class="name" fxFlex>{{ review.author_name }}</span>
            <div class="author-rating" fxLayout="row" fxLayoutGap="4px">
              <mat-icon *ngFor="let x of [1,2,3,4,5]" class="star">{{ getAuthorStar(x, review.rating) }}</mat-icon>
            </div>
          </div>
          <span class="text">{{ review.text.length > 100 ? '"' + review.text.substring(0, 100) + '..."' : '' }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
-->

<div class="view-large" fxLayout="column" fxLayoutGap="24px" *ngIf="(business | async) as location">
  <div class="header">
    <agm-map [latitude]="lat" [longitude]="lon" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false" [styles]="styles">
      <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
    </agm-map>
  </div>
  <div class="body" [class.cover]="sanPhoto">
    <div class="card mat-elevation-z1">
      <div class="inner" fxLayout="column">
        <div class="loc-map" *ngIf="location.photoUrl" [style.background-image]="location.photoUrl | urlSanitizer: 'style'">
          <!-- 
          <agm-map [latitude]="lat" [longitude]="lon" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false">
            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
          </agm-map>
          -->
        </div>
        <div class="loc-details" fxLayout="row wrap">
          <div class="loc-actions" fxFlex="100%" fxLayout="row">
            <div class="loc-action" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
              <button mat-icon-button><mat-icon color="accent">call</mat-icon></button>
              <span class="action">CALL</span>
            </div>
            <div class="loc-action" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
              <button mat-icon-button><mat-icon color="accent">public</mat-icon></button>
              <span class="action">WEBSITE</span>
            </div>
            <div class="loc-action" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
              <button mat-icon-button><mat-icon color="accent">local_offer</mat-icon></button>
              <span class="action">MENU</span>
            </div>
          </div>
          <div class="list" fxFlex="100%">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon mat-list-icon>event</mat-icon>
                <p matLine *ngIf="lastCheckin">You were here {{ lastCheckin | date }}</p>
                <p matLine *ngIf="!lastCheckin">You have not checked in yet</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon mat-list-icon>place</mat-icon>
                <p matLine> {{ location?.address }} {{ location?.address2 }} {{ location?.city }}, {{ location?.state }} {{ location?.zip }} </p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon mat-list-icon>schedule</mat-icon>
                <p matLine><span>{{ days[day] | title }}</span>: {{ location?.hours[days[day]].open ? 'Open' : 'Closed'}} {{ location?.hours[days[day]].open ? (openToday | date: 'shortTime') + ' - ' + (closeToday | date: 'shortTime') : ''}}</p>
              </mat-list-item>  
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-card mat-elevation-z1" fxLayout="column" *ngIf="placeDetails">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <mat-icon color="accent">comment</mat-icon>
        <span fxFlex>Reviews</span>
        <!--
        <div class="total-reviews" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
          <span>{{ placeDetails.result.rating }}</span>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon color="accent" *ngFor="let x of [1,2,3,4,5]; let i = index">{{ getStarWithRating(i, placeDetails.result.rating) }}</mat-icon>
          </div>
        </div>
        -->
      </div>
      <div class="total-reviews" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <div class="avg">
          <span>{{ placeDetails.result.rating }}</span>
        </div>
        <div class="avg-stars" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
          <mat-icon color="accent" *ngFor="let x of [1,2,3,4,5]; let i = index">{{ getStarWithRating(i, placeDetails.result.rating) }}</mat-icon>
        </div>
      </div>
      <div class="review" *ngFor="let review of placeDetails.result.reviews" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
        <!--
        <div class="name-rate" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <span class="name">{{ review.author_name }}</span>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon color="accent" *ngFor="let x of [1,2,3,4,5]; let i = index">{{ getStarWithRating(i, review.rating) }}</mat-icon>
          </div>
        </div>
        -->
        <div class="avatar" [style.background-image]="review.profile_photo_url"></div>
        <div fxLayout="column">
          <span class="author">{{ review.author_name }}</span>
          <span class="desc">{{ review.text.length > 100 ? review.text.substring(0,100) + '...' : review.text }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--   
  <mat-card fxFlex class="no-padding">
      <div fxLayout="row">
        <div fxFlex="55%">
          <div class="content-large">
            <h1>{{ location?.name }}</h1>
            <img [src]="location?.photoUrl" class="x-img"/>
            <div fxLayout="row" fxLayoutAlign="center center" class="actions">
              <div fxFlex fxFlexAlign="center">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                  <mat-icon fxFlex>call</mat-icon>
                  <span fxFlex><a href="tel:{{location?.phoneNumber}}">CALL</a></span>
                </div>    
              </div>
              <div fxFlex fxFlexAlign="center">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                  <mat-icon fxFlex>public</mat-icon>
                  <span fxFlex>WEBSITE</span>
                </div>
              </div>
              <div fxFlex fxFlexAlign="center" routerLink="menu">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                  <mat-icon fxFlex>local_offer</mat-icon>
                  <span fxFlex>MENU</span>
                </div>
              </div>
            </div>
            <div class="list">
              <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon>event</mat-icon>
                  <p matLine *ngIf="lastCheckin">You were here {{ lastCheckin | date }}</p>
                  <p matLine *ngIf="!lastCheckin">You have not checked in yet</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon>place</mat-icon>
                  <p matLine> {{ location?.address }} {{ location?.address2 }} {{ location?.city }}, {{ location?.state }} {{ location?.zip }} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon mat-list-icon>schedule</mat-icon>
                  <p matLine><span>{{ days[day] | title }}</span>: {{ location?.hours[days[day]].open ? 'Open' : 'Closed'}} {{ location?.hours[days[day]].open ? (openToday | date: 'shortTime') + ' - ' + (closeToday | date: 'shortTime') : ''}}</p>
                </mat-list-item>  
              </mat-list>
            </div>
          </div>
        </div>
        <div class="static-map" fxFlex="45%" #businessStaticImage>
          <agm-map [latitude]="lat" [longitude]="lon" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false">
            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
          </agm-map>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex *ngIf="placeDetails">
      <mat-card-title>
        Reviews
      </mat-card-title>

      <div fxLayout="column" fxLayoutGap="48px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="0" fxLayoutAlign="start center">
            <span fxFlex="45px" class="rating-number">{{ placeDetails.result.rating }}</span>
            <mat-icon fxFlex="30px" color="accent" *ngFor="let i of [1,2,3,4,5]">
              {{ getStarWithRating(i, placeDetails.result.rating) }}
            </mat-icon>
            <small fxFlex="100px" class="reviews-number">{{ placeDetails.result.reviews.length }} review{{ reviews.length === 1 ? '' : 's' }}</small>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="column" fxLayoutGap="24px">
            <div fxFlex *ngFor="let review of placeDetails.result.reviews">
              <div fxLayout="row" fxLayoutGap="8px" class="review">
                <div fxFlex="calc(20% - 8px)">
                  <h3>{{ review.author_name }}</h3>
                  <small>{{ review.date }}</small>
                </div>
                <div fxFlex="calc(80% - 8px)">
                  <div fxLayout="column" fxLayoutGap="0">
                    <div fxFlex>
                      <mat-icon *ngFor="let i of [1,2,3,4,5]" color="accent">
                        {{ getStarWithRating(i, review.rating) }}
                      </mat-icon>
                    </div>
                    <div fxFlex>
                      <p>
                        {{ review.text.length > 100 ? review.text.substring(0, 100) + '...' : '' }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex>
              <a href="" class="more-reviews">More reviews</a>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  -->