@import '../../../app-theme';

mat-card {
    mat-card-title {
        font-size: 18px!important;
    }
    mat-card-subtitle {
        //display: inline-block;
        float: right;
    }

    .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
    }
    .pull-right {
        font-weight: 600;
    }
    .mat-divider {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
        margin: 0;
        border: 0;
        width: 2px;
        background-color: rgba(0, 0, 0, 0.12);
        height: 12px;
        margin-left: 18px;
    }

}

:host /deep/ .mat-list-item-content {
    padding: 0 !important;
}

:host /deep/ .mat-list-text {
    padding: 0 0 0 16px !important;
}

.feature {
    position: relative;
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.24);
        // background: mat_color($primary, 500, 0.24);

        h1, span {
            text-shadow: -2px 4px rgba(0,0,0,0.05), -2px 2px rgba(0,0,0,0.10), -2px 2px rgba(0,0,0,0.15);
        }
    }
}

.feature-large {
    padding: 24px;
    width: calc(100% - 48px);
    background-color: mat_color($primary, 50);
    h1 {
        font-size: 32px;
        color: rgba(0,0,0,0.87);
        font-weight: 300;
        line-height: 34px;
        margin: 0;
    }
    span {
        color: rgba(0,0,0,0.87);
        font-size: 16px;
        line-height: 20px;
    }
}

h3 {
    font-size: 14px;
    line-height: 24px;
}
.second {
    font-size: 12px;
    line-height: 20px;
}

.no-acts-row {
    
    mat-icon {
        color: #fff;
        height: 48px;
        width: 48px;
        font-size: 48px;
        border-radius: 50%;
        box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
        background-color: mat_color($accent, 300);
        border-radius: 50%;
        padding: 16px;
    }
}

.no-activities {
    width: 100%;

    mat-icon {
        color: #fff;
        height: 72px;
        width: 72px;
        font-size: 72px;
        border-radius: 50%;
        box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
        background-color: mat_color($accent, 300);
        border-radius: 50%;
        padding:36px;
    }
    span {
        font-size: 20px;
    }
}

.list-letter {
    border-radius: 50%;
    background-color: mat_color($accent);
    color: mat_contrast($accent, 500);
}

.container.auth {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}
