<div class="feature mat-elevation-z2" fxHide.gt-sm *ngIf="loggedIn"
  [style.background-image]="activityBanner">
  <div class="cover">
    <h1>{{ (member | async)?.currentPoints || '0' }}</h1>
    <span>POINTS AVAILABLE</span>
  </div>
</div>


<div class="feature-large" fxHide.sm fxHide.xs>
    <h1>{{ (member | async)?.currentPoints || '0' }}</h1>
    <span>POINTS AVAILABLE</span>
</div>

<div class="container" *ngIf="(activities|async) as activities">
  <div fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="24px">
    <mat-card *ngIf="activitiesAmount === 0" class="animated fadeIn">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center" class="no-acts-row">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>timeline</mat-icon>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
          <span>No Activity Yet</span>
          <span style="font-size: 12px; color: #424242">Visit our location to see your activity</span>
        </div>
      </div>
    </mat-card>

    <!-- <div *ngIf="activitiesAmount === 0" class="no-activities" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <mat-icon>timeline</mat-icon>
      <span>No Activity Yet</span>
    </div> -->

    <mat-card fxFlex *ngFor="let date of activities | groupDate;" class="animated fadeIn">
      <mat-card-subtitle>Points</mat-card-subtitle>
      <mat-card-title>{{ date?.key | date:'EEE, d MMM' }}</mat-card-title>
      <mat-list>
        <div *ngFor="let activity of date.value; let isLast = last;">
          <mat-list-item>
            <!-- <img mat-list-avatar src="https://placehold.it/50"> -->
            <div mat-list-avatar class="list-letter" fxLayout="row" fxLayoutAlign="center center">{{ activity?.title.charAt(0).toUpperCase() }}</div>
            <h3 matLine> 
              <span>{{ activity?.title }}</span>
              <span class="pull-right">{{ activity?.points }} pts</span>
            </h3>
            <p matLine>
              <span class="second"> {{ activity?.createdAt | date:'shortTime' }} </span>
            </p>
          </mat-list-item>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </mat-list>
    </mat-card>

  </div>
</div>

<!--
<div class="container auth" *ngIf="!loggedIn" fxLayout="row" fxLayoutAlign="center start">
  <div class="not-logged-in">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>vpn_key</mat-icon>
      <span>Not Logged In</span>
    </div>
  </div>
</div>

<app-bottom-sheet class="animated slideInUp" *ngIf="!loggedIn"></app-bottom-sheet>
-->
