@import '../../../app-theme';

.keep-scroll {
    height: calc(100vh - 114px);
    overflow-y: scroll;
    padding: 0px 16px 0px 16px;
}

/*
virtual-scroll {
    height: calc(100vh - 106px);
    padding: 0px 0px;
    will-change: transform;
    touch-action: pan-y !important;
}
*/

app-product-item {
    display: block;
    width: calc(100% - 16px);
    height: 140px;
    margin: 8px;
}

:host /deep/ app-product-item {
    height: 140px;
}

:host /deep/ .mat-chip-list-wrapper {
    margin: 16px 0;
}

:host /deep/ .mat-tab-header-pagination-chevron {
    border-color: mat_contrast($primary, 500);
    z-index: 1;
}

:host /deep/ .mat-tab-header-pagination {
    z-index: 1;
}

:host /deep/ .mat-tab-header-pagination-disabled {
    opacity: 0 !important;
}

.loading-container {
    height: calc(100vh - 150px);

    span {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.44);
    }
}

:host /deep/ .mat-tab-body {
    padding: 0px 0px;
}

.mat-tab-group {
    overflow-y: hidden;
}

:host /deep/ .mat-tab-label {
    // font-weight: 200 !important;
}

.container.search {
    padding: 0px;

    virtual-scroll {
        height: calc(100vh - 64px);
    }
}

.container.zero {
    width: 100%;

    .no-items {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {

            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .keep-scroll {
        padding: 0px 8px;
        height: calc(100vh - 105px);
        max-width: calc(100vw - 16px);
    }
    .item {
        width: calc(100% - 24px);
        margin: 0px 12px 12px 12px;
    }
}

@media screen and (min-width: 960px) {

    virtual-scroll {
        height: calc(100vh - 120px) !important;
    }

    app-product-item {
        max-width: calc(60% - 16px);
        margin: 8px auto;

        /*
        &.last {
            margin-right: 16px;
        }
        */
    }
    .item {
        margin-bottom: 24px;
        max-width: calc((100% * 0.5) - 24px);
    }
    .last-item {
        margin-right: 24px;
    }

    .products-container {
        height: calc(100vh - 64px) !important;
    }

    .subheader {
        width: calc(100% - 280px) !important;
        margin-left: 280px;
    }
}

@media screen and (min-width: 1280px) {
    .item {
        margin-bottom: 24px;
        max-width: calc((100% * 0.33) - 24px);
    }
}

.products-container {
    height: calc(100vh - 56px);
    position: relative;
    overflow: hidden;

    .filter-toolbar {
        height: 56px;
        width: 100%;
        background-color: mat_color($primary);
        padding: 0px 16px;
        transition: 250ms cubic-bezier(.4,0,.2,1);
        z-index: 3;

        &.hide {
            height: 0px;
        }

        .filter-selector {
            opacity: 1;
            transition: 250ms ease;
            &.hide {
                opacity: 0;
            }
        }
    }
}

.back-panel {
    position: absolute;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    width: 100%;
    z-index: 1;
    background-color: mat_color($primary);
    transition: 250ms cubic-bezier(.4,0,.2,1);
    overflow-y: auto;

    &.move {
        top: 0px;
    }

    .rel-cont {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .types-list {
        padding: 0px 24px;
        .list-header {
            font-size: 24px;
            margin-top: 16px;
        }
        .list-subheader {
            padding: 0px 16px;
        }
        .line {
            height: 1px;
            background: mat_contrast($primary, 500);
            width: 100%;
        }
    }

    .subheader {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        padding: 0px 16px 0px 8px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: #fff;
        transform: translateY(100%);
        transition: 450ms cubic-bezier(.4,0,.2,1);
        z-index: 1;

        &.move {
            transform: translateY(0%);
        }
    }
}

.front-panel {
    position: absolute;
    top: 56px;
    left: 0;
    height: calc(100vh - 112px);
    width: 100%;
    z-index: 2;
    background-color: #fff;
    transition: 250ms cubic-bezier(.4,0,.2,1);

    &.hide {
        transform: translateY(100%);
        // box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .subheader {
        height: 56px;
        padding: 0px 16px 0px 8px;
        border-top-right-radius: 2em;
        border-top-left-radius: 2em;
        background-color: #fff;
    }

    .no-option {
        padding: 24px 24px;
        mat-icon {
            height: 72px;
            width: 72px;
            font-size: 72px;
        }
    }
}

virtual-scroll {
    height: calc(100vh - 112px);
    padding: 0px 0px;
    will-change: transform;
}

.warning {
    text-align: center;
    font-size: 12px;
}

.mat-selection-list { outline: none; }
.mat-line { color: mat_contrast($primary, 500); }
.mat-list-item {
    position: relative;
    &.active {
        background-color: rgba(0,0,0,0.14);
        .mat-line {
        }
    }
}


/* .mat-tab-group {
    overflow: hidden;
    height: 100%;
}
:host /deep/ .mat-tab-body-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
} */