<div class="products-container" *ngIf="!searchString.searching">
  <div class="filter-toolbar" fxLayout="row" [class.hide]="showFilters">
    <div class="filter-selector locations" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlex [class.hide]="showFilters">
      <button mat-button (click)="viewFilters(0)">
        <span *ngIf="!zeroItems">{{ (selectedMenu?.key | titlecase) || 'Loading...' }}</span>
        <span *ngIf="zeroItems">No Products</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <div class="filter-selector locations" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" [class.hide]="showFilters">
      <button mat-icon-button (click)="viewFilters(1)">
        <mat-icon 
          [matBadge]="filter.types.length + filter.vendors.length"
          matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="(filter.types.length + filter.vendors.length) === 0">
          filter_list
        </mat-icon>
      </button>
    </div>
    <div class="filter-selector locations" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" [class.hide]="showFilters">
      <button mat-icon-button (click)="viewFilters(2)"><mat-icon>location_on</mat-icon></button>
    </div>
  </div>
  <div class="back-panel" [class.move]="showFilters">
    <div class="rel-cont">

      <div class="types-list" fxLayout="column" fxLayoutGap="24px" *ngIf="filterSelection === 0">
        <span class="list-header">Categories</span>
        <mat-selection-list>
          <mat-list-item *ngFor="let cat of categories; let i = index;" matRipple (click)="categorySelection(i)" [class.active]="selectedCategory === i">
            <p matLine fxLayout="row" fxLayoutAlign="start center">
              <span fxFlex>{{ cat.text | titlecase }}</span>
              <span>{{ cat.amount }} Items</span>
            </p>
          </mat-list-item>
        </mat-selection-list>
      </div>
      <div class="types-list" fxLayout="column" fxLayoutGap="24px" *ngIf="filterSelection === 1">
        <span class="list-header">Filters</span>
        <mat-selection-list (selectionChange)="typeSelection($event)">
          <h3 mat-subheader>Types</h3>
          <mat-list-option *ngFor="let type of types" [value]="type.slug" [selected]="isTypeSelected(type.slug)"><p matLine>{{ type?.name | titlecase }}</p></mat-list-option>
        </mat-selection-list>
        <mat-selection-list (selectionChange)="vendorSelection($event)">
          <h3 mat-subheader>Brands</h3>
          <mat-list-option *ngFor="let vendor of vendors" [value]="vendor.slug" [selected]="isVendorSelected(vendor.slug)"><p matLine>{{ vendor?.name | titlecase }}</p></mat-list-option>
        </mat-selection-list>
        <div style="width: 100%; height: 64px"></div>
      </div>
      <div class="types-list" fxLayout="column" fxLayoutGap="24px" *ngIf="filterSelection === 2">
        <span class="list-header">Select a location</span>
        <mat-selection-list>
          <mat-list-item *ngFor="let location of locations; let i = index;" matRipple (click)="locationSelection(location)" [class.active]="location.id === lId"><p matLine>{{ location.name | titlecase }}</p></mat-list-item>
        </mat-selection-list>
        <div fxLayout="row" fxLayoutAlign="center center">
          <p *ngIf="ordersLength > 0" class="warning">Changing your location will remove items from your cart.</p>
        </div>
      </div>
      <div class="subheader" fxLayout="row" fxLayoutAlign="start center" [class.move]="showFilters">
        <button mat-icon-button style="margin-right: 8px" (click)="hideFilters()" *ngIf="lId"><mat-icon>close</mat-icon></button>
        <span fxFlex *ngIf="showFilters">{{ filterSelection === 0 ? (selectedMenu?.key | titlecase) + '  &bull;  ' + selectedMenu.filteredValue.length + ' Items' : (filterSelection === 1 ? (calcAmount | number) + ' Items' : (sLocation?.name | titlecase)) }}</span>
        <button mat-button *ngIf="filterSelection === 1" (click)="clearFilters()">CLEAR</button>
        <button mat-button *ngIf="filterSelection === 1" (click)="onFilterChange()">APPLY</button>
      </div>
      
    </div>
  </div>
  <div class="front-panel" [class.hide]="showFilters">
    <virtual-scroll *ngIf="!showFilters && selectedMenu" [items]="selectedMenu.filteredValue" (update)="viewPortItems = $event" [bufferAmount]="vBuffer">
      <app-product-item
        *ngFor="let item of viewPortItems; let i = index; let l = last"
        [itemx]="item"
        [key]="selectedMenu.key"
        [index]="i"
        [class.last]="l"
        (click)="gotoItem(item.id, i)">
      </app-product-item>
      <div class="no-option" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" *ngIf="firstLoad && viewPortItems && viewPortItems.length < 1">
        <mat-icon>golf_course</mat-icon>
        <p>No {{ selectedMenu.key | titlecase }} Items, Adjust Filters</p>
      </div>
      <div class="no-option" fxLayout="column" fxLayoutAlign="center center" *ngIf="!firstLoad">
        <p>Loading Products...</p>
      </div>
    </virtual-scroll>
    <div class="no-option" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" *ngIf="zeroItems">
      <mat-icon>location_on</mat-icon>
      <p>No products at this location</p>
    </div>
  </div>
</div>

<div class="container search" *ngIf="searchString.searching">
  <virtual-scroll [items]="bareMenu | searchMenu: 'name': searchString.text" (update)="viewPortItems = $event" [bufferAmount]="vBuffer">
    <app-product-item
      *ngFor="let item of viewPortItems" 
      [itemx]="item" [key]="'search'"
      [routerLink]="item.id">
    </app-product-item>
  </virtual-scroll>
</div>

<!--
<div class="container zero" *ngIf="zeroItems" fxLayout="row" fxLayoutAlign="center start">
  <div class="no-items">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>golf_course</mat-icon>
      <span>Your filters are bringing up zero items<br>Please adjust filters to see items</span>
    </div>
  </div>
</div>
-->

<!--
<ng-container *ngFor="let category of menu$; let i = index;">
  <mat-tab [label]="category.key | uppercase" *ngIf="(category.value | searchMenu: 'name': searchString.text).length > 0">
    <ng-template matTabContent>
      <div class="keep-scroll" (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
        <h3 style="margin: 12px 12px">{{ category.key | title }}</h3>    
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-sm="16px" fxLayoutGap.lt-md="16px">
          <app-product-item fxFlex.gt-sm="calc(50% - 16px)" 
            *ngFor="let item of category.value | searchMenu: 'name': searchString.text; let i = index; let l = last"
            [itemx]="item" [key]="category.key"
            [class.last]="l"
            [routerLink]="item.id">
          </app-product-item>
        </div>
        <div style="height: 8px"></div>
      </div>
    </ng-template>
  </mat-tab>
</ng-container>
-->

<!--
<mat-tab-group dynamicHeight="true" *ngIf="!searchString.searching"
  [headerPosition]="'center'"
  [selectedIndex]="selectedTab"
  (selectedTabChange)="indexChange($event)"
  #tabGroup mat-stretch-tabs>

  <mat-tab *ngIf="menu$.length < 1">
    <div class="loading-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <mat-progress-spinner *ngIf="!zeroItems" mode="indeterminate" color="accent" diameter="75"></mat-progress-spinner>
      <span>{{ zeroItems ? 'No Products' : 'Loading Products...' }}</span>
    </div>
  </mat-tab>
  
  <ng-container *ngFor="let category of menu$; let i = index;">
    <mat-tab [label]="category.key | uppercase" *ngIf="(category.value | searchMenu: 'name': searchString.text).length > 0">
      <ng-template matTabContent>
        <virtual-scroll [items]="category.value" (update)="viewPortItems = $event" [bufferAmount]="vBuffer">
          <app-product-item
            *ngFor="let item of viewPortItems; let i = index; let l = last"
            [itemx]="item"
            [key]="category.key"
            [index]="i"
            [class.last]="l"
            [routerLink]="item.id">
          </app-product-item>
        </virtual-scroll>
      </ng-template>
    </mat-tab>
  </ng-container>

</mat-tab-group>
-->
