<div class="container" *ngIf="(article | async) as art">

  <div class="article-header mat-elevation-z2"
    [style.background-image]="sanitizeImage(art.photoUrl)">
    <div class="article-header-text"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="8px">
      <span class="article-chip">{{ art.category | uppercase }}</span>
      <span class="article-date">{{ art.date | date }}</span>
      <span class="article-title">{{ art.title | title }}</span>
    </div>
  </div>

  <div class="article-body mat-elevation-z2" 
    [innerHTML]="art.body"></div>

</div>
