@import '../../../../app-theme';

.article-header {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 4px;

    .article-header-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
        width: 100%;
        padding-bottom: 12px;
        padding-left: 12px;
        border-radius: 4px;
    }

    .article-chip {
        font-size: 10px;
        background-color: mat_color($accent);
        padding: 6px;
        color: mat_contrast($accent, 500);
        border-radius: 4px;
    }

    .article-date {
        font-size: 10px;
        color: #fff;
    }

    .article-title {
        font-size: 18px;
        color: #fff;
    }
}

.article-body  {
    border-radius: 4px;
    padding: 12px;
    margin-top: 8px;
}