<!--
<div class="dummy-container">
  <mat-tab-group dynamicHeight="true" mat-stretch-tabs [selectedIndex]="selectedTab">
    <mat-tab *ngFor="let cat of dummyData" [label]="cat.key">
      <ng-template matTabContent>
        <!--<virtual-scroll [items]="cat.value" (update)="viewPortItems = $event" (swipeleft)="swipe($event)" (swiperight)="swipe($event)" (swipeup)="swipe($event)" (swipedown)="swipe($event)">--
        <div class="scroller" (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
          <p *ngFor="let item of cat.value; let i = index;">{{ item }}</p>
        </div>
        <!--</virtual-scroll>--
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
-->