.dummy-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scroller {
    height: calc(100vh - 65px);
    width: 100%;
    overflow-y: auto;
}

virtual-scroll {
    height: calc(100vh - 65px);
    height: 100%;

    p {
        height: 24px;
        margin: 0;
        padding: 16px 0px;
    }
}