@import '../../../app-theme';

.container-small {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #ededed;
        height: 200px;
        min-height: 200px;
        img {
            max-height: 150px;
            width: auto;
            transition: 0.5s ease;
        }
    }

    a {
        color: mat_color($accent);
    }

    .container {
        padding: 16px;
        height: calc(100vh - 264px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mat-icon-button {
        position: absolute !important;
        top: 8px;
        left: 16px;
        mat-icon {
            color: mat_contrast($primary, 500);
        }
    }

    h1 {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
    }

    .mat-raised-button {
        width: 100%;
    }
}



.container-large {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-card {
        width: 400px;
        max-width: 100%;
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
        img {
            max-height: 150px;
            width: auto;
            display: block;
            margin: 0 auto;
            padding: 8px;
        }
        .mat-raised-button {
            float: right;
        }
    }
    .header {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pull-right {
        width: 448px;
        max-width: 100%;
        margin: 16px 0;
        text-align: right;
        font-size: 14px;
        a {
            text-decoration: none;
            margin-left: 16px;
            color: rgba(0,0,0,0.54);
        }
    }
}




.mat-input-element {
    text-align: left;
    font-size: 24px;
}

mat-select {
    max-width: 80px;
    width: 80px;
}

:host /deep/ .mat-select-trigger {
    height: 35px;
    font-size: 24px;
    width: 80px;
    min-width: 80px;
}

:host /deep/ .mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
    background-color: #ba6950;
    height: 2px;
    bottom: -1px;
}

:host /deep/ .mat-select-placeholder.mat-floating-placeholder {transform: scale(.75) translateY(7px) !important;}

small {
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    padding: 0 32px;
    line-height: 16px;
}

form {
    display: block;
}

#recaptcha-container {
    margin-top: 12px;
}