<div fxHide.gt-sm class="container-small">
  <div class="header mat-elevation-z4">
    <img [src]="(bSettings | async)?.logo || placeholder">
  </div>
  <div class="container">
    <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="start stretch" [formGroup]="phoneForm">
      <div fxFlex>
        <h1>Enter Your Mobile Number</h1>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-select color="accent" name="myCode" formControlName="myCode">
            <mat-option *ngFor="let areaCode of areaCodes" [value]="areaCode.value">{{ areaCode.display }}</mat-option>
          </mat-select>
          <mat-form-field fxFlex color="accent">
            <span matPrefix>&nbsp;&nbsp;&nbsp;</span>
            <input type="tel" matInput autofocus name="phoneNumber" formControlName="phone">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <button type="submit" mat-raised-button color="accent" [disabled]="phoneForm.invalid">CONTINUE</button>
      </div>
      <div fxFlex>
        <small>By pressing continue you agree to our <a routerLink="../../consumer/terms">terms & conditions</a> and <a routerLink="../../consumer/privacy">privacy policy</a><br>Need Help? <a routerLink="">Contact support</a></small>
      </div>
    </form>
  </div>
  <div id="recaptcha-container" fxLayout="row" fxLayoutAlign="end center"></div>
</div>

<div fxHide.sm fxHide.xs class="container-large">
  <mat-card>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" [formGroup]="phoneForm">
      <div class="header" fxFlex>
        <img [src]="(bSettings | async)?.logo || placeholder">
      </div>
      <div fxFlex>
        <h1>Enter Your Mobile Number</h1>
        <p>to continue to Tokyo Starfish</p>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-select color="accent" name="myCode" formControlName="myCode">
            <mat-option *ngFor="let areaCode of areaCodes" [value]="areaCode.value">{{ areaCode.display }}</mat-option>
          </mat-select>
          <mat-form-field fxFlex color="accent">
            <span matPrefix>&nbsp;&nbsp;&nbsp;</span>
            <input type="tel" matInput autofocus name="phoneNumber" formControlName="phone">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <button type="submit" mat-raised-button color="accent" [disabled]="phoneForm.invalid">CONTINUE</button>
      </div>
    </form>
    <div id="recaptcha-container" fxLayout="row" fxLayoutAlign="end center"></div>
  </mat-card>
  <div class="pull-right">
    <a routerLink="/consumer/support">Help</a> 
    <a routerLink="/consumer/privacy">Privacy</a> 
    <a routerLink="/consumer/terms">Terms</a>
  </div>
</div>
