<form [formGroup]="locationFilters">
  <h2 matDialogTitle>
    Filter Locations
  </h2>
  <mat-dialog-content>
    <p matLine *ngIf="!emptyCart">
      Changing your location <mat-icon>location_on</mat-icon> will remove items from your cart <mat-icon>shopping_cart</mat-icon>.
    </p>
    <mat-radio-group formControlName="location">
      <mat-radio-button *ngFor="let location of locations|async" [value]="location?.id">
        {{location?.name}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button type="reset" (click)="revert()" mat-button color="accent" mat-dialog-close>CANCEL</button>
    <button type="submit" (click)="onSubmit()" mat-raised-button color="accent">SAVE</button>
  </mat-dialog-actions>
</form>
