@import '../../../app-theme';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ededed;
    height: 200px;
    min-height: 200px;
    img {
        max-height: 150px;
        width: auto;
    }
}

a {
    color: mat_color($accent);
}

.container {
    padding: 16px;
    height: calc(100vh - 264px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-dense {
    padding: 16px;
    .mat-raised-button {
        width: 100%;
    }
}

.mat-form-field {
    width: 100%;
}



.mat-icon-button {
    position: absolute !important;
    top: 8px;
    left: 16px;
    mat-icon {
        color: mat_contrast($primary, 500);
    }
}

.header div {
    mat-icon {
        font-size: 100px;
        height: 100px;
        width: 100px;
        color: mat_color($accent);
        text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    }
    p {
        //margin: 0;
        font-size: 16px;
        //line-height: 23px;
        color: #000;
        text-align: center;
    }
}

.container-dense {
    h4 {
        text-align: center;
    }
    p {
        line-height: 42px;
        overflow: visible;
        display: block;
        mat-checkbox {
            float: right;
        }
    }
    .mat-raised-button {
        margin-top: 24px;
    }
}

.container-large {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-card {
        width: 400px;
        max-width: 100%;
        h1 {
            text-align: center;
        }
        h4 {
            text-align: center;
        }
        img {
            max-height: 150px;
            width: auto;
            display: block;
            margin: 0 auto;
            padding: 8px;
        }
        .mat-raised-button {
            float: right;
            margin-top: 24px;
        }
        .mat-icon-button {
            position: absolute !important;
            top: 8px;
            left: 16px;
            mat-icon {
                font-size: 24px;
                width: 24px;
                height: 24px;
                color: rgba(0,0,0,0.87);
                text-shadow: none;
            }
        }
        mat-icon {
            font-size: 100px;
            height: 100px;
            width: 100px;
            color: mat_color($accent);
            text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
        }
        p {
            line-height: 42px;
            overflow: visible;
            display: block;
            mat-checkbox {
                float: right;
            }
        }
    }
    .pull-right {
        width: 448px;
        max-width: 100%;
        margin: 16px 0;
        text-align: right;
        font-size: 14px;
        a {
            text-decoration: none;
            color: mat_color($accent);
        }
    }
}
