<div fxHide.gt-sm>
  <div class="header mat-elevation-z4">
    <div fxFlex="150px" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
        <mat-icon fxFlex>check_circle_outline</mat-icon>
        <p fxFlex>Your account was successfully set up</p>
    </div>
  </div>
  <div class="container-dense">
    <h4>Follow Locations</h4>
    <!-- <p matLine>
      Follow Nearest Location
      <mat-checkbox color="accent"></mat-checkbox>
    </p> -->
    <p *ngFor="let location of (blocations | async); let i = index">
      {{ location?.name }} - <strong>{{ location?.city }}</strong>
      <mat-checkbox color="accent" (change)="handleCheck(location.id, $event)"></mat-checkbox>
    </p>
    <button mat-raised-button color="accent" (click)="saveFollowedLocations()">SAVE</button>
  </div>
</div>

<div fxHide.sm fxHide.xs class="container-large">
  <mat-card>
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch">
      <div fxFlex="150px" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
          <mat-icon fxFlex>check_circle_outline</mat-icon>
          <p fxFlex>Your account was successfully set up</p>
      </div>
      <div fxFlex>
        <h4>Follow Locations</h4>
        <!-- <p matLine>
          Follow Nearest Location
          <mat-checkbox color="accent"></mat-checkbox>
        </p> -->
        <p *ngFor="let location of (blocations | async); let i = index">
          {{ location?.name }} - <strong>{{ location?.city }}</strong>
          <mat-checkbox color="accent" [(ngModel)]="location.checked"></mat-checkbox>
        </p>
        <button mat-raised-button color="accent" (click)="saveFollowedLocations()">SAVE</button>
      </div>
    </div>
  </mat-card>
</div>