@import '../../../app-theme';

:host /deep/ mat-nav-list {
    padding-bottom: 8px;
}

:host /deep/ mat-list-item {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 64px !important;
}

:host /deep/ .mat-list-item-content {
    height: 64px !important;
}

:host /deep/ .mat-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    box-sizing: content-box;
    padding: 0;
}

:host /deep/ .mat-list .mat-list-item .mat-list-avatar, .mat-nav-list .mat-list-item .mat-list-avatar {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

:host /deep/ .mat-list-text {
    padding: 0 16px 0 32px !important;
}

.field-edit {
    padding-top: 16px !important;

    mat-form-field {
        max-width: calc(100% - 84px);
    }
}

.header {
    position: relative;
    width: 100%;
    height: 168px;
    background-color: mat_color($primary);
    z-index: -1;
}

.stats {
    margin: 0px 0px 0px 0px;

    .sides {

        .points, .checkins {

            .number {
                font-size: 48px;
                font-weight: 300;
            }
            .text {
                font-size: 14px;
            }
        }
    }
}

.user-card {
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;

    .head {
        height: 124px;

        .avatar {
            height: 64px;
            width: 64px;
            background-color: mat_color($accent, 300);
            border-radius: 50%;
            position: relative;

            span {
                font-size: 24px;
                color: mat_contrast($accent, 500);
                font-weight: 300;
            }

            mat-icon {
                font-size: 36px;
                height: 36px;
                width: 36px;
                color: mat_contrast($accent, 500);
            }

            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            .inputfile + label {
                color: rgba(0, 0, 0, 0.54);
                background-color: #FFF;
                border: 1px rgba(0, 0, 0, 0.12) solid;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            .inputfile + label {
                position: absolute;
                border: 0 !important;
                background-color: transparent !important;
                &:hover {
                    mat-icon {
                    background: mat_color($accent);
                    }  
                }
                mat-icon {
                    top: -8px;
                    right: -8px;
                    position: absolute;
                    font-size: 14px;
                    width: 14px;
                    height: 14px;
                    background: rgba(0,0,0,0.87);
                    color: #FFF;
                    padding: 4px;
                    border-radius: 50%;
                }
                }
        }
        .details {

            .name {
                font-weight: 400;
            }
            .phone {
                color: #696969;
                font-weight: 300;
            }
        }
    }
}

.container.user {
    margin-top: -100px;
    z-index: 2;
}

.editables {
    border-radius: 4px;
    background-color: #fff;

    .edit-row {
        padding: 16px 16px 0px 16px;
    }
}

cl-image {
    max-height: 64px;
}

.ripple-container {
    overflow: hidden;
}
.ripple-rounded {
    overflow: hidden;
    z-index: 1;
}
:host /deep/ .mat-list-item::selection {
    background-color: transparent;
}
:host /deep/ .mat-list-item {
    position: relative;
}

.container.auth {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .container, .sides, .content {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .user-card {
        margin-bottom: 16px;
    }
}