<div class="" #main *ngIf="userObj">

  <div class="header mat-elevation-z1"></div>

  <div class="container user" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap.gt-xs="16px">

    <div class="user-card mat-elevation-z1" fxFlex.lt-sm="calc(100% - 16px)" fxFlex.gt-xs="calc(30% - 16px)">

      <div class="head" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="avatar mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>person</mat-icon>
        </div>
        <div class="details" fxFlex fxLayout="column">
          <span class="name">{{ userObj?.displayName}}</span>
          <span class="phone">{{ userObj?.phoneNumber | phoneNumber }}</span>
        </div>
      </div>

    </div>

    <div class="editables mat-elevation-z1" fxFlex.lt-sm="calc(100% - 16px)" fxFlex.gt-xs="calc(70% - 16px)">
      <div class="edit-row">
        <span>Edit Profile</span>
      </div>
      <mat-list class="">

        <mat-list-item matRipple>
          <mat-icon matListIcon class="animated fadeIn">account_circle</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center" class="animated fadeIn" 
            *ngIf="checkEditable(1)" 
            [ngClass]="{'fadeOut': fieldEditable === 1}"
            (click)="inlineEdit(1)">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
              <span matLine>Name</span>
              <span matLine>{{ userObj?.displayName }}</span>
            </div>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
          </div>
          <div matLine #vdname fxLayout="row" fxLayoutAlign="start center" class="animated fadeOut field-edit" 
            *ngIf="fieldEditable === 1" 
            [ngClass]="{'fadeIn': fieldEditable === 1, 'fadeOut': fieldEditable === 0}">
            <mat-form-field color="accent">
              <input matInput placeholder="Name" value="{{ userObj?.displayName }}" [formControl]="displayName" appFocus>
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="updateInlineEdit('displayName', displayName)"><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelInlineEdit()"><mat-icon>close</mat-icon></button>
          </div>
        </mat-list-item>

        <mat-list-item matRipple>
          <mat-icon matListIcon class="animated fadeIn">email</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center" class="animated fadeIn" 
            *ngIf="checkEditable(2)" 
            [ngClass]="{'fadeOut': fieldEditable === 2}"
            (click)="inlineEdit(2)">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
              <span matLine>Email</span>
              <span matLine>{{ userObj?.email }}</span>
            </div>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
          </div>
          <div matLine #vemail fxLayout="row" fxLayoutAlign="start center" class="animated fadeOut field-edit" 
            *ngIf="fieldEditable === 2" 
            [ngClass]="{'fadeIn': fieldEditable === 2, 'fadeOut': fieldEditable === 0}">
            <mat-form-field color="accent">
              <input matInput placeholder="Email" value="{{ userObj?.email }}" [formControl]="email" appFocus>
              <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="updateInlineEdit('email', email)" [disabled]="email.invalid"><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelInlineEdit()"><mat-icon>close</mat-icon></button>
          </div>
        </mat-list-item>

        <mat-list-item matRipple>
          <mat-icon matListIcon class="animated fadeIn">cake</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center" class="animated fadeIn" 
            *ngIf="checkEditable(4)" 
            [ngClass]="{'fadeOut': fieldEditable === 4}"
            (click)="inlineEdit(4)">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
              <span matLine>Birthday</span>
              <span matLine>{{ userObj?.birthday | date }}</span>
            </div>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
          </div>
          <div matLine #vbday fxLayout="row" fxLayoutAlign="start center" class="animated fadeOut field-edit" 
            *ngIf="fieldEditable === 4" 
            [ngClass]="{'fadeIn': fieldEditable === 4, 'fadeOut': fieldEditable === 0}">
            <mat-form-field color="accent">
              <input matInput [matDatepicker]="picker" placeholder="Birthday" [formControl]="birthday" appFocus>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
              <mat-error *ngIf="birthday.invalid">Invalid Birthday Format (ex: MM/DD/YYYY)</mat-error>
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="updateInlineEdit('birthday', birthday)" [disabled]="birthday.invalid"><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelInlineEdit()"><mat-icon>close</mat-icon></button>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="address" (click)="editField('address', userObj?.address, 2)" class="animated fadeIn" matRipple>
          <mat-icon mat-list-icon>home</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
              <span matLine>Address</span>
              <span matLine *ngIf="userObj?.address">{{ userObj?.address?.street }}<br>{{ userObj?.address?.city }} {{userObj?.address?.state }}, {{ userObj?.address?.zip }}</span>
              <span matLine *ngIf="!userObj?.address">Set your address here</span>
            </div>
            <button mat-icon-button><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="phoneNumber" (click)="editField('phoneNumber', userObj?.phoneNumber, 4)" class="animated fadeIn" matRipple>
          <mat-icon mat-list-icon>phone</mat-icon>
          <div matLine fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
              <span matLine>Phone Number</span>
              <span matLine>{{ userObj?.phoneNumber | phoneNumber }}</span>
            </div>
            <button mat-icon-button><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </mat-list-item>

        <mat-list-item (click)="googleLinking()" class="animated fadeIn" *ngIf="!userObj?.googleLinked" matRipple>
            <img mat-list-avatar src="/assets/images/google.png" alt="">
            <h4 matLine>
              Google
            </h4>
            <p matLine>
                Link
            </p>
        </mat-list-item>
        
      </mat-list>
    </div>

  </div>
</div>

<!--
<div class="container auth" *ngIf="!loggedIn" fxLayout="row" fxLayoutAlign="center start">
  <div class="not-logged-in">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>vpn_key</mat-icon>
      <span>Not Logged In</span>
    </div>
  </div>
</div>
<app-bottom-sheet class="animated slideInUp" *ngIf="!loggedIn" [returnPath]="path"></app-bottom-sheet>
-->