.container {
    width: calc(100% - 48px);

    .constraint {
        max-width: 500px;
        margin: 0 auto;

        mat-card {
            position: relative;

            mat-progress-spinner {
                position: absolute;
                top: 16px;
                right: 16px;
            }

            img {
                max-width: 250px;
                max-height: 125px;
            }

            .mff-phone {
                height: 0px;
                overflow: hidden;
                transition: 0.3s ease;
                font-size: 28px;

                &.show {
                    height: 115px;
                }

                &.mff-vcode {
                    mat-label {
                        letter-spacing: 0;
                    }
                    letter-spacing: 16px;
                }
            }
        }
    }
}

h1 {
    margin-top: 0px;
}

.mat-button {
    a {
        text-decoration: none;
        color: rgba(0,0,0,0.80);
    }
}

:host /deep/ .mat-tab-body {
    padding: 0 !important;
}
:host /deep/ .mat-tab-header {
    height: 0px;
    border: none;
}

@media screen and (max-width: 960px) {
    .container {
        width: calc(100% - 16px);
    }
}