<div class="container">
  <div class="constraint">
    <mat-card>
      <!-- <mat-progress-spinner color="accent" mode="indeterminate" diameter="24" style="margin-bottom: 16px"></mat-progress-spinner> -->
      <div fxLayout="row" fxLayoutAlign="center center">
        <!-- <img [src]="bSettings?.logo"> -->
        <mat-card-title>Rewards Signup</mat-card-title>
      </div>
      <mat-progress-bar mode="indeterminate" color="accent" style="margin: 16px 0px;" *ngIf="requesting"></mat-progress-bar>
      <mat-tab-group [selectedIndex]="tab" dynamicHeight="true">
        <mat-tab>
          <div>
            <form [formGroup]="authForm" fxLayout="row wrap">
              <mat-form-field fxFlex="100%" color="accent" [class.show]="step === 0" class="mff-phone">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" [textMask]="{mask: mask, placeholderChar: char}" type="tel">
                <span matPrefix>+1&nbsp;</span>
              </mat-form-field>
              <mat-form-field fxFlex="100%" color="accent" [class.show]="step === 1" class="mff-vcode mff-phone">
                <mat-label>Verification Code</mat-label>
                <input matInput formControlName="vCode" maxlength="6">
              </mat-form-field>
            </form>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <button mat-raised-button color="accent" fxFlex *ngIf="step === 0" (click)="sendCode()" [disabled]="authForm.value.phoneNumber.invalid">SEND CODE</button>
              <button mat-raised-button color="accent" fxFlex *ngIf="step === 1" (click)="verifyCode()">VERIFY CODE</button>
            </div>
            <div id="recaptcha-container"></div>
          </div>
        </mat-tab>
        <mat-tab>
          <form [formGroup]="detailsForm" fxLayout="row wrap">
            <mat-form-field fxFlex="100%" color="accent">
              <mat-label>Display Name</mat-label>
              <input matInput formControlName="displayName">
            </mat-form-field>
            <mat-form-field fxFlex="100%" color="accent">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field fxFlex="100%" color="accent">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
          </form>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button fxFlex color="accent" [disabled]="detailsForm.invalid" (click)="saveDetails()">CREATE ACCOUNT</button>
          </div>
        </mat-tab>
        <mat-tab label="signup-success">
          <div fxLayout="column" *ngIf="bSettings" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
              <h1>Congratulations</h1>
              <span style="text-align: center">on signing up for {{ bSettings?.businessName }} rewards!</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="accent"><a routerLink="../design-one">VIEW MENU</a></button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="already-user">
          <div fxLayout="column" *ngIf="bSettings" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
              <h1>Welcome Back</h1>
              <span style="text-align: center">You have already signed up for {{ bSettings?.businessName }} rewards!</span>
            </div>
            <!--
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="accent"><a routerLink="../design-one">VIEW MENU</a></button>
            </div>
            -->
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
