<div class="container">
  <mat-card>
    <h3>Terms of Service</h3>

    <span>CANNAFO LLC TERMS OF USE:</span>
    <p>
      Cannafo LLC (“us”, “our”, “we”) offers an application which allows merchants to provide
      loyalty plans and rewards directly to consumers through a tablet, an internet portal and
      smartphone applications (“Services”), and provides merchants with programs and applications to
      track consumers’ use thereof the (“Applications”).These Merchant Terms and Policies (“Terms”)
      govern your access and use of the Services and the Applications. “Merchant” means any
      merchant entity and its agents that makes use of the Application or provides Services to its
      customers.
      Please read the terms carefully. These Terms govern your use of the Applications and your
      provision of the Services to your customers. You must accept these Terms prior to signing up
      your business on Cannafo LLC using our website (e.g. cannafo.com) a third party website who is
      affiliated with us or clicking “ACCEPT” or in any other way downloading the Applications or
      making any Services to your customers, you signify your assent to these Terms. Changes may be
      made to these Terms from time to time. If you do not accept these Terms, do not click
      “ACCEPT” and do not download the Applications or make any Services available to your
      customers. By checking any acceptance boxes, clicking any acceptance buttons, submitting any
      text or content or simply by making any use of the Application and/or Website, You accept this
      Agreement and agree to be bound by each of its Terms, and represent and warrant Cannafo LLC
      that (i) You are at least 13 years of age and have the authority to enter into this Agreement
      (either on your own behalf or by having a parent or legal guardian agree to the terms set forth
      herein on your behalf), (ii) this Agreement is binding and enforceable against You, (iii) to the
      extent an individual is accepting this Agreement on behalf of an entity, such individual has the
      right and authority to agree to all of the terms set forth herein on behalf of such entity, and (iv)
      You have read and understand Cannafo LLC’s Privacy Policy, the terms of which are posted at
      the Website and incorporated herein by reference (the “Privacy Policy”), and agree to abide by
      the Privacy Policy. We will make reasonable commercial efforts to notify you of any updates to
      these Terms. Notwithstanding the foregoing, your continued use of the Applications or provision
      of the Services to your customers will be deemed acceptance to amended or updated Terms. As
      such, you should check frequently to see if we have updated these Terms. The most current
      version of the Terms is available on our website, cannafo.com. If you do not agree to any of
      these Terms, please do not use the Applications or make the Services available.
    </p>

    <span>PURPOSE</span>
    <p>
      The purpose of this Agreement is to set forth the terms and conditions under which, among other
      things, (i) Cannafo LLC will license to You use of certain Cannafo LLC’s technology, software
      and/or services such that You can utilize the Application through your mobile device, and (ii)
      You can access and/or use the Website (collectively, the “Purpose”). As stipulated elsewhere in
      this Agreement, Cannafo LLC does not exert any control over any merchants, retailers,
      commercial ventures or other third parties, and as such is not liable or responsible for any actions
      taken or omitted to be taken by any such third party.
    </p>

    <span>LICENSE</span>
    <p>
      Cannafo LLC hereby grants You a non-transferable, non-exclusive, revocable, limited license to
      access and use Cannafo LLC’s rewards/loyalty software platform commonly referred to as
      “Connect” (the “Application”) as made available through this website located at
      www.cannafo.com (the “Website”) and/or via mobile application during the Term (as defined
      below) solely for the Purpose. Cannafo LLC may, from time to time, update or modify the
      Application, release new versions of the Application or create new modules related thereto, each
      of which may, at Cannafo LLC’s discretion, be included within the license described above. You
      shall not be permitted to sublicense or transfer any of Your rights hereunder including, without
      limitation, access to the Application. You shall not interfere (or permit the use of your account
      by a third party to interfere) or attempt to interfere with the operation or use of Site by other
      members in any way through any means or device including, but not limited to, spamming,
      hacking, uploading computer viruses or time bombs, or any other means.
    </p>

    <span>CANNAFO RIGHTS</span>
    <p>
      Cannafo LLC shall be entitled, at its sole discretion, to suspend, restrict and/or terminate, without
      notice of any kind, Your access to the Application or Your Cannafo account for any reason.
      Notwithstanding foregoing, Cannafo LLC shall not be required to review or monitor any Posted
      Information entered into the Application or otherwise submitted by You, and You shall be solely
      responsible for the veracity and accuracy of all such data, content and information.
    </p>

    <span>REPRESENTATIONS AND WARRANTIES; DISCLAIMER</span>
    <p>
      (i) Cannafo LLC warrants that Cannafo LLC has the authority to enter into this Agreement.
      (ii) You represent, warrant and covenant to Cannafo LLC that: (a) you have the authority to enter
      into this Agreement; (b) you will take proper care of the equipment provided by Cannafo LLC to
      you and maintain all such equipment in good working order; (c) you will only use the Cannafo
      Programs for lawful purposes and will not violate any law of any country or the intellectual
      property rights of any third party; and (d) you will not use any Cannafo Program to send any
      e-mail or other communications which violate any applicable regulation, rule, industry protocol
      or law (including, without limitation, the CAN-SPAM Act).
    </p>

    <span>SERVICES</span>
    <p>
      Some of the Services offered on the Website or the Application require payment fees (“Charged
      Services”). If you elect to sign up for Charged Services, you shall pay all applicable fees, as
      described on the Website in connection with such Charged Services selected by you. Cannafo
      LLC reserves the right to change its prices at any time. You authorize Cannafo LLC directly or
      through third parties, to make any inquiries it considers necessary to validate your account and
      financial information that you provided while signing up for such Services. Please note that
      according to internal agreements, Cannafo LLC is entitled to collect fees from Users on behalf of
      the Charged Services, to process any payments and/or refunds and/or take any billing actions
      exclusive of all taxes, levies, or duties. You agree to pay any such taxes that might be applicable
      to your use of the Services and payments made by you to Cannafo LLC. All fees related to using
      Charged Services are charged automatically using the payment method as determined in the
      Website or the Application. If Cannafo LLC does not receive a request by the user, through
      e-mail for Charged Services termination you acknowledge and understand that Cannafo LLC
      will continue to charge you for the Charged Services as long as your account remains active
      regardless if the Charged Services are used or not. If, at any time, you contact your bank or credit
      card company and decline or otherwise reject the charge of any payable fees, this act will be
      considered a breach of your obligation hereunder and your use of the Charged Services will be
      automatically terminated. Your use of the Charged Services will not resume until you
      re-subscribe for any such Services. All prices fees are non-refundable unless otherwise expressly
      noted, even if such Charged Services are suspended, terminated, or transferred prior to the end of
      the Services term. Cannafo LLC expressly reserves the right to change or modify its prices and
      fees at any time, and such changes or modifications shall be posted online at the Website and
      effective immediately without need for further notice to any user. Any changes or modifications
      in prices and fees shall be effective when the Services in question come up for renewal as further
      described below. IN ORDER TO ENSURE THAT YOU DO NOT EXPERIENCE AN
      INTERRUPTION OR LOSS OF SERVICES, MOST SERVICES OFFER AN AUTOMATIC
      RENEWAL OPTION. THE AUTOMATIC RENEWAL OPTION AUTOMATICALLY
      RENEWS THE APPLICABLE SERVICE FOR A RENEWAL PERIOD EQUAL IN TIME TO
      THE ORIGINAL SERVICE PERIOD. FOR EXAMPLE, IF YOUR ORIGINAL SERVICE
      PERIOD IS FOR ONE YEAR, YOUR RENEWAL PERIOD WILL BE FOR ONE YEAR.
      WHILE THE DETAILS OF THE AUTOMATIC RENEWAL OPTION VARY FROM
      SERVICE TO SERVICE, THE SERVICES THAT OFFER AN AUTOMATIC RENEWAL
      OPTION TREAT IT AS THE DEFAULT SETTING. THEREFORE, UNLESS YOU CANCEL
      YOUR SUBSCRIPTION CANNAFO LLC WILL AUTOMATICALLY RENEW THE
      APPLICABLE SERVICE WHEN IT COMES UP FOR RENEWAL, AND WILL TAKE
      PAYMENT FROM THE PAYMENT METHOD YOU HAVE ON FILE WITH CANNAFO
      LLC AT THE THEN CURRENT RATES FOR THE ORIGINAL SERVICE PERIOD. YOU
      MAY CANCEL YOUR SUBSCRIPTION FROM SUCH SERVICES PRIOR TO THE
      AUTOMATIC RENEWAL AT ANY TIME. IN SUCH EVENT THE SERVICES SHALL BE
      DISCONTINUED UPON THE EXPIRATION OF THE RESPECTIVE PERIOD YOU HAVE
      PAID FOR AND YOU SHALL NOT HAVE ANY CLAIMS TOWARDS CANNAFO LLC IN
      RELATION TO THE DISCONTINUATION OF THE SERVICES.
    </p>

    <span>INFORMATION WE COLLECT</span>
    <p>
      Cannafo LLC strives to provide our visitors with information relevant to their particular desires,
      needs and/or interests. The information we gather helps us to better serve our purpose. We may
      ask you to provide us with demographic information, information regarding your interests or
      other personally identified information (“PII”). Providing us with PII about yourself is voluntary,
      and you can always choose not to provide certain information, but then you may not be able to
      take advantage of or participate in some of the Website’s features. Cannafo LLC actively and
      passively gathers, analyzes and/or stores PII and other information generally by way of three
      different sources: (1) the PII voluntarily submitted by visitors when using or registering to use or
      receive our services or offers; and (2) by tracking and analyzing online and mobile data and
      activity through mechanisms that identify site usage, user location, device type, browser types,
      IP addresses, and other data. We do not collect PII through advertisements on our Website and
      the PII we collect is not shared with third parties except set forth herein. We will make
      reasonable efforts to destroy, erase or make anonymous any PII that is no longer required to
      fulfill the original purpose for which it was originally collected.
    </p>

    <span>SENSITIVE INFORMATION</span>
    <p>
      Cannafo LLC uses modern technological efforts to ensure the safety of your sensitive
      information. No website, internet transmission, computer system or wireless connection is
      completely secure. Cannafo LLC cannot guarantee that unauthorized access, hacking, data loss,
      or other breaches will never occur. Your use of the Website is at your own risk. Whenever you
      give Cannafo LLC sensitive or confidential information, Cannafo LLC will take commercially
      reasonable steps to protect the information by establishing a secure connection with your web
      browser. Cannafo LLC uses an industry standard security protocol for encrypting sensitive
      information. Unfortunately, no security measures are perfect or impenetrable and data
      transmission over the Internet cannot be guaranteed 100% secure. We cannot and do not ensure
      or warrant the security of any information you transmit to Cannafo LLC and you do so at your
      own risk.
    </p>

    <span>CONSENT TO PROCESSING</span>
    <p>
      By using our Website and/or Application, participating in any of our services and/or providing us
      with your information, you consent and agree to the collection, transfer, storage and processing
      of your information to and in the United States.
    </p>

    <span>CHILDREN</span>
    <p>
      We recognize the importance of safeguarding the privacy of children and encourage parents to
      check and monitor their children’s use of online activities regularly. The Website and the
      Application supports and complies with the Children’s Online Privacy Protection Act
      (“COPPA”) and other applicable laws. The Website and the Application are not aimed at nor
      intended for children under the age of 18. If you are under the age of 18, please do not use the
      Website or the Application. If Cannafo LLC discovers that a person under the age of 18 has
      provided Cannafo LLC with any PII, Cannafo LLC will use commercially reasonable efforts to
      delete such person’s PII from its system.
    </p>

    <span>TERM AND TERMNATION</span>
    <p>
      This Agreement shall continue in full force until the earlier to occur of (i) either party providing
      written or electronic notice of termination to the other party (at which point You shall no longer
      be entitled to access or use the Application), or (ii) Cannafo LLC electing to terminate Your
      access to the Application, with or without notice (the “Term”). For purposes of clarity, You are
      entitled to terminate your Cannafo account at any time. Upon termination of this Agreement for
      any reason, You shall no longer be entitled to access or use the Application or any other
      non-public portions of the Website. In addition to the foregoing, in the event that Cannafo LLC
      determines, in its sole and absolute discretion, that You have breached this Agreement,
      threatened to breach this Agreement, committed any fraud or deception, breached any Cannafo
      LLC policy in effect from time to time or otherwise failed to perform to the standards required of
      Cannafo LLC, Cannafo LLC shall be entitled, at its discretion and in addition to any other
      remedies it may have hereunder and/or at law, to terminate, cancel or suspend Your access to the
      Application, in each of the foregoing cases at any time and for any period of time. Cannafo LLC
      shall not be responsible for the return of any Posted Information of any kind to You upon any
      termination of this Agreement or suspension of Your access to the Application, including
      without limitation any information input into the Application by You.
    </p>

    <span>USE OF IP ADDRESSES</span>
    <p>
      An IP address is a number that is assigned to your computer, device or network when you are
      linked to the Internet. When you request pages from this Website, our servers log your IP
      address. We may use IP address for a number of purposes, such as system administration, to
      report aggregate information to our business partners or to audit the use of the Website. We may
      associate your IP address with the PII you provide.
      We also may collect and store information about you that we receive from other sources to
      enable us to update and correct the information contained in our database and to provide product
      recommendations and special offers that we think will interest you.
    </p>

    <span>CHANGES TO WEBSITE/APPLICATION AND/OR TERMS OF SERVICE</span>
    <p>
      Cannafo LLC reserves the right, from time to time, in its sole discretion, to change, modify,
      update, discontinue, remove, revise, delete or otherwise change any portion of the Website or
      these Terms of Service (“TOS”), in whole or in part, at any time without further notice. For
      changes to these TOS that we deem material, we will place a notice on cannafo.com by revising
      the link on the homepage to read substantially as “Updated Terms of Service” for an amount of
      time that we determine in our discretion. If you access or use the Website in any way after the
      TOS have been changed, you will be deemed to have read, understood and unconditionally
      consented to and agreed to such changes. The most current version of these TOS will be
      available on cannafo.com and will supersede all previous versions of these TOS.
    </p>

    <span>TRADEMARKS, COPYRIGHTS AND RESTRICTIONS</span>
    <p>
      The Website/Application and all of the content it contains, or may in the future contain,
      including but not limited to text, video, pictures, graphics, designs, information, applications,
      software, music, audio files, articles, directories, guides, photographs as well as the trademarks,
      service marks, trade names, trade dress, copyrights, logos, domain names, code, patents and/or
      any other form of intellectual property (collectively, the “Material”) that relates to the
      Website/Application are owned by or licensed by Cannafo LLC or other third parties and are
      protected from any unauthorized use, copying and dissemination by copyright, trademark and
      other intellectual property and non-intellectual property laws and by international treaties. Except
      as expressly permitted in writing by Cannafo LLC, you shall not capture, reproduce, perform,
      transfer, sell, license, modify, create derivative works from or based upon, republish, reverse
      engineer, upload, edit, post, transmit, publicly display, frame, link, distribute or exploit, in whole
      or in part, any of the Material. Nothing contained in this Agreement or on the Website should be
      construed as granting, by implication, estoppel or otherwise, any license or right to use any
      Material in any manner without the prior written consent of Cannafo LLC or such third party that
      may own the Material or intellectual property displayed on the Website. Unauthorized use,
      copying, reproduction, modification, publication, republication, uploading, framing,
      downloading, posting, transmitting, distributing, duplicating or any other misuse of any of the
      Material is strictly prohibited. Any use of the Material other than as permitted by this Agreement
      will violate this Agreement and may infringe upon our rights or the rights of the third party that
      owns the affected Material. You agree to report any violation of this Agreement by others that
      you become aware of. You are advised that Cannafo LLC will aggressively enforce its rights to
      the fullest extent of the law. Cannafo LLC may add, change, discontinue, remove or suspend the
      display of or access to any of the Material at any time, without notice and without liability.
    </p>

    <span>LIMITATION OF LIABILITY</span>
    <p>
      You agree that Cannafo LLC and its parents, affiliates, subsidiaries, licensors and assigns, and
      each of their respective employees, officers and directors (collectively, the “released parties”) are
      not liable to You or any third person for damages of any kind, whether based in tort, contract
      strict liability or otherwise, including, without limitation, any indirect, consequential, exemplary,
      incidental, special or punitive damages, including for any lost profits or lost data arising out of or
      resulting in any way from or in connection with the Website, the material or any errors or
      omissions in the technical operation of the Website, even if Cannafo LLC is aware or has been
      advised of the possibility of such damages, whether caused in whole or in part by negligence,
      acts of unauthorized access to the Website (collectively, the “released matters”).
      Notwithstanding anything to the contrary contained herein, Cannafo LLC’s of the action, will at
      all times be limited to $1000. Some jurisdictions do not allow the limitation or exclusion of
      certain warranties and conditions, and/or the disclaimer of some types of damages, so some of
      the above might not apply to You.
    </p>

    <span>DISCLAIMERS</span>
    <p>
      Except as explicitly set forth herein, neither Cannafo LLC, its affiliates or any of any such
      party’s equity holders, directors, officers, employees, agents, suppliers, licensors nor the like,
      makes any warranties of any kind, either expressed or implied, including, without limitation, (a)
      warranties of merchantability or fitness for a particular purpose, (b) that the Website or the
      Application will be error-free, (c) as to a minimum level of uptime for the Application or the
      Website, or (d) as to the results that may be obtained by You by entering into this Agreement
      and/or using the Application. You agree and acknowledge that the Application and Website are
      licensed and/or provided hereunder on an “as is” basis. In addition, You hereby agree and
      
      acknowledge that: (i) Cannafo LLC shall not be responsible for any actions taken by any other
      party using the Application or reviewing any of Your Posted Information; (ii) Cannafo LLC does
      not recommend or endorse any third parties hereunder, and makes no representations or
      warranties whatsoever regarding any such third party; (iii) Cannafo LLC is not a party to any
      transaction between you and any store, retailer or business with which Cannafo LLC has a
      business relationship, and as such, any disputes regarding purchases, rewards and/or any other
      aspect of any transaction or other commercial dealings is solely between You and such third
      party; (iv) Cannafo LLC is not responsible for any other party’s compliance with applicable
      laws, rules or regulations; (v) Cannafo LLC’s services are administrative in nature and Cannafo
      LLC is not responsible for ensuring that any third party honor any reward, loyalty or other
      obligations such third party may have towards You; (vi) Cannafo LLC shall not, under any set of
      circumstances, be responsible or liable for any content, text, photographs and/or other Posted
      Information, including any Posted Information which may violate applicable law and/or third
      party’s intellectual property rights; and (vii) the Application and/or Website may not function
      properly or as intended at times.
    </p>

  </mat-card>
</div>