.container {

    mat-card {
        max-height: calc(100vh - 120px);
        overflow: scroll;

        span {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                height: 4px;
                background-color: #fff;
                width: 80%;
                transition: width .25s;
            }
        }

        p {
            margin: 12px 0px 36px 0px;
        }
    }
}

@media screen and (min-width: 960px) {
    mat-card {
        max-width: 500px;
        max-height: calc(100vh - 160px) !important;
        margin: 0 auto;
    }
}