<div class="tabs-container">
    
  <div class="feature mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="(bSettings | async)?.logo || placeholder">
  </div>
  <mat-progress-bar *ngIf="progress" color="accent" mode="indeterminate"></mat-progress-bar>

  <mat-tab-group [selectedIndex]="step" (selectedTabChange)="tabChangeEvent($event)">

    <!-- Number Step -->
    <mat-tab label="{{ steps[0]| uppercase }}">
      <div class="number" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
        <span class="step-header">Enter your Phone Number</span>
        <form [formGroup]="phoneForm" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" style="width: calc(100% - 16px)" fxLayoutGap="8px"> 
            <mat-form-field color="accent" style="width: 56px; text-align: center; font-size: 24px; font-weight: 300" disabled>
              <mat-select formControlName="code">
                <mat-option [value]="code">+1</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" fxFlex style="font-size: 24px; font-weight: 300">
              <input matInput formControlName="phoneNumber" [textMask]="{mask: mask, placeholderChar: char}" type="tel">
            </mat-form-field>
          </div>
          
          <button mat-raised-button color="accent" (click)="sendVCode()" [disabled]="phoneForm.invalid">CONTINUE</button>
          <button mat-button color="accent" (click)="cancel()" style="margin-top: 16px;">CANCEL</button>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="disclaimer">
            By participating, your number will be stored in our system and you consent to receive text messages sent by our automatic text system. Consent to these terms is not a condition of purchase. Your information is not sold or shared and you may opt out at any time.
          </span>
        </div>
      </div>
    </mat-tab>

    <!-- Confirm Step -->
    <mat-tab label="{{ steps[1]| uppercase }}">
      <div class="confirm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span class="step-header">Enter the Verification Code</span>
        <form [formGroup]="confirmForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" class="verify-row" #vRow>
            <mat-form-field color="accent" fxFlex="100%" class="v-mff">
              <input matInput formControlName="code" maxlength="6" type="tel" class="v-input">
            </mat-form-field>
          </div>
          <button mat-raised-button color="accent" (click)="verifyCode()" [disabled]="confirmForm.invalid">CONTINUE</button>
          <small (click)="step = 0">Resend code to {{ phoneForm.value.phoneNumber }}</small>
        </form>
      </div>
    </mat-tab>

    <!-- Info Step -->
    <mat-tab label="{{ steps[2]| uppercase }}">
      <div class="info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span class="step-header">Complete your account</span>
        <form [formGroup]="infoForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" style="width: 100%">
          <mat-form-field color="accent" class="reg-field">
            <input matInput formControlName="displayName" placeholder="Full Name">
          </mat-form-field>
          <mat-form-field color="accent" class="reg-field">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <!-- <span class="bday-header">Birthday</span> -->
          <div class="bday-row" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-form-field color="accent" fxFlex>
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="startPicker" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #startPicker></mat-datepicker>
            </mat-form-field>
            <!--
            <div class="bday-field month" fxFlex="calc(33.33% - 40px)">
              <mat-form-field class="bday-field month">
                <mat-select placeholder="Month" formControlName="month">
                  <mat-option *ngFor="let m of months" [value]="m.value">
                    {{ m.key }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="bday-field day" fxFlex="calc(33.33% - 40px)">
              <mat-form-field class="bday-field day">
                <mat-select placeholder="Day" formControlName="day">
                  <mat-option *ngFor="let d of days" [value]="d">
                    {{ d }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="bday-field year" fxFlex="calc(33.33% - 40px)">
              <mat-form-field class="bday-field year">
                <mat-select placeholder="Year" formControlName="year">
                  <mat-option *ngFor="let y of years" [value]="y">
                    {{ y }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            -->
          </div>
          <button mat-raised-button color="accent" (click)="updateDetails()" [disabled]="infoForm.invalid">CONTINUE</button>
        </form>
      </div>
    </mat-tab>

    <!-- Prefs Step -->
    <mat-tab label="{{ steps[3]| uppercase }}">
      <div class="prefs" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
        <span class="step-header">Follow your locations</span>
        <!--
        <div class="loc-row" fxLayout="row" fxLayoutAlign="start center" *ngFor="let loc of (locations$ | async)">
          <span fxFlex>{{ loc?.name }} - {{ loc?.city }}</span>
          <mat-checkbox color="accent" (change)="handleCheck(loc.id, $event)"></mat-checkbox>
        </div>
        -->
        <form [formGroup]="locForm" fxLayout="column" fxLayoutGap="16px">
          <div class="loc-row" fxLayout="row" fxLayoutAlign="start center" *ngFor="let loc of locations">
            <span fxFlex>{{ loc?.name }} - {{ loc?.city }}</span>
            <mat-checkbox [formControlName]="loc.id" color="accent"></mat-checkbox>
          </div>
        </form>
        <button mat-raised-button color="accent" (click)="saveUserPrefs()">FINISH</button>
      </div>
    </mat-tab>

  </mat-tab-group>

  <div *ngIf="step === 0" id="recaptcha-container"></div>

  <!-- <div class="tab-stepper" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button style="padding-left: 0px" *ngIf="step > 0" (click)="previous()"><mat-icon>chevron_left</mat-icon>PREVIOUS</button>
    <div fxFlex></div>
    <button mat-button style="padding-right: 0px" *ngIf="step < 3" (click)="next()">NEXT<mat-icon>chevron_right</mat-icon></button>
  </div> -->
</div>
