@import './../../../app-theme';

.tabs-container {
    position: relative;
    height: 100vh;

    .feature {
        height: calc(100vh / 3);
        background-color: #fff;
        position: relative;

        img {
            max-width: 300px;
            max-height: 150px;
        }
    }

    .tab-stepper {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: mat_color($primary);
        height: 48px;
        
        .mat-button {
            color: #fff;
        }
    }

    

    mat-tab-group {

        .step-header {
            font-size: 24px;
        }

        .number {
            padding-top: 24px;
            
             span {
             }

             form {
                 width: 100%;

                 mat-form-field {
                     width: calc(100% - 24px);

                     .mat-form-field-prefix {
                         padding-right: 12px;
                     }
                     
                     input {
                         width: 100%;
                     }
                 }
                 button {
                     width: calc(100% - 24px);
                 }
             }
        }

        .confirm {
            padding-top: 24px;
            width: calc(100% - 24px);
            margin: 0 auto;

            form {
                width: calc(100vw - 24px);
                padding: 24px;

                .verify-row {
                    width: 100%;

                    .v-mff {
                        width: calc(100% - 24px);
                    }

                    .v-input {
                        text-align: center;
                        letter-spacing: 16px;
                        font-size: 24px;
                    }
                }
            }

            button {
                width: calc(100% - 0px)
            }

        }

        .info {
            padding-top: 24px;

            form {

                mat-form-field.reg-field {
                    width: calc(100% - 24px);

                    input {
                        width: 100%;
                    }
                }

                .bday-header {
                    font-size: 16px;
                    color: rgba(0,0,0,0.56);
                    width: calc(100% - 24px);
                    text-align: left;
                }
                .bday-row {
                    height: 45px;
                    width: calc(100% - 24px);

                    .bday-field {
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        mat-form-field {
                            max-width: 100%;
                        }

                        mat-icon {
                            position: absolute;
                            right: 4px;
                            font-size: 16px;
                            height: 16px;
                            width: 16px;
                        }

                        .label {
                            position: absolute;
                            left: 4px;
                            font-size: 12px;
                            color: rgba(0,0,0,0.40);
                        }
                    }
                }

                button {
                    width: calc(100% - 24px);
                }
            }
        }

        .prefs {
            padding-top: 24px;

            form {
                width: 100%;
                padding: 0px 24px;
            }

            .loc-row {
                width: 100%
            }
            button {
                width: calc(100% - 24px);
            }
        }
    }
}

.disclaimer {
    padding: 0px 16px;
    font-size: 11px;
    text-align: center;
    color: rgba(0,0,0,0.75);
    // margin-top: 24px;
}

:host /deep/ .mat-tab-header {
    display: none;
}
:host /deep/ .mat-tab-body {
    height: calc((100vh - (100vh / 3)) - 16px);
    width: 100%;
    padding: 0;
}

.mat-input-element.single {
    text-align: center;
}

:host /deep/ .mat-form-field-wrapper {
    max-width: 100%;
}

@media screen and (min-width: 960px) {
    :host /deep/ .mat-tab-body {
        height: calc((100vh - (100vh / 3)) - 24px);
    }
    .tabs-container {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 24px;
        height: calc(100vh - 48px);
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}