<h2 matDialogTitle>Remove Item?</h2>
<mat-dialog-content>
  <div fxLayout="column">
    <span>Remove this item from your cart: </span>
    <span>{{ item?.name }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="dialogRef.close(false)">KEEP</button>
  <button mat-raised-button color="accent" (click)="dialogRef.close(true)">REMOVE</button>
</mat-dialog-actions>
