<div fxHide.gt-sm>
  <div class="header mat-elevation-z4">
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <img [src]="(bSettings | async)?.logo || placeholder">
  </div>
  <div class="container-dense">
    <div fxLayout="column" fxLayoutGap="8px">
      <!-- <div fxFlex class="buttons">
        <!-- <button mat-button class="social-button mat-elevation-z2 facebook">Log in using Facebook</button> --
        <button mat-button class="social-button mat-elevation-z2 google" (click)="googleLogin()" [disabled]="googleLinked">Log in using Google</button>
      </div>
      <div fxFlex>
        <h3 class="or-divider"><span>OR</span></h3>
      </div> -->
      <form [formGroup]="fieldsForm" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex color="accent">
          <input matInput placeholder="Full Name" formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex color="accent">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthday MM/DD/YYYY" formControlName="birthday" type="text">
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field fxFlex color="accent">
          <input matInput placeholder="Password" formControlName="password" type="{{!showPw ? 'password' : 'text'}}">
          <mat-icon matSuffix (click)="changeVisibility()">{{!showPw ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field> -->
      </form>
      <div fxFlex>
        <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="fieldsForm.invalid">COMPLETE</button>
      </div>
    </div>
  </div>
</div>

<div fxHide.sm fxHide.xs class="container-large">
  <mat-card>
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <div class="header-large" fxFlex>
      <img [src]="(bSettings | async)?.logo || placeholder">
    </div>
    <div fxFlex class="buttons">
      <button mat-button class="social-button mat-elevation-z2 facebook">Log in using Facebook</button>
      <button mat-button class="social-button mat-elevation-z2 google" (click)="googleLogin()">Log in using Google</button>
    </div>
    <div fxFlex>
      <h3 class="or-divider"><span>OR</span></h3>
    </div>
    <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start stretch" [formGroup]="fieldsForm">
      <mat-form-field fxFlex color="accent">
        <input matInput placeholder="Full Name" appFocus formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex color="accent">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerLarge" placeholder="Birthday MM/DD/YYYY" formControlName="birthday">
        <mat-datepicker touchUi="true" #pickerLarge></mat-datepicker>
      </mat-form-field>
      <!-- <mat-form-field fxFlex color="accent">
        <input matInput placeholder="Password" formControlName="password" type="{{!showPw ? 'password' : 'text'}}">
        <mat-icon matSuffix (click)="changeVisibility()">{{!showPw ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field> -->
      <div fxFlex>
        <button type="submit" mat-raised-button color="accent" [disabled]="fieldsForm.invalid">COMPLETE</button>
      </div>
    </form>
  </mat-card>

</div>