@import '../../../app-theme';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ededed;
    height: 200px;
    min-height: 200px;
    img {
        max-height: 150px;
        width: auto;
    }
}

a {
    color: mat_color($accent);
}

.container {
    padding: 16px;
    height: calc(100vh - 264px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-dense {
    padding: 16px;
    .mat-raised-button {
        width: 100%;
    }
}

.mat-form-field {
    width: 100%;
}



.mat-icon-button {
    position: absolute !important;
    top: 8px;
    left: 16px;
    mat-icon {
        color: rgba(0,0,0,0.87);
    }
}

.buttons {
    margin-bottom: 0 !important;
}

.social-button {
    display: block;
    text-align: left;
    width: 100%;
    margin: 16px 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 64px;
    font-weight: 300;
    letter-spacing: .5px;
}

.facebook {
    background-color: #3B5998;
    background-image: url('../../../assets/images/facebook.png');
    background-repeat: no-repeat;
    background-position: 16px 8px;
    background-size: 11px 20px;
    color: #FFF;
}
.google {
    background-color: #FFF;
    color: rgba(0,0,0,0.87);
    background-image: url('../../../assets/images/google.png');
    background-repeat: no-repeat;
    background-position: 1px -6px;
    background-size: 46px;
}

.or-divider {
    border-bottom: 1px rgba(0,0,0,0.12) solid;    
    text-align: center;
    margin: 0 0 8px 0;
    font-family: Roboto, sans-serif;
    span {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0,0,0,0.34);
        background-color: #FFF;
        top: 10px;
        position: relative;
        padding: 0 20px;
    }
}



.container-large {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-card {
        width: 400px;
        max-width: 100%;
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-bottom: 0;
        }
        img {
            max-height: 150px;
            width: auto;
            display: block;
            margin: 0 auto;
            padding: 8px;
        }
        .mat-raised-button {
            float: right;
        }
        .mat-icon-button {
            position: absolute !important;
            top: 8px;
            left: 16px;
            mat-icon {
                color: rgba(0,0,0,0.87);
            }
        }
    }
    .header-large {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pull-right {
        width: 448px;
        max-width: 100%;
        margin: 16px 0;
        text-align: right;
        font-size: 14px;
        a {
            text-decoration: none;
            color: mat_color($accent);
        }
    }
}
