<div class="container">
  <div class="content" fxLayout="row wrap">

    <div class="search-cont" [class.mat-elevation-z4]="top > 10 || showFilters" [style.top]="top + 'px'" [style.height]="showFilters ? height + 'px' : ''">

      <div fxLayout="row" class="dropdowns">
        <mat-form-field class="filter-select" color="accent">
          <mat-select placeholder="Categories" [formControl]="categoriesCtrl" multiple (selectionChange)="catsSelect($event)" #catSelect>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat | titlecase }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="filter-btn" fxFlex.lt-sm
          fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px"
          (click)="catSelect.open()">
          <mat-icon>local_offer</mat-icon>
          <span>Categories</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <mat-form-field class="filter-select" color="accent">
          <mat-select placeholder="Types" [formControl]="typesCtrl" multiple (selectionChange)="typesSelect($event)" #typeSelect>
            <mat-option *ngFor="let type of types" [value]="type">{{ type | titlecase }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="filter-btn" fxFlex.lt-sm
          fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px"
          (click)="typeSelect.open()">
          <mat-icon>filter_list</mat-icon>
          <span>Types</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <mat-form-field class="filter-select" color="accent">
          <mat-select placeholder="Location" [formControl]="locationsCtrl" (selectionChange)="locationsSelect($event)" #locSelect>
            <mat-option *ngFor="let loc of locations" [value]="loc.id">{{ loc.name | titlecase }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="filter-btn last" fxFlex.lt-sm
          fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px"
          (click)="locSelect.open()">
          <mat-icon>location_on</mat-icon>
          <span>Locations</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>

      <div class="input-cont" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <input class="search" placeholder="SEARCH" 
          [class.stretch]="stretchInput"
          [class.mat-elevation-z3]="stretchInput"
          (blur)="onBlur()" (focus)="onFocus()"
          (blurout)="onBlurOut()" (focusout)="onFocusOut()"
          [(ngModel)]="searchQuery">
        <div class="icon-cont"><mat-icon>search</mat-icon></div>
        <div class="filter-btn" fxLayout="row" fxLayoutAlign="center center" 
          fxLayoutGap="12px" (click)="modalIndex = 1">
          <mat-icon>shopping_cart</mat-icon>
          <span>Cart</span>
        </div>
      </div>

    </div>

    <div class="space"></div>

    <!--
    <div class="fab-cont" fxLayout="row" fxLayoutAlign="end center" fxFlex="calc(100% - 56px)" [style.top]="fabTop + 'px'">
      <button mat-fab color="accent"><mat-icon>add</mat-icon></button>
    </div>
    -->
    <!--
    <div class="no-items" *ngIf="filteredMenu.length < 1 || loading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="56" color="accent"></mat-progress-spinner>
      <span *ngIf="loading">Loading Products...</span>
      <span *ngIf="filteredMenu.length < 1 && !loading">No Products, Adjust Filters</span>
    </div>
    -->

    <div class="category" *ngFor="let category of filteredMenu"
      fxLayout="row wrap" fxFlex="calc(100% - 16px)" fxLayoutGap.gt-sm="8px">
      <h3 style="width: 100%" *ngIf="(category.value | searchMenu: 'name' : searchQuery).length > 0">{{ category.key | uppercase }}</h3>

      <!-- List Item -->
      <div class="item mat-elevation-z1" *ngFor="let item of category.value | searchMenu: 'name' : searchQuery" fxLayout="row"
        fxFlex="100%" fxFlex.gt-sm="calc(50% - 8px)"
        [class.last-item]="l"
        (click)="view(item, $event)"
        id="{{ item.id }}">

        <div class="image">
          <cl-image [public-id]="getUrl(item.photoUrl)" type="fetch">
            <cl-transformation width="125" height="125" gravity="auto" crop="fill"></cl-transformation>
          </cl-image>
        </div>

        <div class="body" fxFlex fxLayout="row" fxLayoutAlign="start start">
          <div class="info" fxLayout="column" fxLayoutAlign="start start" fxFlex fxLayoutGap="8px">
            <span class="name">{{ item.name | titlecase }}</span>
            <div class="type">{{ item.type | uppercase }}</div>
            <div class="percents" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <div class="thc" *ngIf="item.thc"><span>{{ 'THC: ' + item.thc + '%' }}</span></div>
              <div class="cbd" *ngIf="item.cbd"><span>{{ 'CBD: ' + item.cbd + '%' }}</span></div>
            </div>
            <span class="desc">{{ item.description }}</span>
          </div>
          <div class="pricing" fxLayout="column" fxLayoutAlign="center center">
            <span class="number">{{ '$' + getFirstPrice(item.variations)?.price }}</span>
            <span class="unit">{{ getFirstPrice(item.variations)?.name | uppercase}}</span>
          </div>
        </div>

      </div>

    </div>
    <div class="more" fxLayout="column" fxLayoutAlign="center center" fxFlex="calc(100% - 16px)" fxLayoutGap="16px">
      <mat-progress-spinner mode="indeterminate" diameter="36" color="accent" *ngIf="ps.loading | async"></mat-progress-spinner>
      <button mat-button color="accent" (click)="ps.more()" *ngIf="!done">LOAD MORE</button>
      <button mat-button color="accent" *ngIf="ps.done | async">NO MORE ITEMS</button>
    </div>
    
  </div>
</div>

<div class="modal-container" *ngIf="currentItem || modalIndex > 0">
  <div class="modal-rel" (click)="close()">

    <div class="modal mat-elevation-z1" [style.top]="top + 'px'" (click)="chill($event)">

      <mat-tab-group [selectedIndex]="modalIndex" [dynamicHeight]="true">
        <!--  Item Tab -->
        <mat-tab label="ITEM">
          <div class="item-img mat-elevation-z1" [style.background-image]="sanitizeBackground(currentItem?.photoUrl)">
            <div class="top-bar" fxLayout="row" fxLayoutAlign="end center">
              <button mat-icon-button (click)="close($event)"><mat-icon>close</mat-icon></button>
            </div>
          </div>
          <div class="details" fxLayout="column" fxLayoutGap="16px">
            <button mat-fab color="accent" (click)="modalIndex = 1" [disabled]="orderItems.length < 1"><mat-icon>shopping_cart</mat-icon></button>
            <span class="name">{{ currentItem?.name }}</span>
            <span class="desc">{{ currentItem?.description }}</span>
          </div>
          <div class="divider"></div>
          <div class="pricing" fxLayout="row" fxLayoutAlign="sortedPrices.length > 1 ? 'center start' : 'start start'" fxLayoutGap="4px">
            <div fxFlex="25%" class="price" fxLayout="column" fxLayoutAlign="center center"
              *ngFor="let price of sortedPrices; let i = index" [class.selected]="i === selectedPrice"
              (click)="selectedPrice = i">
              <span class="number">{{ '$' + price?.price }}</span>
              <span class="unit">{{ price?.name | uppercase }}</span>
            </div>
          </div>
          <div class="amount" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="stepper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px" fxFlex="30%">
              <button mat-icon-button color="accent" (click)="quantity = quantity - 1" [disabled]="quantity < 2"><mat-icon>remove</mat-icon></button>
              <span>{{ quantity }}</span>
              <button mat-icon-button color="accent" (click)="quantity = quantity + 1"><mat-icon>add</mat-icon></button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
              <button mat-raised-button color="accent" fxFlex="70%" (click)="add()">ADD TO CART</button>
            </div>
          </div>
          <div class="divider"></div>
          <div class="actions" fxLayout="row">
            <!-- <button mat-button color="accent" fxFlex (click)="add()">ADD TO CART</button> -->
            <!-- <button mat-button color="accent" fxFlex (click)="modalIndex = 1">VIEW CART</button> -->
          </div>
        </mat-tab>

        <!-- Cart Tab -->
        <mat-tab label="CART">
          <div class="cart-container" fxLayout="column">
            <div class="top-bar" fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="modalIndex = 0"><mat-icon>arrow_backward</mat-icon></button>
              <span fxFlex style="padding-left: 12px">Cart</span>
              <button mat-icon-button (click)="close($event)"><mat-icon>close</mat-icon></button>
            </div>
            <div class="items" fxLayout="column" fxLayoutGap="16px">
              <div class="user-detail-row" fxLayout="row" fxLayoutAlign="start center" *ngIf="!aUser.isAnonymous">
                <span class="name" fxFlex>{{ aUser?.displayName }}</span>
                <span class="phoneNumber">{{ aUser?.phoneNumber }}</span>
              </div>
              <div class="item-row-two mat-elevation-z1" *ngFor="let item of orderItems; let i = index; let l = last"
                fxLayout="column" fxFlex="120px">
                <div class="top" fxLayout="column">
                  <span class="name">{{ item?.name }}</span>
                  <span class="type">FLOWER</span>
                </div>
                <div class="bottom" fxLayout="row">
                  <div class="pricingc" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <div class="price" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                      <span class="number">{{ item?.price }}</span>
                      <span class="unit">{{ item?.unit | uppercase }}</span>
                    </div>
                  </div>
                  <div class="quantity" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <button mat-icon-button color="default" (click)="subQ(item)" [disabled]="item.quantity < 2"><mat-icon>remove</mat-icon></button>
                    <span>{{ item.quantity }}</span>
                    <button mat-icon-button color="default" (click)="addQ(item)"><mat-icon>add</mat-icon></button>
                  </div>
                </div>
                <div class="remove" fxFlex fxLayout="row" fxLayoutAlign="end start">
                  <mat-icon (click)="remove(item)">close</mat-icon>
                </div>
              </div>
            </div>
            <div style="width: 100%; height: 111px;"></div>
            <div fxLayout="column" class="cart-total-row" fxLayoutGap="8px">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex><span>TOTAL</span></div>
                <div>{{ '$' + total }}</div>
              </div>
              <button mat-raised-button color="accent" (click)="handleCart()">SUBMIT ORDER</button>
            </div>
            
          </div>
        </mat-tab>

        <!-- Login Tab -->
        <mat-tab label="LOGIN">
          <div class="login-container">
            <div class="top-bar" fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="modalIndex = 1"><mat-icon>arrow_backward</mat-icon></button>
              <span fxFlex style="padding-left: 12px">Sign In</span>
              <button mat-icon-button (click)="close($event)"><mat-icon>close</mat-icon></button>
            </div>
            <div class="p-input" fxLayout="column" fxLayoutGap="12px" [class.expanded]="phoneStep === 1">
              <span class="title">Enter your phone number</span>
              <form [formGroup]="pForm">
                <mat-form-field color="accent">
                  <input matInput formControlName="phoneNumber" placeholder="Phone Number">
                </mat-form-field>
              </form>
              <div id="recaptcha-container"></div>
              <button mat-raised-button color="accent" [disabled]="pForm.invalid" style="max-width: 180px" (click)="sendVCode()">SEND CODE</button>
            </div>
            <div class="v-input" fxLayout="column" fxLayoutGap="12px" [class.expanded]="phoneStep === 2">
              <span class="title">Enter Verification Code</span>
              <form [formGroup]="vForm" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <mat-form-field *ngFor="let n of [1,2,3,4,5,6]" fxFlex="calc((100% / 6) - 20px)" color="accent">
                  <input matInput [formControlName]="n" appTabInput>
                </mat-form-field>
              </form>
              <button mat-raised-button color="accent" [disabled]="vForm.invalid" (click)="verifyCode()">VERIFY CODE</button>
            </div>
          </div>
        </mat-tab>

        <!-- Order Confirmation Tab -->
        <mat-tab label="CONFIRM">
          <div class="confirmation-container">
            <div class="top-bar" fxLayout="row" fxLayoutAlign="start center">
              <span fxFlex style="padding-left: 12px"></span>
              <button mat-icon-button (click)="close($event)"><mat-icon>close</mat-icon></button>
            </div>
            <div class="heading" fxLayout="column" fxLayoutGap="36px">
              <div><span class="title">Order Confirmation</span></div>
              <div fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Order #</span>
                <span class="order-num">{{ order?.xid | slice:0:5 }}</span>
              </div>
            </div>
            <div class="order-details" fxLayout="row">
              <div class="items detail" fxFlex fxLayout="column" fxLayoutAlign="center center">
                <span class="text">ITEMS</span>
                <span class="number">{{ order?.products.length }}</span>
              </div>
              <div class="total detail" fxFlex fxLayout="column" fxLayoutAlign="center center">
                <span class="text">TOTAL</span>
                <span class="number">{{ order?.total }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 24px; text-align: center; padding: 0px 12px">
              <span>Your order has been received and will we begin preparing it soon.<br>Please check your phone for status updates.</span>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>

      <div class="progress-container" *ngIf="progress">
        <mat-spinner></mat-spinner>
      </div>
      
    </div>

  </div>
</div>
