@import './../../../app-theme';

.container {
  background-color: transparent;
  position: relative;
  min-height: 300px;
  overflow-x: hidden;
}

.space {
  width: 100%;
  height: 90px;
}

.category {

  .item {
    margin-bottom: 8px;
    background-color: #fff;

    .image {
      height: 125px;
      width: 125px;
    }
    .body {
      padding: 16px;
      max-width: calc(100% - 125px);
      
      .info {
        max-width: calc(100% - 100px);

        .name {
          font-size: 20px;
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .desc {
          max-width: 100%;
          font-size: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .percents, .type {
          margin-top: 0px;
          font-size: 12px;
        }
      }
      .pricing {
        height: 100%;
        min-width: 100px;

        .number {
          font-size: 28px;
        }
        .unit {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
}

.card-item {
  margin-bottom: 8px;
  background-color: #fff;

  .card-img {
    position: relative;

    .price-fab {
      position: absolute;
      height: 56px;
      width: 56px;
      background-color: #fff;
      color: mat_color($accent);
      border-radius: 50%;
      bottom: -28px;
      right: 16px;
    }
  }

  .card-details {
    padding: 28px 16px 16px 16px;

    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
    }
  }
}

.no-items {
  width: 100%;
}

.fab-cont {
  transition: 250ms cubic-bezier(.4,0,.2,1);
  position: absolute;
  top: 0;
}

.content {

  .search-cont {
    width: calc(100% - 56px);
    padding: 16px;
    flex-direction: row !important; 
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    transition: 250ms cubic-bezier(.4,0,.2,1);
    position: fixed;
    top: 0;
    // height: calc(39px + 32px);
    z-index: 2;

    &.show {
      height: 300px;
    }

    .input-cont {
      position: relative;
      height: 39px;

      input {
        border-top-left-radius:0.5em;
        border-top-right-radius:0.5em;
        border-bottom-left-radius:0.5em;
        border-bottom-right-radius:0.5em;
        border: none;
        width: 150px;
        padding: 12px;
        padding-left: 48px;
        transition: 0.3s ease;
        outline: none;
        margin-right: 12px;
        width: calc(100% - 64px);
      }
      input.stretch {
        width: calc(100% - 64px);
      }
      .icon-cont {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 12px;
      }
      .filter-btn {
        height: 37px;
        padding: 0px 12px;
        border-top-left-radius:0.5em;
        border-top-right-radius:0.5em;
        border-bottom-left-radius:0.5em;
        border-bottom-right-radius:0.5em;
        margin-right: 8px;
        transition: 0.3s ease;
        background-color: #fff;
  
        span {
          transition: 0.3s ease;
          overflow: hidden;
        }
      }
    }
    /*button {
      margin-left: 8px;
    }*/
    .filter-btn {
      height: 37px;
      padding: 0px 12px;
      border-top-left-radius:0.5em;
      border-top-right-radius:0.5em;
      border-bottom-left-radius:0.5em;
      border-bottom-right-radius:0.5em;
      margin-right: 8px;
      transition: 0.3s ease;
      background-color: #fff;

      span {
        transition: 0.3s ease;
        overflow: hidden;
      }
    }
    .filter-select {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

.dropdowns {
  height: 39px;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
:host /deep/ .mat-form-field {
  margin-right: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.54);
  z-index: 3;

  .modal-rel {
    height: 100%;
    width: calc(100% - 36px);
    padding: 0px 12px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;

    .modal {
      max-width: 500px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      border-radius: 4px;
      overflow: hidden;
      animation: modalFade 400ms ease;
      transition: 250ms cubic-bezier(.4,0,.2,1);
      margin-top: 24px;

      .progress-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.54);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
      }

      .item-img {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
        position: relative;
        overflow: hidden;

        .top-bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 56px;
          padding: 0px 16px;
          width: calc(100% - 0px);
          background: linear-gradient(rgba(0,0,0,0.54), transparent);

          mat-icon {
            color: #fff;
          }
        }
      }

      .details {
        padding: 24px;
        position: relative;

        .name {
          font-size: 20px;
        }
        .desc {
          font-size: 12px;
          color: rgba(0,0,0,0.65);
        }
        button {
          position: absolute;
          top: -28px;
          right: 16px;

          &[disabled] {
            background-color: #fafafa;
          }
        }
      }

      .pricing {
        padding: 12px 24px;

        .price {
          padding: 12px 0px;
          border: 1px solid mat_color($accent, 500);
          transition: 0.3s ease;
          border-radius: 6px;

          .number {
            font-size: 16px
          }
          .unit {
            font-size: 12px;
            color: rgba(0,0,0,0.65);
          }

          &.selected {
            background-color: mat_color($accent, 500);
            color: mat_contrast($accent, 500);

            .unit {
              color: mat_contrast($accent, 500);
            }
          }
        }
      }

      .amount {
        padding: 12px 12px 24px 12px;
      }

      .actions {
        button {
          height: 48px;
        }
      }

      .divider {
        height: 0px;
        width: calc(100% - 48px);
        background-color: rgba(0,0,0,0.54);
        margin: 0px 24px;
      }
    }

    .cart-container {
      position: relative;

      .top-bar {
        padding: 0px 12px;
        height: 56px;
        width: 100%;
      }

      .cart-total-row {
        width: 100%;
        padding:24px 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
      }

      .items {
        padding: 12px 12px;
        max-height: 300px;
        overflow-y: auto;

        .item-row-two {
          background-color: #fff;
          border-radius: 4px;
          position: relative;
          padding: 16px 16px 8px 16px;

          .remove {
            position: absolute;
            top: 12px;
            right: 12px;

            mat-icon {
              height: 16px;
              width: 16px;
              font-size: 16px;
              color: #4b4b4b;
              background-color: #ffffff;
              border-radius: 50%;
              padding: 4px;
            }
          }
          .top {

            .name {
              font-size: 16px;
              font-weight: 400;
              max-width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .type {
              font-size: 12px;
              font-weight: 200;
              color: #6e6c6c;
            }
          }
          .bottom {
            margin-top: 16px;

            .pricingc {

              .price {
                padding: 6px 12px;
                background: linear-gradient(to right, mat_color($accent, 400), mat_color($accent, 300));
                color: mat_contrast($accent, 400);
                border-top-left-radius: 2em;
                border-bottom-left-radius: 2em;
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;

                .number {
                    font-size: 12px;
                }
                .unit {
                    font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.login-container {
  position: relative;

  .top-bar {
    padding: 0px 12px;
    height: 56px;
    width: 100%;
  }

  .p-input, .v-input {
    height: 0px;
    transition: 0.5s ease;
    overflow: hidden;

    &.expanded {
      padding: 24px 12px;
      height: 400px;
    }
  }

  .v-input {
    max-width: 500px;

    input {
      text-align: center;
    }
  }
}

.confirmation-container {
  padding-bottom: 24px;

  .top-bar {
    padding: 0px 12px;
    height: 56px;
    width: 100%;
  }

  .heading {
    padding: 16px 16px 24px 16px;
    margin-top: -56px;

    .title {
      font-size: 28px;
      font-weight: 300;
      position: relative;

      &:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 60%;
          border-bottom: 1px solid;
          margin-top: 16px;
      }
    }
    .order-num {
      font-size: 36px;
      font-weight: 300;
    }
  }
  .order-details {
      .detail {
        .text {
          font-size: 12px;
          color: rgba(0,0,0,0.54);
        }
        .number {
          font-size: 28px;
          font-weight: 300;
        }
      }
  }
}

:host /deep/ .mat-tab-body {
  padding: 0px !important;
  max-width: 100%;
}
:host /deep/ .mat-tab-header {
  display: none;
}

.cart-btn {
  position: absolute;
  right: 6px;
  top: 0;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .content {
    .search-cont {

      .input-cont {
        input {
          width: calc(100% - 60px) !important;
        }
      }

      .filter-btn {
        // width: 210px;
        margin-right: 8px;

        &.last {
          margin-right: 0px !important;
        }

        span {
          width: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .space {
    height: 125px;
  }

  .content {
    .search-cont {
      flex-direction: column-reverse !important;
      width: calc(100% - 16px);

      .input-cont {
        margin-top: 16px;

        .filter-btn {
          min-height: 37px;
          padding: 0px 12px;
          border-top-left-radius:0.5em;
          border-top-right-radius:0.5em;
          border-bottom-left-radius:0.5em;
          border-bottom-right-radius:0.5em;
          margin-right: 8px;
          transition: 0.3s ease;
          background-color: #fff;
          margin-bottom: 8px;
    
          span {
            transition: 0.3s ease;
            overflow: hidden;
          }
        }
      }

      .dropdowns {
        margin-top: 28px;
      }

      .filter-btn {
        margin-top: 8px;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .last-item {
    margin-right: 8px;
  }
  .item {
    max-width: calc(50% - 8px);
  }
}

@keyframes modalFade {
  from { opacity: 0; }
  to { opacity: 1; }
}