<mat-tab-group
  dynamicHeight="true"
  *ngIf="(articles | async) as arts">

  <mat-tab *ngFor="let art of arts | groupBy: 'category'"
    [label]="art.key | uppercase">

    <div fxLayout="row wrap"
      [style.padding-top]="'8px'">

      <div class=""
        fxFlex.gt-sm="calc(25% - 24px)"
        class.gt-sm="large-card"
        *ngFor="let data of art.value; let i = index;"
        fxLayout="row"
        fxLayoutAlign="center start"
        [routerLink]="data.id">

        <div *ngIf="i === 0"
          [style.width]="'calc(100vw - 16px)'"
          class="featured-card mat-elevation-z2"
          [style.background-image]="sanitizeImage(data.photoUrl)">
          <div class="featured-text"
            fxLayout="column"
            fxLayoutAlign="start start">
            <span class="featured-chip">FEATURED</span>
            <p>{{ data.title }}</p>
            <span class="featured-sub" [innerHTML]="data.body.substring(0, 150) + '...'">...</span>
            <button mat-raised-button>READ</button>
          </div>
        </div>

        <div *ngIf="i > 0"
          [style.width]="'calc(50vw - 12px)'"
          class="standard-card mat-elevation-z2"
          fxLayout="column"
          fxLayoutAlign="start start">
          <div class="standard-img"
            [style.background-image]="sanitizeImage(data.photoUrl)">
            <span class="standard-chip">{{ data.category | uppercase }}</span>
          </div>
          <div class="standard-text"
            fxLayout="column"
            fxLayoutAlign="start start">
            <span class="standard-date">{{ data.date | date }}</span>
            <span>{{ data.title }}</span>
          </div>
        </div>

      </div>

    </div>

  </mat-tab>

</mat-tab-group>

<div class="container" *ngIf="size === 0" fxLayout="row" fxLayoutAlign="center start">
  <div class="no-articles" [class.grown]="grow === true">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>description</mat-icon>
      <span>No Articles</span>
    </div>
  </div>
</div>
