@import '../../../app-theme';


.featured-card {
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 250px;
    border-radius: 2px;

    .featured-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        padding: 24px;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));

        p {
            margin-bottom: 4px;
        }

        .featured-chip {
            font-size: 10px;
            padding: 6px;
            border-radius: 4px;
            background-color: mat_color($accent);
            color: mat_contrast($accent, 500);
            border-radius: 2px;
        }

        .featured-sub {
            font-size: 12px;
            margin-bottom: 16px;
            font-weight: 50;
        }
    }
}

.standard-card {
    background-color: #fff;
    margin-top: 8px;
    border-radius: 2px;

    .standard-img {
        background-size: cover;
        background-position: center center;
        height: 125px;
        width: 100%;
        position: relative;
    }
    .standard-text {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: calc(100% - 24px);
    }
    .standard-date {
        font-size: 10px;
        color: grey;
        margin-bottom: 4px;
    }
    .standard-chip {
        font-size: 8px;
        padding: 6px;
        border-radius: 4px;
        background-color: mat_color($accent);
        color: mat_contrast($accent, 500);
        border-radius: 2px;
        position: absolute;
        left: 12px;
        bottom: 12px;
    }
}

.standard-card:nth-child(even) {
    margin-left: 4px;
}

.container {
    height: 100%;
    width: 100%;

    .no-articles {
        height: 300px;
        width: 300px;
        //box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
        //background-color: mat_color($accent, 300);
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {

            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
    .no-articles.grown {
        height: 150%;
        width: 150%;
        border-radius: 0;
    }
}

@keyframes growFull {
    100% {
        height: 120%;
        width: 120%;
    }
}
