@import '../../../app-theme';

.settings-line {
    overflow: visible;
}

:host /deep/ .mat-list-text, :host /deep/ .mat-line {
    height: 48px;
    overflow: visible !important;
}
:host /deep/ .mat-slide-toggle {
    display: flex !important;
}

:host /deep/ .mat-expansion-panel {
    box-shadow: none !important;
    background-color: transparent !important;
}

:host /deep/ .mat-expansion-panel-header {
    padding-left: 16px;
    padding-right: 46px;
}

:host /deep/ .mat-expansion-panel-header-title {
    align-items: center;

    span {
        padding-left: 16px;
        padding-right: 16px;
    }
}

:host /deep/ .mat-expansion-panel-body {
    overflow: visible;
}


.panel-item {
    height: 48px;
    padding-left: 40px;
    padding-right: 16px;
}

.save-row {
    box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    padding-left: 24px;
    padding-right: 16px;
    transform: translateY(110%);
    transition: 0.4s ease;
    background-color: #fff;
}
.save-row.up {
    transform: translateY(0%);
}
.disabled-line {
    color: #bdbdbd;

    mat-icon {
        color: #bdbdbd;
    }
    .settings-line {
        color: #bdbdbd;
    }
}

.container {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .save-row {
        width: calc(100% - 280px);
    }

    .mat-nav-list {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 24px;
        background-color: #fff;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}
