<div class="" *ngIf="(member$ | async) as member" style="overflow-x: hidden">
  <mat-nav-list>
    <mat-list-item class="disabled-line">
      <mat-icon mat-list-icon>notifications</mat-icon>
      <div mat-line fxLayout="row" fxLayoutAlign="start center" class="settings-line">
        <span fxFlex>App Notifications</span>
        <mat-slide-toggle [color]="accent" disabled="true"></mat-slide-toggle>
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>message</mat-icon>
      <div mat-line fxLayout="row" fxLayoutAlign="start center" class="settings-line">
        <span fxFlex>Text Messages</span>
        <mat-slide-toggle [color]="accent" [checked]="member?.marketingMessages" (change)="onToggle('marketingMessages', $event)"></mat-slide-toggle>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel expanded="true" *ngIf="start">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="padding: 4px">store</mat-icon>
          <span>Followed Locations</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="locForm" *ngIf="oldLocStructure">
        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let fl of locations.controls; let i = index; let l = last" class="panel-item">
          <span fxFlex>{{ locArr[i].name }}</span>
          <mat-checkbox [formControl]="fl" (change)="lchanged($event, locArr[i].id)"></mat-checkbox>
        </div>
      </form>
      <form [formGroup]="locForm" *ngIf="!oldLocStructure">
        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let loc of bLocations" class="panel-item">
          <span fxFlex>{{ loc.name | title }}</span>
          <mat-checkbox [formControlName]="loc.id" (change)="pchanged()"></mat-checkbox>
        </div>
      </form>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel expanded="true" *ngIf="start">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style="padding: 4px">favorite</mat-icon>
          <span>Product Interests</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="prodForm">
        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let prod of bProducts" class="panel-item">
          <span fxFlex>{{ prod.slug | title }}</span>
          <mat-checkbox [formControlName]="prod.slug" (change)="pchanged()"></mat-checkbox>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-nav-list>
  <div style="height: 56px; width: 100vw;"></div>

  <div fxLayout="row" fxLayoutAlign="end center" class="save-row" [class.up]="changes == true">
    <span fxFlex class="animated fadeIn" *ngIf="saved" [ngClass]="{'fadeOut': !saved}">Settings Saved</span>
    <button mat-button color="accent" (click)="saveSettings()">SAVE</button>
  </div>
</div>

<!--
<div class="container" *ngIf="!loggedIn" fxLayout="row" fxLayoutAlign="center start">
  <div class="not-logged-in">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <!-- <button mat-button color="accent" (click)="checkExists()">EXISTS</button> --
      <mat-icon>vpn_key</mat-icon>
      <span>Not Logged In</span>
    </div>
  </div>
</div>
<app-bottom-sheet class="animated slideInUp" *ngIf="!loggedIn" [returnPath]="path"></app-bottom-sheet>
-->