p {
    margin: 32px 0;
    mat-checkbox {
        float: right;
    }
}

:host /deep/ .mat-chip {
    margin: 8px !important;
}

:host /deep/ .mat-raised-button {
    margin-left: 0px !important;
}

@media screen and (max-width: 600px) {
    .mat-button, .mat-raised-button, .clear-div {
        width: 100%;
    }
}
