<h2 matDialogTitle>
  Filter
</h2>
<mat-dialog-content>
  <form [formGroup]="fg">
    <div formGroupName="filters">
      <p *ngFor="let filter of types; let i = index">
        {{ filter | title }}
        <mat-checkbox [formControlName]="filter"></mat-checkbox>
      </p>
    </div>
  </form>
  <mat-form-field style="width: 100%" color="accent">
    <mat-select placeholder="Brands" [formControl]="vendorCtrl">
      <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{ vendor | title }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center"
  fxLayout.lt-sm="column">
  <div fxFlex fxFlexOrder.lt-sm="2" class="clear-div"><button mat-button color="accent" (click)="clearAll()">CLEAR</button></div>
  <button mat-button color="accent" matDialogClose fxFlexOrder.lt-sm="1">CANCEL</button>
  <button mat-raised-button (click)="closeWithSave()" color="accent" fxFlexOrder.lt-sm="0">SAVE</button>
</mat-dialog-actions>
