@import '../../../app-theme';

.small-header {
    height: 100px;
    background-color: mat_color($primary);
    display: flex;
    justify-content: center;
    color: mat_contrast($primary, 500);

    h4 {
        margin-top: 36px;
    }
}

.small-tiles {
    margin-top: -88px;
}

.location-tile {
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #eeeeee;
    margin: 0px 12px 12px 12px;

    .details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        background-color: rgba(0,0,0,0.54);
        overflow: hidden;
        border-radius: 4px;

        h3 {
            color: #FFF;
            font-size: 16px;
            line-height: 21px;
            margin: 0 8px;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            color: #FFF;
            font-size: 14px;
            line-height: 19px;
            margin: 0 8px;
        }
    }
}

.no-image {
    overflow: hidden;
    mat-icon {
        color: mat_color($accent, 300);
        font-size: 48px;
        height: 48px;
        width: 48px;
        margin-top: 48px;
    }
}

mat-card {
    padding: 0;
    max-width: calc(33.33% - 24px);
    margin: 0px 12px 24px 12px;
    overflow: hidden;
}

.image-large {
    height: 100%;
    min-height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    mat-icon {
        color: mat_color($accent, 300);
        font-size: 48px;
        height: 48px;
        width: 48px;
    }
}

.content-large {
    padding: 24px;
}

.container-large {
    padding: 24px;
    margin-top: -72px;

    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin: 0 0 8px 0;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 0 12px 0;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    p {
        font-size: 14px;
        line-height: 19px;
        color: rgba(0,0,0,0.54);
        margin-bottom: 0px;
    }
    span {
        font-weight: bold;
        color: rgba(0,0,0,0.87);
        float: right;
    }
}