<div class="small-header">
</div>
<div fxLayout="column" fxHide.gt-xs class="small-tiles">
  <div fxFlex="250px" fxFlexAlign="stretch end" fxLayout="column"
       *ngFor="let location of locations" class="location-tile mat-elevation-z4"
       [routerLink]="location.id" routerLinkActive="active">
    <div class="no-image" fxFlex fxLayout="row" fxLayoutAlign="center start">
      <cl-image [public-id]="location.photoUrl" type="fetch" *ngIf="location.photoUrl">
        <cl-transformation width="500" height="250" crop="fill" gravity="auto"></cl-transformation>
      </cl-image>
      <mat-icon *ngIf="!location.photoUrl">photo</mat-icon>
    </div>
    <div class="details" fxLayout="column" fxLayoutGap="8px">
      <h3>{{ location?.name }}</h3>
      <p>{{ location?.address }}</p>
      <p>{{ location?.phoneNumber | phoneNumber }}</p>
    </div>
  </div>
</div>

<div fxHide.lt-sm>
  <div class="container-large">
    <div fxLayout="row wrap" fxLayoutAlign.lt-md="start start">
      <mat-card fxFlex.gt-sm="calc(33.33% - 24px)" fxFlex.lt-md="calc(50% - 24px)" fxFlex.gt-lg="calc(20% - 24px)"
        *ngFor="let location of locations"
        [routerLink]="location.id" routerLinkActive="active">
        <div fxLayout="column">
          <div fxFlex class="image-large">
            <cl-image [public-id]="location.photoUrl" type="fetch" *ngIf="location.photoUrl">
              <cl-transformation width="500" height="200" crop="fill" gravity="auto"></cl-transformation>
            </cl-image>
            <mat-icon *ngIf="!location.photoUrl">photo</mat-icon>
          </div>
          <div fxFlex class="content-large">
            <h3>{{ location?.name }}</h3>
            <p>{{ location?.address }}</p>
            <p>{{ location?.phoneNumber | phoneNumber }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>