@import '../../../app-theme';
@import '~@angular/material/_theming';


$menu: mat-color($mat-pink, 500);
$activity: mat-color($mat-light-blue, 500);
$feedback: mat-color($mat-green, 500);

.container {
  padding: 0px;
  padding-bottom: 24px;
  position: relative;

  .top-bar {
    height: 64px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .header {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;

    .backdrop {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      background: linear-gradient(150deg, mat_color($primary, 800), mat_color($accent, 800));
      // background: mat_color($primary);
      opacity: 0.85;
    }

    .info {
      z-index: 1;
      color: mat_contrast($primary, 800);

      h1 {
        font-weight: 300;
        font-size: 48px;
        margin-bottom: 8px;
        text-align: center;
        padding: 0px 16px;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        padding: 0px 32px;
        text-align: center;

        ::ng-deep a {
          padding: 12px 24px;
          margin-top: 12px;
          background-color: mat_color($accent);
          color: mat_contrast($accent, 500);
          border-radius: 4px;
          position: relative;
          top: 16px;
          text-decoration: none;
        }
      }
    }
  }
}

.body {
  max-width: 750px;
  margin: 0 auto;
  padding: 24px;
  margin-top: -48px;
  background-color: #fff;

  .explore-cards {
    padding-top: 24px;

    &.two {
      padding-top: 36px;
    }

    .card {
      transition: 0.2s ease;
      position: relative;
      margin: 0px 6px 24px 6px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 120px;

      mat-icon {
        height: 72px;
        width: 72px;
        font-size: 72px;

        &.menu {
          color: $menu;
        }
        &.rewards {
        }
      }

      img {
        max-width: 50%;
        height: auto;
      }

    }
    .text {
      font-size: 12px;
      font-weight: 500;
      color: rgba(0,0,0,0.65);
      text-align: center;
      margin-bottom: 0px !important;
    }
  }
}

:host /deep/ .hide {
  display: none;
}

:host /deep/ .svg-accent {
    fill: mat_color($accent);
}

.single-map {
  max-width: calc(750px + 48px);
  margin: 0 auto;
  margin-top: 24px;
  background: #fff;
  position: relative;

  agm-map {
    width: 100%;
    height: 300px;
  }

  .info-card {
    padding: 16px;
    position: absolute;
    top: 24px;
    left: 24px;
    background: #fff;

    .details {

      .address {
        font-size: 12px;
        color: rgba(0,0,0,0.65);
      }
    }

    .actions {

      mat-icon {
        height: 36px;
        width: 36px;
        font-size: 36px;
      }
      .action-text {
        font-size: 10px;
        color: rgba(0,0,0,0.65);
      }
    }
  }
}

.no-image {
    .letter-circle {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 2px solid mat_color($accent);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    mat-icon {
        color: mat_color($accent, 300);
        width: 48px;
        height: 48px;
        font-size: 48px;
    }
}

.multiple-map {
    max-width: calc(750px + 64px);
    margin: 0 auto;
    margin-top: 24px;
    position: relative;

    .location {
        margin: 0px 8px 0px 8px;
        background-size: cover;
        background-position: center center;
        height: 250px;
        position: relative;
        background-color: #eeeeee;

        .info-card {
            padding: 16px;
            width: calc(100% + 0px);
            background: #fff;
        
            .details {
                overflow: hidden;

                .name {
                    max-width: calc(100% - 24px);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
        
                .address, .phone {
                    font-size: 12px;
                    color: rgba(0,0,0,0.65);
                }
            }
        
            .actions {
        
              mat-icon {
                height: 36px;
                width: 36px;
                font-size: 36px;
              }
              .action-text {
                font-size: 10px;
                color: rgba(0,0,0,0.65);
              }
            }
        }
    }

    .more-loc {
        max-width: calc(10% - 16px);
        width: 100%;
        margin-left: 8px;
        background: #fff;
        position: relative;
    }
}

.products {
  max-width: calc(750px + 0px);
  margin: 0 auto;
  margin-top: 24px;
  background: #fff;
  position: relative;
  padding: 24px 24px;
}

.navigation {
  max-width: calc(750px + 0px);
  margin: 0 auto;
  margin-top: 24px;
  background: #fff;
  position: relative;
  padding: 24px;

  .more-card {

    mat-icon {
      height: 36px;
      width: 36px;
      font-size: 36px;

      &.menu {
        color: $menu;
      }
      &.activity {
        color: $activity;
      }
      &.feedback {
        color: $feedback;
      }
    }
    .title {
      font-size: 16px;
      font-weight: 400;
    }
    .subtitle {
      font-size: 12px;
      font-weight: 300;
      color: rgba(0,0,0,0.54);
      text-align: center;
    }
  }
}

.products {

  .items {
    margin-top: 24px;

    .item {
      height: 200px;
      position: relative;
      background-size: cover;
      background-position: center center;
      margin: 0px 8px 16px 8px;
      background-color: #eeeeee;

      .desc {
        padding: 16px;
        width: calc(100% - 0px);
        background: rgba(0,0,0,0.40);
        color: #fff;

        .name {
          font-size: 16px;
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .price {
          font-size: 12px;
        }
      }
    }
  }
}

.pad-mobile {
  position: relative;
  z-index: 1;
}

.rights {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px !important;
  }
  .pad-mobile {
    padding: 16px;
  }
  .rights {
    h5 {
      text-align: center;
      font-size: 12px;
    }
    span {
      font-size: 10px;
    }
  }
  .products {
      .items {
          .item {
              height: 300px;
          }
      }
  }
  .location {
      margin: 0px 0px 16px 0px !important;
  }
  .no-image {
      .letter-circle {
          height: 96px;
          width: 96px;
          span {
              font-size: 32px;
          }
      }
  }
}
