<div class="container" *ngIf="location">
  <div class="top-bar"></div>
  <div class="header" fxLayout="row"
    [style.background-image]="sanitizeImage(location.photoUrl)">
    <div class="fill" fxFlex="0%"></div>
    <div class="info" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" *ngIf="bSettings">
      <h1>{{ bSettings.businessName }}</h1>
      <span class="message" [innerHtml]="bSettings?.homepageGreeting"></span>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="pad-mobile">
    <div class="body mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <div fxLayout="row" fxLayoutAlign="center start"><mat-icon color="accent">explore</mat-icon></div>
        <span fxFlex>Explore</span>
      </div>
      <div class="explore-cards one" fxLayout="row wrap" fxLayoutAlign="center start">
        <div matRipple class="card" fxFlex="calc(25% - 12px)" fxFlex.lt-sm="calc(50% - 12px)"
          fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
          (click)="gotoLocation()">
            <div class="icon" [innerHTML]="svgs[0]">
            </div>
            <div class="text">Our {{ locations.length > 1 ? 'locations' : 'location' }}</div>
        </div>
        <div matRipple class="card" fxFlex="calc(25% - 12px)" fxFlex.lt-sm="calc(50% - 12px)"
          fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
          routerLink="../menu">
            <div class="icon" [innerHTML]="svgs[1]">
            </div>
            <div class="text">Our Products</div>
        </div>
        <div matRipple class="card" fxFlex="calc(25% - 12px)" fxFlex.lt-sm="calc(50% - 12px)"
          fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
          routerLink="../rewards">
            <div class="icon" [innerHTML]="svgs[2]">
            </div>
            <div class="text">Your rewards</div>
        </div>
        <div matRipple class="card" fxFlex="calc(25% - 12px)" fxFlex.lt-sm="calc(50% - 12px)"
          fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px"
          routerLink="../activity">
            <div class="icon" [innerHTML]="svgs[3]">
            </div>
            <div class="text">Your points</div>
        </div>
      </div>
    </div>

    <div class="single-map mat-elevation-z1" *ngIf="locations.length < 2">
      <agm-map [latitude]="location.location.latitude" [longitude]="location.location.longitude" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false">
        <agm-marker [latitude]="location.location.latitude" [longitude]="location.location.longitude"></agm-marker>
      </agm-map>
      <div class="info-card mat-elevation-z1" fxLayout="row" fxLayoutGap="12px">
        <div class="details" fxLayout="column" fxFlex>
          <span class="name">{{ location?.name }}</span>
          <span class="address">{{ location?.address }}<br>{{location?.city + ' ' + location?.state + ', ' + location?.zip }}</span>
        </div>
        <div style="height: 100%; width: 1px; background-color: rgba(0,0,0,0.54)"></div>
        <div class="actions">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon color="accent" [routerLink]="['../locations', lId]">directions</mat-icon>
            <span class="action-text">View</span>
          </div>
        </div>
      </div>
    </div>

    <div class="multiple-map" *ngIf="locations.length > 1">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" style="padding-left: 32px; margin-bottom: 24px;">
            <div fxLayout="row" fxLayoutAlign="center start"><mat-icon color="accent">map</mat-icon></div>
            <span fxFlex>Locations</span>
            <div class="animated fadeIn" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" style="padding-right: 32px;" *ngIf="locations.length > 3">
                <span>See All</span>
                <button mat-icon-button color="default" routerLink="../locations"><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div class="location mat-elevation-z1" *ngFor="let loc of locations | slice:0:3" 
                fxLayout="column" fxFlex="calc(33% - 16px)" fxFlex.lt-sm="calc(100% - 0px)"
                [style.background-image]="sanitizeImage(loc.photoUrl)"
                [routerLink]="['../locations', loc.id]">
                <div class="no-image" fxFlex fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon *ngIf="!loc.photoUrl">photo</mat-icon>
                </div>
                <div class="info-card" fxLayout="row" fxLayoutGap="12px">
                    <div class="details" fxLayout="column" fxFlex>
                        <span class="name">{{ loc?.name }}</span>
                        <span class="address">{{ loc?.address }}<br>{{loc?.city + ' ' + loc?.state + ', ' + loc?.zip }}</span>
                        <span class="phone">{{ loc?.phoneNumber | phoneNumber }}</span>
                    </div>
                    <div style="height: 100%; width: 1px; background-color: rgba(0,0,0,0.54)"></div>
                    <div class="actions">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon color="accent" [routerLink]="['../../locations', loc.id]">directions</mat-icon>
                            <span class="action-text">View</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div matRipple class="more-loc mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>chevron_right</mat-icon>
            </div>
            -->
        </div>
    </div>

    <div class="products mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <div fxLayout="row" fxLayoutAlign="center start"><mat-icon color="accent">view_carousel</mat-icon></div>
        <span fxFlex>Products</span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <span>See More</span>
          <button mat-icon-button color="default" routerLink="../menu"><mat-icon>arrow_forward</mat-icon></button>
        </div>
      </div>
      <div class="items" fxLayout="row wrap">
        <div fxFlex="calc(25% - 16px)" fxFlex.lt-sm="calc(100% - 16px)"
          class="item" *ngFor="let item of menu | slice: 0:4; let l = last"
          [style.background-image]="item.photoUrl"
          [routerLink]="['../', lId, 'menu', item.id]"
          fxLayout="column">
          <div class="no-image" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div class="letter-circle mat-elevation-z1">
                <span>{{ item.letter }}</span>
            </div>
          </div>
          <div class="desc" fxLayout="column" fxLayoutGap="8px">
            <span class="name">{{ item?.name }}</span>
            <span class="price" *ngIf="item.variations.length > 0">{{ item.variations[0]?.price }} / {{ item.variations[0]?.name | uppercase }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rights" fxLayout="column" fxLayoutAlign="center center">
      <h5>All Rights Reserved  |  Copyright 2015 - 2018</h5>
      <span style="font-size: 12px; color: rgba(0,0,0,0.54)">By accessing this site you agree that you are 21 years or older.</span>
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="content" *ngIf="bSettings && locations && menu">

    <div class="toolbar"></div>

    <div class="header" fxLayout="column" fxLayoutAlign="center center" *ngIf="bSettings as settings">
      <div class="img">
        <img [src]="settings?.logo">
      </div>
      <div class="tagline">
        <span class="message" [innerHtml]="breakupText(settings?.homepageGreeting)"></span>
      </div>
    </div>

    <div class="locations" *ngIf="locations as locs">
      <div class="home">
        <h2 *ngIf="locs.length > 1">Locations</h2>

        <div style="height: 19px" *ngIf="locs.length < 2"></div>

        <div class="loc-cards" *ngIf="locs.length > 1" fxLayout="column" fxLayoutGap="8px"
          fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" fxLayoutWrap.gt-sm>
          <mat-card fxFlex *ngFor="let loc of locs" fxFlex.gt-sm="calc(33.33% - 24px)"
            routerLink="../locations/{{loc.id}}" routerLinkActive="active">
            <div class="loc-img">
              <img mat-card-image [src]="getUrl(loc.photoUrl)">
              <div class="name"><span>{{ loc.name }}</span></div>
            </div>
            <mat-card-content>
              <div fxLayout="column" fxLayoutGap="8px">
                <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                  <mat-icon>phone</mat-icon>
                  <span class="phone">{{ loc?.phoneNumber | phoneNumber }}</span>
                </div>
                <div class="detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                  <mat-icon>access_time</mat-icon>
                  <span>{{ loc?.hours[days[day]].open ? 'Open' : 'Closed' }} Today {{ loc?.hours[days[day]].open ? (openTime | date: 'shortTime') + ' - ' + (closeTime | date: 'shortTime') : '' }}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="single-loc" fxLayout="row" fxLayoutGap="0px" *ngIf="locs.length < 2" fxLayoutAlign="end start">
            <div class="single-loc-card mat-elevation-z1" *ngFor="let loc of locs" fxFlex="50%">
                <div class="single-loc-img" [style.background-image]="sanitizeImage(loc.photoUrl)"></div>
                <div class="single-loc-details" fxLayout="row">
                    <div fxFlex="72px" fxLayout="row" fxLayoutAlign="center start"><mat-icon color="accent">info_outline</mat-icon></div>
                    <div fxFlex fxLayout="column" fxLayoutGap="8px">
                        <span class="name">{{ loc.name }}</span>
                        <span class="phone">{{ loc.phoneNumber | phoneNumber }}</span>
                        <span class="address">{{ loc.address }}<br>{{loc.city + ' ' + loc.state + ', ' + loc.zip }}</span>
                    </div>
                </div>
            </div>
            <div class="single-loc-hours" fxFlex="50%">
                <div class="single-loc-hours-title" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="72px" fxLayout="row" fxLayoutAlign="center start"><mat-icon color="accent">access_time</mat-icon></div>
                    <div fxFlex><span>Hours</span></div>
                </div>
                <div class="today">

                </div>
                <div class="day" fxLayout="row" fxLayoutAlign="start center" *ngFor="let day of hours">
                    <span fxFlex="72px" class="name">{{ day.day | titlecase}}</span>
                    <span fxFlex class="time">{{ day.open ? (day.openTime | date : 'shortTime') + ' - ' + (day.closeTime | date : 'shortTime') : '' }}</span>
                </div>
            </div>
        </div>

        <!-- <div class="single-loc" *ngIf="locs.length < 2">
            <div class="loc-card mat-elevation-z1" fxLayout="row" fxLayout.lt-md="column" *ngFor="let loc of locs">
                <div class="img" fxFlex="33.33%" [style.background-image]="sanitizeImage(loc.photoUrl)">

                </div>
                <div class="hours" fxFlex="33.33%" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                        <mat-icon>access_time</mat-icon>
                        <p>Hours</p>
                    </div>
                    <div class="day" *ngFor="let day of hours" fxLayout="row">
                        <span class="name">{{ day.day | titlecase}}</span>
                        <span fxFlex class="time">{{ day.open ? 'Open' : 'Closed' }} Today {{ day.open ? (day.openTime | date : 'shortTime') + ' - ' + (day.closeTime | date : 'shortTime') : '' }}</span>
                    </div>
                </div>
                <div class="details" fxFlex="33.33%" fxLayout="column">
                    <div class="info" fxLayout="column" fxLayoutGap="16px">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <mat-icon class="header-icon">info_outline</mat-icon>
                            <p>Details</p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <mat-icon>phone</mat-icon>
                            <span>{{ loc.phoneNumber | phoneNumber }}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <mat-icon>home</mat-icon>
                            <span>{{ loc.address }}<br>{{loc.city + ' ' + loc.state + ', ' + loc.zip }}</span>
                        </div>
                    </div>
                    <div class="map" *ngIf="lat && lon" fxFlex>
                        <agm-map [latitude]="lat" [longitude]="lon" [zoom]="14" [scrollwheel]="false" [mapDraggable]="false">
                            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div> --

      </div>
    </div>

    <div class="menu-cont">
        <div class="home">
            <div class="menu" fxLayout="column">
                <div class="title" fxLayout="row" fxLayoutAlign="start center">
                    <span fxFlex>Products</span>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>See All</span>
                        <button mat-icon-button routerLink="../menu"><mat-icon>arrow_forward</mat-icon></button>
                    </div>
                </div>
                <div class="products" fxLayout="row" fxLayoutGap="16px" fxLayoutWrap>
                    <div class="product mat-elevation-z1" 
                        fxFlex="calc(25% - 16px)" fxFlex.lt-md="calc(50% - 16px)"
                        fxLayout="column" *ngFor="let prod of menu | slice: 0:4; let l = last"
                        [class.last]="l">
                        <div class="img">
                            <cl-image [public-id]="getUrl(prod.photoUrl)" type="fetch" format="webp">
                                <cl-transformation width="450" height="300" crop="fill"></cl-transformation>  
                            </cl-image>
                        </div>
                        <div class="details" fxLayout="column" fxLayoutGap="8px">
                            <span class="name">{{ prod?.name }}</span>
                            <div class="price" fxLayout="row" fxLayoutAlign="end center">
                                <span>{{ getFirstPrice(prod.variations)?.price + ' / ' +  getFirstPrice(prod.variations)?.name.charAt(0) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  <div class="menu" *ngIf="menu as m">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div style="width: 12px"></div>
        <h2 fxFlex>Products</h2>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>See All</span>
          <button mat-icon-button routerLink="../menu"><mat-icon>arrow_forward</mat-icon></button>
        </div>
      </div>
      <div class="menu-scroll-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div style="width: 12px"></div>
        <div class="item-card mat-elevation-z1" fxLayout="column" *ngFor="let item of m | slice: 0 : 6">
          <div class="img" fxFlex>
            <cl-image [public-id]="getUrl(item.photoUrl)" type="fetch" format="webp">
                <cl-transformation width="250" height="172" crop="fill" gravity="auto"></cl-transformation>  
            </cl-image>
          </div>
          <div class="details">
            <span>{{ item.name }}</span>
            <div fxLayout="row" fxLayoutAlign="end center" style="margin-top: 8px">
              <span class="price">{{ getFirstPrice(item.variations)?.price + ' / ' +  getFirstPrice(item.variations)?.name.charAt(0) }}</span>
            </div>
          </div>
        </div>
        <div style="padding: 1px"></div>
      </div>
    </div> --

    <div class="footer">
      <h5>All Rights Reserved Powered by Cannafo   |   Copyright 2015 - 2017</h5>
      <p>By accessing this site you agree that you are 21 years or older.</p>
    </div>

  </div>
</div>

<!-- <div class="white-bg header" fxLayoutAlign="center center">
    <div class="home-container">
        <img src="/assets/images/tokyo-starfish.png" style="max-width: 100%;width: 500px;height: auto;" />
        <h1>Maximize the outdoor lifestyle<br>from the heart of our home in Bend, Oregon</h1>
    </div>
</div>

<div class="gray-bg" *ngIf="(businessLocations | async) as locations">
    <div class="home-container">
        <h2>Locations</h2>
        <div fxLayout="column" fxLayoutGap="8px"
             fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" fxLayoutWrap.gt-sm>
            <mat-card fxFlex fxFlex.gt-sm="calc(33.33% - 24px)" *ngFor="let location of locations" class.gt-sm="large-location-card" class="mat-elevation-z1"
                    routerLink="../locations/{{location.id}}" routerLinkActive="active">
                <div fxLayout="column">
                    <div fxFlex class="image-large" [ngStyle]="{'background-image': 'url(' + location.photoUrl + ')'}"></div>
                    <div fxFlex class="content-large">
                        <h3>{{ location.name }}</h3>
                        <p>
                            {{ location.phone | phoneNumber }}  
                        </p>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <p><strong>{{ location?.hours[day].open ? 'Open' : 'Closed' }} Today</strong> {{ location?.hours[day].open ? location?.hours[day].openTime + '-' + location?.hours[day].closeTime : '' }}</p> 
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="home-container">
        <span class="see-all">See All <mat-icon>arrow_forward</mat-icon></span>
        <h2>Products</h2>
        <div fxLayout="column" fxLayoutGap="8px"
             fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" fxLayoutWrap.gt-sm>
            <mat-card fxFlex fxFlex.gt-sm="calc(25% - 24px)" class.gt-sm="large-card" class="mat-elevation-z1"
                    *ngFor="let flower of products" (click)="getDetails(flower)">
                <span [class]="flower.type"></span>
                <div fxLayout="row" fxLayout.gt-sm="column" fxLayoutGap="0" fxLayoutAlign="start center">
                    <div fxFlex="30%" fxFlex.gt-sm="100%" class="image" class.gt-sm="image-large" [ngStyle]="{'background-image': 'url(' + flower.image_url + ')'}"></div>
                    <div fxFlex="70%" fxFlex.gt-sm="100%" class="content" class.gt-sm="content-large">
                        <span class="price" class.gt-sm="price-large">${{ flower.price }}/{{ flower.unit }}</span>
                        <h3>{{ flower.name }}</h3>
                        <p>Deschutes Growery</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!-- <div class="gray-bg" *ngIf="(businessLocations | async) as locations">
    <div class="home-container">
        <h2>Reviews</h2>

       <swiper [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let review of reviews">

                        <div class="review">
                            <div class="avatar">
                                <img [src]="(review.user|async)?.photoUrl" />
                            </div>
                            <div class="content">
                                <h3>{{ (review.user|async)?.displayName }}</h3>
                                <small></small>
                                <p>
                                    "{{ review?.message }}"
                                </p>
                            </div>
                        </div>
                </div>
            </div>
            <!-- Add Pagination --
            <div class="swiper-pagination"></div>
            <!-- Add Arrows --
            <div class="swiper-button-next">
                <button mat-icon-button>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <div class="swiper-button-prev">
                <button mat-icon-button>
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
        </swiper>

    </div>
</div> --

<div class="white-bg footer">
    <div class="home-container">
        <h5>All Rights Reserved Powered by Cannafo   |   Copyright 2015 - 2017</h5>
        <p>By accessing this site you agree that you are 21 years or older.</p>
    </div>
</div> -->

<!-- <div class="navigation mat-elevation-z1">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutAlign="center start"><mat-icon>widgets</mat-icon></div>
      <span fxFlex>More</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px" style="margin-top: 24px">
      <div fxFlex="calc(33% - 12px)" class="more-card" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
        <mat-icon class="menu">view_carousel</mat-icon>
        <span class="title">MENU</span>
        <span class="subtitle">View detailed information about all of our products</span>
      </div>
      <div fxFlex="calc(33% - 12px)" class="more-card" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
        <mat-icon class="activity">timeline</mat-icon>
        <span class="title">ACTIVITY</span>
        <span class="subtitle">See all of your activity at our stores</span>
      </div>
      <div fxFlex="calc(33% - 12px)" class="more-card" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
        <mat-icon class="feedback">question_answer</mat-icon>
        <span class="title">FEEDBACK</span>
        <span class="subtitle">Give us some feedback so we can continue improving your experience</span>
      </div>
    </div>
  </div> -->