@import '../../../app-theme';

.line {
    display: flex;
    align-items: center;
}

mat-card {
    margin-left: 0;
    margin-right: 0;
}

mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: mat_color($accent);
}

.location {
    font-size: 12px;
    margin-left: 8px;
    color: mat_color($accent);
}

.timestamp {
    font-size: 12px;
    margin-left: 8px;
    color: rgba(0,0,0,0.54);
}

h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0 4px 0;
}

p {
    margin: 0;
    color: rgba(0,0,0,0.54);
    line-height: 20px;
}