<div class="container">
  <div fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="24px">
    <mat-card fxFlex *ngFor="let message of messages">
      <div class="line">
        <mat-icon>chat</mat-icon> <span class="location">{{ message.location }}</span> <span class="timestamp">&bull; {{ message.timestamp }}</span>
      </div>
      <h3>High Grade Organics</h3>
      <p>{{ message.message }}</p>
    </mat-card>
  </div>
</div>