<div class="rewards-container">
  <div class="r-feature" [style.background-image]="state.matches ? rewardsBanner : ''" *ngIf="loggedIn">
    <div class="current-points" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-sm="center center" [class.small]="state.matches">
      <span class="points">{{ memberPoints }}</span>
      <span class="sub">POINTS AVAILABLE</span>
    </div>
  </div>
  <div class="achievements">
    <div class="gifts-rewards" fxLayout="column" fxLayoutGap="24px">
      <div class="gifts" *ngIf="gifts.length > 0" fxLayout="row wrap" fxLayoutGap="16px">
        <h3 fxFlex="100%">Gifts</h3>
        <mat-card fxFlex="calc(50% - 16px)" fxFlex.lt-md="calc(100% - 4px)" (click)="showTip()"
          *ngFor="let gift of gifts; let i = index; let l = last;" fxLayout="column">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="details" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="4px" fxFlex>
              <span class="title">{{ gift.title }}</span>
              <span class="desc">{{ gift.description }}</span>
            </div>
            <div class="img-x" fxFlex="88px" fxLayout="row">
              <div class="r-img" *ngIf="gift.photoUrl" [style.background-image]="'url(' + gift?.photoUrl + ')'"></div>
              <mat-icon *ngIf="!gift.photoUrl" color="accent">local_activity</mat-icon>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="rewards" fxLayout="row wrap" fxLayoutGap="16px">
        <h3 fxFlex="100%">Rewards</h3>
        <mat-card fxFlex="calc(50% - 16px)" fxFlex.lt-md="calc(100% - 4px)" (click)="showTip()"
          *ngFor="let reward of rewards; let i = index; let l = last;" fxLayout="column">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="img-x" fxFlex="88px" fxLayout="row">
              <div class="r-img" *ngIf="reward.photoUrl" [style.background-image]="'url(' + reward?.photoUrl + ')'"></div>
              <mat-icon *ngIf="!reward.photoUrl">card_giftcard</mat-icon>
            </div>
            <div class="details" fxLayout="column" fxLayoutGap="4px" fxFlex [class.pad]="!loggedIn">
              <span class="title">{{ reward.title }}</span>
              <span class="desc">{{ reward.description }}</span>
            </div>
            <div class="progress" fxFlex="90px" fxLayout="column" *ngIf="loggedIn">
              <div class="spinners">
                <mat-progress-spinner class="disabled" diameter="64" color="default" mode="determinate" value="100"></mat-progress-spinner>
                <mat-progress-spinner diameter="64" color="accent" mode="determinate" [value]="(memberPoints / reward?.points) * 100"></mat-progress-spinner>
                <div class="percent" fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon *ngIf="memberPoints >= reward?.points">done</mat-icon>
                  <span *ngIf="memberPoints < reward?.points">{{ memberPoints / reward?.points | percent }}</span>
                </div>
              </div>
              <div fxFlex="24px" class="spread" fxLayout="row" fxLayoutAlign="center end">
                <span>{{ reward?.points }} pts</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container auth" *ngIf="!loggedIn" fxLayout="row" fxLayoutAlign="center start">
  <div class="not-logged-in">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon>vpn_key</mat-icon>
      <span>Not Logged In</span>
    </div>
  </div>
</div>
<app-bottom-sheet class="animated slideInUp" *ngIf="!loggedIn"></app-bottom-sheet>
-->