@import '../../../app-theme';

/*
mat-card {

    mat-card-title {
        font-size: 18px!important;
    }
    mat-card-subtitle {
        //display: inline-block;
        float: right;
    }
    img {
        border-radius: 4px;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    p {
        font-size: 14px;
    }
}

.img {
    border-radius: 4px;
    mat-icon {
        font-size: 60px;
        height: 60px;
        width: 60px;
    }
}

.large-card {
    margin-bottom: 24px;
    max-width: calc(33.33% - 24px);
}

.feature {
    position: relative;
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.24);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1, span {
        text-shadow: -2px 4px rgba(0,0,0,0.05), -2px 2px rgba(0,0,0,0.10), -2px 2px rgba(0,0,0,0.15);
    }
}

.feature-large {
    padding: 24px;
    width: calc(100% - 48px);
    background-color: mat_color($primary, 50);
    h1 {
        font-size: 32px;
        color: rgba(0,0,0,0.87);
        font-weight: 300;
        line-height: 34px;
        margin: 0;
    }
    span {
        color: rgba(0,0,0,0.87);
        font-size: 16px;
        line-height: 20px;
    }
}
.location-selector {
    // width: 100%;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        position: absolute;
        font-size: 12px;
        mat-icon {
            font-size: 32px;
            color: mat_color($accent);
            width: 32px;
            height: 32px;
        }
    }
}

.points-two {
    position: relative;
    min-height: 80px;

    .spinner-container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .spinner-inner {
            width: 100%;
            position: relative;
            min-height: 80px;

            mat-progress-spinner {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.reward-tip {
    padding: 0px;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    height: 0px;
    transition: 0.3s ease;
}
.reward-tip.grow {
    padding: 16px;
    height: 14px;
}

.gift-points {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        position: absolute;
        font-size: 12px;
        mat-icon {
            font-size: 48px;
            color: mat_color($accent);
            width: 48px;
            height: 48px;
        }
    }
}

small {
    color: rgba(0,0,0,0.54);
    display: block;
    text-align: center;
    margin-bottom: 4px;
}

/*
:host /deep/ .mat-progress-spinner {
    width: 80px!important;
    height: 80px!important;
    svg {
        height: 80px!important;
        width: 80px!important;
    }
}
*/

.rewards-container {

}

.r-feature {
    width: 100%;
    background-color: mat_color($primary, 100);
    margin-bottom: 16px;
    background-size: cover;
    background-position: center center;

    .current-points {
        height: 100%;
        width: 100%;
        padding: 24px 24px;
        transition: 0.3s ease;

        .points {
            font-size: 48px;
            color: mat_contrast($primary, 100);
        }
        .sub {
            font-size: 14px;
            color: mat_contrast($primary, 100);
        }

        &.small {
            background-color: rgba(0,0,0,0.24);
            .points, .sub {
                color: #fff;
            }
        }
    }
}

.achievements {
    width: 100%;

    .gifts-rewards {
        width: 100%;
        padding: 0px 8px 0px 24px;
    }
}

.gifts {
    mat-card {
        position: relative;
        min-height: 0px !important;
        .img-x {
            padding: 24px 24px 24px 0px !important;
        }
        .details {
            padding: 24px 0px 24px 24px !important;
        }
    }
}

.rewards, .gifts {
    mat-card {
        max-width: calc(50% - 16px);
        position: relative;
        padding: 0 !important;
        min-height: 112px;

        .img-x {
            height: 100%;
            padding: 24px 0px 0px 24px;

            .r-img {
                width: 64px;
                height: 64px;
                border-radius: 6px;
                background-size: cover;
                background-position: center center;
            }

            mat-icon {
                height: 64px;
                width: 64px;
                font-size: 64px;
            }
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 96px;
            background-size: cover;
            background-position: center center;

            .overlay {
                height: 100%;
                width: 100%;
                background: linear-gradient(
                    90deg,
                    transparent,
                    rgba(255,255,255,0.34),
                    rgba(255,255,255,0.44),
                    rgba(255,255,255,0.54),
                    rgba(255,255,255,0.64),
                    rgba(255,255,255,0.74),
                    rgba(255,255,255,0.84),
                    rgba(255,255,255,0.94),
                    #fff
                );
            }
        }

        .details {
            padding: 24px 0px 24px 0px;
            z-index: 2;
            .title {
                font-size: 16px;
            }
            .desc {
                font-size: 12px;
                color: rgba(0,0,0,0.65);
            }
            &.pad {
                padding: 24px 24px 24px 0px;
            }
        }

        .progress {
            position: relative;
            padding: 24px 24px 24px 0px;

            .spinners {
                width: 100%;
                position: relative;

                mat-progress-spinner {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .percent {
                    width: 64px;
                    height: 64px;
                }
            }
            .spread {
                span {
                    font-size: 12px;
                    color: rgba(0,0,0,0.54);
                }
            }
        }

        .bottom {
            padding: 0px 24px 24px 24px;
            
        }
    }
}


:host /deep/ .mat-progress-spinner circle {
    stroke-linecap: round;
}

:host /deep/ .mat-progress-spinner.disabled circle {
    // stroke: rgba(black, 0.14);
    stroke: mat_color($accent, 50);
}

.no-gifts-row {

    mat-icon {
        font-size: 56px;
        height: 56px;
        width: 56px;
    }
}

.container.auth {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

.no-acts-row {
    height: 100%;
    
    mat-icon {
        color: #fff;
        height: 48px;
        width: 48px;
        font-size: 48px;
        border-radius: 50%;
        box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
        background-color: mat_color($accent, 300);
        border-radius: 50%;
        padding: 16px;
    }
}

@media screen and (min-width: 960px) {
    .last-item {
        margin-right: 8px;
    }
    mat-card {
        margin-bottom: 16px;
    }
    .card-cont, .gift-card {
        max-width: calc(50% - 16px);
    }
}

@media screen and (max-width: 960px) {
    .gifts-rewards {
        padding: 0px 8px 0px 12px !important;
    }
    mat-card {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 600px) {
    .r-feature {
        .current-points {
            padding: 64px 24px;
        }
    }
}