<mat-sidenav-container [class.dark-themed]="darkTheme">

  <mat-sidenav #sidenav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [class.mat-elevation-z6]="mobileQuery.matches ? false : true">
    <header class="side-nav-header">
      <div class="side-nav-header-logo"
        fxLayout="row"
        fxLayoutAlign="center center">
        <img [src]="(bSettings | async)?.logo || placeholder">
      </div>
    </header>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item class="main-links"
        (click)="handleNavLinks('home', $event)" routerLinkActive="active" *ngIf="showHome">
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine>Home</span>
      </a>
      <a mat-list-item class="main-links"
        (click)="handleNavLinks('products', $event)" routerLinkActive="active">
        <mat-icon mat-list-icon>list</mat-icon>
        <span matLine>Products</span>
      </a>
      <a mat-list-item class="main-links"
        (click)="handleNavLinks('locations', $event)" routerLinkActive="active">
        <mat-icon mat-list-icon>place</mat-icon>
        <span matLine>{{ locations.length > 1 ? 'Locations' : 'Location' }}</span>
      </a>
      <a mat-list-item class="main-links"
        routerLink="articles" routerLinkActive="active" *ngIf="showArticles" (click)="closeNav()">
        <mat-icon mat-list-icon>description</mat-icon>
        <span matLine>Articles</span>
      </a>
      <a mat-list-item class="main-links"
        (click)="handleNavLinks('rewards', $event)" routerLinkActive="active" *ngIf="hasLoyalty">
        <mat-icon mat-list-icon>insert_emoticon</mat-icon>
        <div matLine fxLayoutAlign="start center">
          <span fxFlex>Rewards</span>
          <div class="r-count" *ngIf="aRewards > 0">{{ aRewards }}</div>
        </div>
      </a>
      <a mat-list-item class="main-links" [class.disabled]="!signBtnFlag"
        (click)="handleNavLinks('orders', $event)" routerLinkActive="active" *ngIf="canOrder">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <span matLine>Orders</span>
      </a>
      <a mat-list-item class="main-links" [class.disabled]="!signBtnFlag"
        (click)="handleNavLinks('activity', $event)" routerLinkActive="active" *ngIf="hasLoyalty">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <span matLine>Activity</span>
      </a>
      <a mat-list-item class="main-links" [class.disabled]="!signBtnFlag"
        (click)="handleNavLinks('profile', $event)" routerLinkActive="active">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span matLine>Profile</span>
      </a>
      <a mat-list-item class="main-links" [class.disabled]="!signBtnFlag"
        (click)="handleNavLinks('settings', $event)" routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span matLine>Settings</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item class="main-links"
        (click)="handleSignBtn()">
        <mat-icon mat-list-icon>input</mat-icon>
        <span matLine>{{ signBtnText }}</span>
      </a>
      <a mat-list-item class="main-links"
        (click)="handleNavLinks('help', $event)" routerLinkActive="active">
        <mat-icon mat-list-icon>help</mat-icon>
        <span matLine>Help</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-bar" color="primary" [class.mat-elevation-z4]="showShadow === true" [class.trans]="toolbarTrans === true">
      <button mat-icon-button *ngIf="rootPage" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <button mat-icon-button *ngIf="!rootPage" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
      <span class="title" *ngIf="!home">{{ title }}</span>
      <span class="filler"></span>
      <!--
      <button mat-icon-button [class.hidden]="!locationFilter || locations.length < 2" #locButton title="Location Filter" (click)="openLocationFilter()">
        <mat-icon class="md-24">location_on</mat-icon>
      </button>
      <button mat-icon-button [class.hidden]="!showSearch" title="Filter" (click)="openFilter()">
        <mat-icon class="md-24" >filter_list</mat-icon>
      </button>
      -->
      <button mat-icon-button [class.hidden]="!showSearch" title="Search" (click)="toggleSearch()">
        <mat-icon class="md-24" >search</mat-icon>
      </button>
      <button mat-icon-button *ngIf="showFavorite && signBtnFlag" (click)="saveFavoriteLocation()">
        <mat-icon class="md-24" *ngIf="fav !== ls.currentLocation">star_outline</mat-icon>
        <mat-icon class="md-24" *ngIf="fav === ls.currentLocation">star_full</mat-icon>
      </button>
      <div class="cart" *ngIf="canOrder">
        <button mat-icon-button title="Cart" (click)="handleNavLinks('cart', $event)">
          <mat-icon [matBadge]="ordersLength" matBadgeColor="accent" matBadgeSize="medium" [matBadgeHidden]="ordersLength < 1">shopping_cart</mat-icon>
        </button>
        <!--<div class="tick" [class.show]="ordersLength > 0" (click)="handleNavLinks('cart', $event)"><span>{{ ordersLength }}</span></div>-->
      </div>
    </mat-toolbar>
    <mat-toolbar color="primary" *ngIf="search">
      <button mat-icon-button (click)="toggleSearch()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <input class="search" appFocus placeholder="Search" [(ngModel)]="searchString" (ngModelChange)="searchChange(search)" />
    </mat-toolbar>
    <div class="space" [class.trans]="toolbarTrans === true"></div>
    <div #appContent cdkScrollable class="app-container" [class.trans]="toolbarTrans === true">
      <router-outlet></router-outlet>
    </div>
    <!--
    <div class="discovery" [class.show]="discover">
      <div class="inner">
        <div class="feature-circle" [class.show]="discover">
          <div class="icon" (click)="discoveryClick()">
            <mat-icon color="primary">location_on</mat-icon>
          </div>
          <div class="hint" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
            <span class="title">Select your location</span>
            <span class="text">Tap the location pin to view products at different stores.</span>
            <span class="action" mat-ripple (click)="discoveryClick()">OK</span>
          </div>
        </div>
      </div>
    </div>
    -->
  </mat-sidenav-content>

</mat-sidenav-container>
