@import '../../app-theme';

mat-sidenav {
    min-width: 280px;
}

.title {
    padding-left: 16px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.filler {
    flex: 1 1 auto;
}

.space {
    height: 64px;
    width: 100%;
    transition: 0.2s ease-in-out;

    &.trans {
        height: 0px;
    }
}

.app-container {
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    position: relative;

    &.trans {
        height: 100vh;
    }
}

.app-bar {
    .mat-icon-button {
        &.hidden {
            visibility: hidden;
            width: 0;
        }
    }
}

.discovery {
    position: absolute;
    top: calc(-350px + 28px);
    right: calc((350px + 176px) - 20px);
    height: 100vh;
    // width: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-in-out;

    &.show {
        z-index: 6;
        opacity: 1;
    }

    .inner {
        position: relative;
        // width: 100%;
        height: 100%;

        .feature-circle {
            position: absolute;
            height: 700px;
            width: 700px;
            border-radius: 50%;
            background-color: mat_color($accent, 500, 0.96);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(0,0);
            transition: 1s ease-in-out;

            &.show {
                transform: scale(1,1);
            }

            .icon {
                height: 88px;
                width: 88px;
                background-color: mat_contrast($accent, 500);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                animation: pulse 1.2s ease infinite;
                cursor: pointer;
                cursor: hand;
            }
            .hint {
                position: absolute;
                margin-top: 120px;
                margin-left: -120px;
                color: mat_contrast($accent, 500);

                .title {
                    font-size: 24px;
                    padding-left: 0px;
                }
                .text {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(255,255,255,0.9);
                    max-width: 210px;
                }
                .action {
                    position: relative;
                    margin-top: 4px;
                    font-size: 16px;
                    cursor: pointer;
                    cursor: hand;
                    padding: 8px 0px;
                }
            }
        }
    }
}

@keyframes pulse {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

.mat-nav-list {
    .active {
        color: mat_color($accent);
        background: rgba(0,0,0,0.04);
    }
}

.side-nav-header {
    min-width: 275px;
    max-width: 280px;
    width: 100%;
    min-height: 100px;
    // background-color: #fff; //mat_color($primary);
    color: mat_contrast($primary, 500);
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .user-avatar {
        border-radius: 50%;
        text-align: center;
        // 2dp? Should be variable
        margin: 0px 24px 20px 24px;
        //margin-bottom: 16px;
        width: 64px;
        height: 64px;
        border: 1px solid rgba(mat_contrast($accent, 500), 0.5);
        font-size: 28px;
    }
    .user-name {
        display: block;
        margin-left: 24px;
        color: mat_contrast($accent, 500);
        font-size: 14px;
        font-family: Roboto, 'Helvetica', sans-serif;
        line-height: 20px;

        &:last-of-type {
        padding-bottom: 8px;
        }
    }
    .mat-icon-button {
        color: mat_contrast($accent, 500);
        float: right;
        margin-left: 16px;
        margin-top: -2px;
    }
    .side-nav-header-logo {
        width: 100%;
        height: 100%;
        max-height: 250px;
        img {
            max-width: 80%;
            max-height: 160px;
            border-radius: 4px;
            /*height: auto;
            padding: 10px;
            background-color: #fff;
            border: 1px #ddd solid;
            border-radius: 4px;*/
        }
    }
}

.side-nav-header-large {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mat_color($primary);
    color: mat_contrast($primary, 500);
    padding: 14px;
    min-height: 200px;
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    img {
        max-width: 150px;
        height: auto;
    }
}

.side-nav-brand {
  position:absolute;
  bottom:16px;
  display:block;
  text-align:center;
  width: 100%;
}

.mat-input-infix {
    padding: 0;
}

.mat-input-element {
    font-size: 14px;
    font-weight: 400;
}

.search {
    height: 48px;
    outline: 0;
    width: 100%;
    font-size: 18px;
    border: 0;
    background-color: transparent;
    color: mat_contrast($primary, 500);
}


:host /deep/ mat-list {
    padding-top: 0 !important;
}

.home-button {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 2;
    color: #fff;
}

.mat-drawer-content {
    margin-left: 262px;
}

.cart {
    position: relative;

    .tick {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: mat_color($accent, 300);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        opacity: 0;
        transition: 0.3s ease;
        outline: none;

        span {
            font-size: 10px;
            color: mat_contrast($accent, 400);
        }
    }
    .tick.show {
        opacity: 1;
    }
}

.r-count {
    height: 24px;
    width: 24px;
    font-size: 12px;
    background-color: mat_color($accent);
    color: mat_contrast($accent, 400);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .mat-nav-list .mat-list-item:hover {
        background: transparent;
    }
    .mat-nav-list .mat-list-item.mat-list-item-focus {
        background: transparent;
    }
}

@media screen and (max-width: 600px) {
    .app-container {
        height: calc(100vh - 56px);

        &.trans {
            height: 100vh;
        }
    }

    .space {
        height: 56px;

        &.trans {
            height: 0px;
        }
    }

    .hint {
        margin-left: -70px !important;
    }
}

@media screen and (min-width: 1024px) {
    /*
    :host /deep/ .mat-toolbar {
        width: calc(100% - 280px);
    }
    */
}