/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/_theming';
@import './app-palette';
@include mat-core();
@include angular-material-theme($theme);

.dark-themed {
    @include mat-sidenav-theme($dark-theme);
    @include mat-list-theme($dark-theme);
}

.test-dark {
    @include mat-core();
    @include angular-material-theme($dark-theme);
    @include mat-core-theme($theme);
}

.light-themed {
    @include mat-list-theme($theme);
}