/* For use in src/lib/core/theming/_palette.scss */
//http://mcg.mbitson.com/

/* WHITE THEME */

$mat-primary: (
    50 : #e0f7fa,
    100 : #b3ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00b6cf,
    700 : #00adc9,
    800 : #00a5c3,
    900 : #0097b9,
    A100 : #e2f9ff,
    A200 : #afeeff,
    A400 : #7ce3ff,
    A700 : #63ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #FFFFFF,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-secondary: (
    50 : #fce4ec,
    100 : #f8bcd0,
    200 : #f48fb1,
    300 : #f06292,
    400 : #ec407a,
    500 : #e91e63,
    600 : #e61a5b,
    700 : #e31651,
    800 : #df1247,
    900 : #d90a35,
    A100 : #ffffff,
    A200 : #ffd0d8,
    A400 : #ff9dae,
    A700 : #ff8498,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@import './theme.palette';

$primary: mat-palette($theme-mat-primary);
$accent: mat-palette($theme-mat-accent);
$warn: mat-palette($theme-mat-warn);
$theme: mat-light-theme($primary, $accent, $warn);

$dark-theme: mat-dark-theme($primary, $accent, $warn);
