/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,500,400,300,200,100");

//@import "styles/typography";
@import './app-theme';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

mat-sidenav-content {
  position: relative;

  mat-toolbar {
    position: absolute;
    z-index: 5;

    &.trans {
      background: linear-gradient(rgba(0,0,0,0.7), transparent) !important;
      color: #fff !important;
    }
  }
}

.mat-drawer-content {
  overflow-x: hidden !important;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.second {
  color: rgba(0,0,0,0.54);
}

.third {
  color: rgba(0,0,0,0.34);
}

.mat-tab-header {
  background-color: mat_color($primary);
}

.mat-ink-bar {
  background-color: mat_color($accent);
}

.mat-tab-label {
  color: mat_contrast($primary, 500);
}

.mat-tab-label-active {
  color: mat_contrast($primary, 800);
  opacity: 1!important;
}

.mat-tab-body {
  padding: 0 8px 16px 8px;
  overflow: visible!important;
}
.mat-tab-body-content {
  overflow: visible!important;
}

.container {
  padding: 8px;
  p {
    font-size: 14px;
    line-height: 18px;
  }
}

.feature {
    height: calc(100vh / 3);
    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: 50% 50%;
    background-size: cover;
    h1 {
        font-size: 102px;
        line-height: 112px;
        margin: 0;
        text-align: center;        
        font-family: 'Roboto', sans-serif;
        color: #FFF;
        font-weight: 300;
    }
    span {
        display:block;
        width: 100%;
        text-align:center;
        font-size: 16px;
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        color: #FFF;
    }
}

.mat-ink-bar {
  background-color: mat_color($accent)!important;
}

.mat-calendar-header {
  background-color: mat_color($accent) !important;
  color: mat_contrast($accent, 500) !important;
}
.mat-calendar-arrow {
  border-top-color: rgba(255,255,255,0.54);
}

.main-links {
  &.disabled {
    // color: rgba(0,0,0,0.34) !important;
  }
}


@media only screen and (min-width: 960px) {
  .container {
    padding: 24px;
  }
  .mat-tab-body {
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .mat-drawer-content {
    margin-left: 0px !important;
  }
}

.item-overlay {
  left: 0 !important;
}

.dark-backdrop {
  background-color: rgba(0,0,0,0.54);
}