@import '../../../app-theme';

.container {
    padding: 24px;

    .content {

        .constraint {
            max-width: 600px;
            margin: 0 auto;

            .order {

                h3 {
                    margin-top: 0px;
                }

                .item-row {
                    background-color: #fff;
                    border-radius: 4px;
                    position: relative;
                    padding: 8px 16px;
                    min-height: 100px;

                    .left {

                        .name {
                            font-size: 16px;
                            font-weight: 400;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .type {
                            font-size: 12px;
                            font-weight: 200;
                            color: rgba(0,0,0,0.65);
                        }
                        .pricing {

                            .price {
                                padding: 6px 12px;
                                margin-bottom: 7px;
                                background: linear-gradient(to right, mat_color($accent, 400), mat_color($accent, 300));
                                color: mat_contrast($accent, 400);
                                border-top-left-radius: 2em;
                                border-bottom-left-radius: 2em;
                                border-top-right-radius: 2em;
                                border-bottom-right-radius: 2em;

                                .number {
                                    font-size: 12px;
                                }
                                .unit {
                                    font-size: 10px;
                                }
                            }

                        }

                    }
                    .right {
                        
                        .quantity {
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 28px;
                                width: 28px;
                                border-radius: 50%;
                                background-color: #f0f0f0;
                            }
                        }
                    }

                    .remove {
                        position: absolute;
                        top: 12px;
                        right: 12px;

                        mat-icon {
                            height: 16px;
                            width: 16px;
                            font-size: 16px;
                            color: #4b4b4b;
                            background-color: #ffffff;
                            border-radius: 50%;
                            padding: 4px;
                        }
                    }

                }

                .item-row-two {
                    background-color: #fff;
                    border-radius: 4px;
                    position: relative;
                    padding: 16px 16px 8px 16px;

                    .remove {
                        position: absolute;
                        top: 12px;
                        right: 12px;

                        mat-icon {
                            height: 16px;
                            width: 16px;
                            font-size: 16px;
                            color: #4b4b4b;
                            background-color: #ffffff;
                            border-radius: 50%;
                            padding: 4px;
                        }
                    }

                    .top {

                        .name {
                            font-size: 16px;
                            font-weight: 400;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .type {
                            font-size: 12px;
                            font-weight: 300;
                            color: rgba(0,0,0,0.75);
                        }

                    }
                    .bottom {
                        margin-top: 16px;

                        .pricing {

                            .price {
                                padding: 6px 12px;
                                background: linear-gradient(to right, mat_color($accent, 400), mat_color($accent, 300));
                                color: mat_contrast($accent, 400);
                                border-top-left-radius: 2em;
                                border-bottom-left-radius: 2em;
                                border-top-right-radius: 2em;
                                border-bottom-right-radius: 2em;

                                .number {
                                    font-size: 12px;
                                }
                                .unit {
                                    font-size: 10px;
                                }
                            }

                        }

                    }
                }

                /* .item-row {

                    .name {

                    }
                    .quantity {

                    }
                    .pricing {
                        .price {
                            font-size: 16px;
                        }
                        .unit {
                            font-size: 10px;
                        }
                    }
                } */

                .total-row {

                    .total {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.container.zero {
    width: 100%;
    
    .not-logged-in {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            
            mat-icon {
                color: #fff;
                height: 72px;
                width: 72px;
                font-size: 72px;
                border-radius: 50%;
                box-shadow: inset 0 0 2px rgba(0,0,0,.12), inset 0 2px 4px rgba(0,0,0,.24);
                background-color: mat_color($accent, 300);
                border-radius: 50%;
                padding:36px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}