<div class="container">
  <div class="blacklist" *ngIf="authFlag && !orderAllowed"
    fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px"
    fxLayout.lt-md="column" fxLayoutGap="8px">
    <span>Online ordering has been disabled</span>
    <span>Please contact us at (555) 555-5555</span>
  </div>
  <div class="content">
    <div class="constraint">
      <div class="order" fxLayout="column" fxLayoutGap="16px" *ngIf="orderItems.length > 0">
        <h3>Order Details</h3>

        <div class="item-row-two mat-elevation-z1" *ngFor="let item of orderItems; let i = index; let l = last"
          fxLayout="column">
          <div class="top" fxLayout="column" fxLayoutGap="4px">
            <span class="name">{{ item?.name }}</span>
            <span class="type">{{ item?.category | uppercase }}</span>
          </div>
          <div class="bottom" fxLayout="row">
            <div class="pricing" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <div class="price" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
                <span class="number">{{ item?.price | currency:'USD':'symbol':'1.0-2' }}</span>
                <span class="unit">{{ item?.unit | uppercase }}</span>
              </div>
            </div>
            <div class="quantity" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
              <button mat-icon-button color="default" (click)="subtractQuantity(item)" [disabled]="item.quantity < 2"><mat-icon>remove</mat-icon></button>
              <span>{{ item.quantity }}</span>
              <button mat-icon-button color="default" (click)="addQuantity(item)"><mat-icon>add</mat-icon></button>
            </div>
          </div>
          <div class="remove" fxFlex fxLayout="row" fxLayoutAlign="end start">
            <mat-icon (click)="removeItem()">close</mat-icon>
          </div>
        </div>

        <div class="total-row" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex="80%">TOTAL</span>
          <span fxFlex="20%" class="total">{{ '$' + total }}</span>
        </div>

        <button mat-raised-button color="accent" *ngIf="authFlag && orderAllowed" (click)="sendOrder()" [disabled]="(orderItems.length < 1) || sending">SEND ORDER</button>

        <div class="mat-elevation-z1" style="background-color: #fff; border-radius: 4px; padding: 24px;"
          fxLayout="column" fxLayoutAlign="center center" *ngIf="!authFlag">
          <p>You must be logged in to order</p>
          <div fxLayout="row" fxLayoutGap="8px">
            <button fxFlex mat-button color="accent" (click)="gotoLogin()">Sign In</button>
            <button fxFlex mat-raised-button color="accent" (click)="gotoLogin()">Sign Up</button>
          </div>
        </div>

      </div>

      <div class="container zero" *ngIf="orderItems.length < 1" fxLayout="row" fxLayoutAlign="center start">
        <div class="not-logged-in">
          <div class="inner" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <mat-icon (click)="gotoMenu()">add_shopping_cart</mat-icon>
            <span>No Items in Your Cart</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

