.container {
    width: calc(100vw - 56px);
    display: flex;
    justify-content: center;
    padding: 0px 24px;

    .card {
        padding: 24px;
        background-color: #fff;
        border-radius: 4px;
        max-width: 500px;
        animation: cardFade 500ms ease-out;
    }
}

@keyframes cardFade {
    from { opacity: 0 }
    to { opacity: 1 }
}