<div class="container">

  <!-- <div class="card mat-elevation-z1">
    <h2 matDialogTitle>
      {{ item?.name }}
    </h2>
    <mat-dialog-content>
      {{ item?.description }}
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button color="accent" (click)="close()">CLOSE</button>
      <button mat-button color="accent">ADD TO CART</button>
    </mat-dialog-actions>
  </div> -->
  
</div>
